code {
  white-space: pre;
  overflow: hidden;
  font-family: monospace, serif;
  padding: $s6;
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;
  text-align: left;
  margin: auto;
  color: $palette--primary-white;
}