var {
  font-family: courier;
  display: inline-block;
  border: 1px solid $palette--divider-color;
  border-radius: 4px;
  padding: 0 0.5rem;
  background-color: transparent;
  color: $palette--primary-white;
}