main.thoughts.index {
  .thoughts-list {
    text-align: justify;

    li {
      display: block;
      margin: 20px auto;
    }

    a {
      color: $black;
      overflow: hidden;
      display: block;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0 0 0px $off-white;
      padding: 10px;
      @include transition(box-shadow 0.2s ease-in-out);

      &:hover {
        box-shadow: 0 0 15px $off-white;
      }
    }
  }
}