@import "highlight.js/scss/a11y-dark";

code {
  white-space: pre;
  overflow: hidden;
  font-family: monospace, serif;
  padding: $s5;
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;
  text-align: left;
  margin: auto;
  color: $palette--primary-color-text--white;
}


.code-container {
  @include font-size;
  max-width: $grid--copy-max-width;
  margin: auto auto $s6;
  margin-bottom: $s6;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  border: 2px solid var(--primary-color, #{$palette--primary-color});

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: $s5;
  }

  &::before {
    left: 0px;
    background: linear-gradient(to left, rgba($palette--primary-text-color--dark, 0), rgba($palette--primary-text-color--dark, 1));
  }
  &::after {
    right: 0px;
    background: linear-gradient(to right, rgba($palette--primary-text-color--dark, 0), rgba($palette--primary-text-color--dark, 1));
  }
}

var {
  font-family: courier;
  display: inline-block;
  border: 1px solid $palette--divider-color;
  border-radius: 4px;
  padding: 0 0.5rem;
  background-color: transparent;
  color: $palette--primary-color-text--white;
}
