@import "highlight.js/scss/a11y-light";
@include dark-mode {
  @import "highlight.js/scss/a11y-dark";
}

code {
  white-space: pre;
  overflow: hidden;
  font-family: monospace, serif;
  padding: $s5;
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;
  color: var(--primary-text-color, #{$pallette--primary-text-color});
  text-align: left;
  margin: auto;

  @include dark-mode {
    color: var(--primary-color-text, #{$pallette--primary-color-text});
  }
}

.code-container {
  @include font-size;
  max-width: $grid--copy-max-width;
  margin: auto auto $s6;
  margin-bottom: $s6;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  border: 2px solid var(--primary-color, #{$pallette--primary-color});

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: $s5;
  }

  &::before {
    left: 0px;
    background: linear-gradient(to left, rgba($color--white, 0), rgba($color--white, 1));

    @include dark-mode {
      background: linear-gradient(to left, rgba($pallette--primary-text-color, 0), rgba($pallette--primary-text-color, 1));
    }
  }
  &::after {
    right: 0px;
    background: linear-gradient(to right, rgba($color--white, 0), rgba($color--white, 1));

    @include dark-mode {
      background: linear-gradient(to right, rgba($pallette--primary-text-color, 0), rgba($pallette--primary-text-color, 1));
    }
  }
}

var {
  font-family: courier;
  display: inline-block;
  border: 1px solid var(--divider-color, #{$pallette--divider-color});
  border-radius: 4px;
  padding: 0 0.5rem;
  background-color: var(--primary-color-light, #{$pallette--primary-color-light});
  color: var(--primary-text-color, #{$pallette--primary-text-color});

  @include dark-mode {
    background-color: transparent;
    color: var(--primary-color-text, #{$pallette--primary-color-text});
  }
}