code {
  white-space: pre;
  overflow: hidden;
  font-family: monospace, serif;
  padding: $s5;
  display: block;
  overflow-x: auto;
  width: 100%;
  border: 2px solid var(--primary-color, #{$primary-color});
  color: $primary-text-color;

  @include dark-mode {
    color: $primary-color-text;
  }
}

.code-container {
  @include font-size();
  max-width: 600px;
  margin: auto auto $s6;
  margin-bottom: $s6;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: $s9;
  }

  &::before {
    left: 2px;
    background: linear-gradient(to left, transparent, $google-white);

    @include dark-mode {
      background: linear-gradient(to left, transparent, $primary-text-color);
    }
  }
  &::after {
    right: 2px;
    background: linear-gradient(to right, transparent, $google-white);

    @include dark-mode {
      background: linear-gradient(to right, transparent, $primary-text-color);
    }
  }
}

var {
  font-family: courier;
  display: inline-block;
  border: 1px solid $divider-color;
  border-radius: 4px;
  padding: 0 0.5rem;
  background-color: var(--primary-color-light, #{$primary-color-light});
  color: $primary-text-color;

  @include dark-mode {
    background-color: transparent;
    color: $primary-color-text;
  }
}