footer {
  padding: $s6 0;
  text-align: center;
  background-color: $cloud;
  color: $black;
  margin-top: $spacer;

  li {
    @include font-size();

    + li {
      margin-top: $s1;
    }

    @include mq($tablet) {
      @include font-size();
    }
  }
}