footer {
  padding: $s6 0;
  text-align: center;
  margin-top: $spacer;
  color: $primary-color-text;
  background-color: var(--primary-color-dark, #{$primary-color-dark});

  a,
  a:visited,
  button {
    outline: none;
    background-color: transparent !important;
    padding: 0;

    &::before {
      background-color: $primary-color-text;
    }
  }

  li {
    @include font-size();

    + li {
      margin-top: $s1;
    }

    @include mq($tablet) {
      @include font-size();
    }
  }
}