footer {
  padding: $s6 0;
  text-align: center;
  background-color: $cloud;
  color: $black;
  margin-top: $s8;

  li {
    @include font-size();

    + li {
      margin-top: $s2;
    }

    @include mq($tablet) {
      @include font-size();
    }
  }

  a,
  a:visited {
    color: $purple;
    text-decoration: none;
    position: relative;

    &:before {
      position: absolute;
      bottom: 0;
      height: 1px;
      background: $purple;
      content: "";
      left: 51%;
      right: 51%;
      @include transition(left .2s ease-out, right .2s ease-out);
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        left: 0;
        right: 0;
      }
    }
  }
}