footer {
  padding: $s6 0;
  text-align: center;
  margin-top: $spacer;
  color: $primary-color-text;
  background-color: $primary-color;

  @include dark-mode {
    background-color: $primary-color-dark;
  }

  a,
  a:visited {
    color: $primary-color-text;

    &:hover,
    &:focus {
      color: $primary-color-text;
    }

    &::before {
      content: unset;
    }
  }

  li {
    @include font-size();

    + li {
      margin-top: $s1;
    }

    @include mq($tablet) {
      @include font-size();
    }
  }
}