@import "./nav";

header.main-header {
  width: 100%;
  @include font-size();
  margin-bottom: $spacer;
  font-family: $sans-serif;
  color: $primary-color-text;
  overflow: hidden;
  position: relative;
  margin-top: $s11;
  background-color: var(--primary-color, #{$primary-color});

  @include dark-mode {
    background-color: var(--primary-color-dark, #{$primary-color-dark});
  }

  .name {
    @include font-size(7);
    display: block;
    width: 100%;
    margin: auto;
    color: $primary-color-text;
  }

  &.with-head {
    height: 50vh;
    background-image: url('/images/icons/my-face.svg');
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow: visible;
    filter: saturate(0.7);
  }

  &.without-head {
    padding: $s5 0;
  }
}





@include mq($tablet) {
  header.main-header {
    .name {
      @include font-size(8);
      padding: 0 $s10;
      line-height: 61px; // override
      margin: auto;
    }

    &.with-head {
      height: 380px;
    }
  }
}

