@import "./nav";

header.main-header {
  width: 100%;
  @include font-size();
  margin-bottom: $spacer;
  font-family: $sans-serif;
  color: $black;
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;

  .name {
    @include font-size(7);
    display: block;
    width: 100%;
    margin: auto;
    color: $white;
  }

  &.with-head {
    height: 50vh;
    background-image: url('/images/icons/my-face.svg');
    background-size: auto 45vh;
    background-position: center top;
    background-repeat: no-repeat;

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.without-head {
    padding: $s5 0;
  }
}





@include mq($tablet) {
  header.main-header {
    .name {
      @include font-size(8);
      padding: 0 $s10;
      line-height: 61px; // override
      margin: auto;
    }

    &.with-head {
      height: 380px;
      background-size: auto 320px;
    }
  }
}

