@import "./nav";

header.main-header {
  width: 100%;
  @include font-size(15);
  font-family: $sans-serif;
  color: $black;
  height: 50vh;
  overflow: hidden;
  position: relative;

  background-image: url('/images/icons/my-face.svg');
  background-color: #1f1f1f;
  background-size: auto 50vh;
  background-position: center 6vh;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .name {
    @include font-size(30);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    margin: auto;
    color: $white;
    font-weight: 200;
  }
}





@include mq(640px) {
  header.main-header {
    height: 380px;

    .name {
      @include font-size(50);
      padding: 0 40px;
      line-height: 61px;
      margin: auto;
    }
  }
}

