@import "modules/sticky-stacky";

$nav-height: $s11;

html {
  --nav-height: #{$nav-height};
  --window-height: calc(100vh - #{$nav-height});
}

#nav-overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;

  &.visible {
    display: block;
  }
}

nav.main {
  border-radius: 0;
  margin: 0;
  transition-property: opacity;
  z-index: 5;
  width: 100%;
  position: relative;
  @include palette--base;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    bottom: -2px;
    @include orange-gradient;
  }

  a,
  a:visited,
  button {
    padding: 0;
  }

  .content, .container {
    overflow: visible;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: $nav-height;
    @include palette--base;

    &::after {
      display: block;
      content: "";
      position: absolute;
      @include palette--base;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100vw;
    }
  }
  .menu {
    display: block;
    background-color: transparent;
    color: $palette--primary-white;
    font-weight: $regular;
    padding: 4px 8px;
    box-shadow: 0 0 0 1px $palette--primary-color-light;
    border-color: transparent;

    &::before {
      content: unset;
    }
  }

  #nav-tray {
    z-index: -1;
    position: absolute;
    top: calc(100% + 12px);
    transform-origin: calc(100% - #{$s2 + 20px}) -$s2;
    transform: rotate(-180deg);
    display: grid;
    right: $s2;
    transition-property: transform;
    transition-duration: $transition-speed;
    transition-timing-function: $transition-timing;
    @include palette--base;
    box-shadow: 0 0 0 1px $palette--primary-color-light;
    padding: $s1;

    &.slide-down {
      transform: rotate(0deg);
    }

    @include mq($medium) {
      right: $s5;
    }

    #top-triangle {
      &,
      &::after {
        position: absolute;
        width: $s4;
        height: $s4;
        border-style: solid;
        border-width: $s2;
        border-radius: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }

      &::after {
        content: '';
        left: -12px;
        top: -12px;
        border-bottom-color: $palette--primary-grey;
        transform: translateY(2px);
      }

      top: -$s4;
      right: 20px;
      border-bottom-color: $palette--primary-color-light;
    }
  }

  .nav-link {
    background-color: transparent;
    padding: 4px 8px;
  }


  .link {
    @include font-size;
    font-family: $sans-serif;
    color: $palette--primary-white;

    &.brand {
      width: auto;
      max-width: css-min(calc(100% - #{66px + 12px}), 200px);
      display: flex;
      justify-content: flex-start;
      align-items: middle;
      @include palette--base;

      &::after {
        top: 4px;
        height: calc(100% - 8px);
      }

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}
