nav.main {
  background-color: $primary-color;
  border-radius: 0;
  margin: 0;
  transition-property: opacity;
  z-index: 5;
  position: fixed;
  width: 100%;

  @include dark-mode {
    background-color: $primary-color-dark;
  }

  &.shadow,
  .mobile-nav-links {
    box-shadow: 0 0 $s2 $primary-text-color;
  }

  a,
  a:visited,
  button {
    outline: none;
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $s11;
    background-color: $primary-color;

    @include dark-mode {
      background-color: $primary-color-dark;
    }
  }

  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    color: $primary-color-text;
    font-weight: $regular;

    &:hover,
    &:focus {
      color: $primary-color-text;
    }

    &::before {
      background-color: $primary-color-text;
    }
  }

  .mobile-nav-links {
    z-index: -1;
    position: absolute;
    top: -100%;
    transition-property: top;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $s10;
    transition-duration: $transition-speed;
    transition-timing-function: ease;
    background-color: $primary-color;

    @include dark-mode {
      background-color: $primary-color-dark;
    }
  }
  .mobile-active .mobile-nav-links {
    top: 100%;
  }



  a[role] {
    text-decoration: none;
    display: inline-block;
    color: $primary-color-text;
    @include font-size();
    font-family: $sans-serif;
    font-weight: $regular;
    position: relative;

    + a[role] {
      margin-left: $s4;
    }
    &.brand {
      @include font-size(7);
      margin: 0;

      &::before {
        bottom: 0;
        height: 2px;
      }

      @include mq-max(375px) {
        @include font-size(6);
      }
    }

    &::before {
      background-color: $primary-color-text;
    }

    &:hover,
    &:focus {
      color: $primary-color-text;
    }
  }




  @include mq(600px) {

    .content {
      border-bottom: none;
    }
    .desktop-nav {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      float: right;
    }
    .mobile-nav,
    .mobile-nav-links {
      display: none;
    }
  }
}