nav.main {
  background: $cloud;
  border-radius: 0;
  margin: 0;
  @include transition(opacity .2s ease);
  z-index: 5;
  position: relative;

  .content {
    overflow: visible;
    background: $cloud;
    border-bottom: 1px solid #1f1f1f;
  }

  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    float: right;
    height: 60px;
    background-color: transparent;
    border: none;
  }

  .mobile-nav-links {
    background: $cloud;
    z-index: -1;
    position: absolute;
    top: -100%;
    @include transition(top .5s ease);
    left: 0;
    right: 0;
    text-align: center;
  }
  .mobile-active .mobile-nav-links {
    top: 100%;
  }



  a[role] {
    text-decoration: none;
    display: inline-block;
    color: $black;
    @include font-size(16);
    vertical-align: middle;
    font-family: $sans-serif;
    margin-left: 10px;
    line-height: 60px;
    font-weight: 300;
    position: relative;

    &.brand {
      @include font-size(30);
      margin: 0;
    }
  }

  a,
  button {
    position: relative;
    outline: none;

    &:before {
      position: absolute;
      bottom: 0;
      height: 5px;
      background: $purple;
      content: "";
      left: 51%;
      right: 51%;
      @include transition(left .2s ease-out, right .2s ease-out);
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        left: 0;
        right: 0;
      }
    }
  }




  @include mq(500px) {

    .content {
      border-bottom: none;
    }
    .desktop-nav {
      display: inline-block;
      float: right;
    }
    .mobile-nav,
    .mobile-nav-links {
      display: none;
    }
  }
}