nav.main {
  border-radius: 0;
  margin: 0;
  transition-property: opacity;
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color-dark, #{$primary-color-dark});

  &.shadow,
  .mobile-nav-tray {
    box-shadow: 0 0 $s2 $primary-text-color;
  }

  a,
  a:visited,
  button {
    outline: none;
    background-color: transparent !important;
    padding: 0;
  }

  .content, .container {
    overflow: visible;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: $s11;
    background-color: var(--primary-color-dark, #{$primary-color-dark});
  }

  .desktop-nav-links {
    display: none;
  }
  .menu {
    display: block;
    background-color: transparent;
    color: $primary-color-text;
    font-weight: $regular;
    padding: 4px 8px;
    box-shadow: 0 0 0 1px $google-white;

    &:hover,
    &:focus {
      color: $primary-color-text;
      box-shadow: 0 0 0 2px $google-white;
    }

    &::before {
      content: unset;
    }
  }

  .mobile-nav-tray {
    z-index: -1;
    position: absolute;
    top: -100%;
    transition-property: top;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $s10;
    transition-duration: $transition-speed;
    transition-timing-function: ease;
    background-color: var(--primary-color-dark, #{$primary-color-dark});
  }
  .mobile-active .mobile-nav-tray {
    top: 100%;
  }



  a {
    text-decoration: none;
    display: inline-block;
    color: $primary-color-text;
    @include font-size();
    font-family: $sans-serif;
    font-weight: $regular;
    position: relative;

    + a {
      margin-left: $s4;
    }
    &.brand {
      @include font-size(7);
      margin: 0;

      &::before {
        bottom: 0;
        height: 2px;
      }

      @include mq-max(375px) {
        @include font-size(6);
      }
    }

    &::before {
      background-color: $primary-color-text;
    }
  }




  @include mq(600px) {

    .content, .container {
      border-bottom: none;
    }
    .desktop-nav-links {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      float: right;
    }
    .menu,
    .mobile-nav-tray {
      display: none;
    }
  }
}