#posts-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  column-gap: $s6;
  row-gap: $s12;
  align-items: stretch;
  justify-items: stretch;
  margin-bottom: $s6;
  text-align: left;

  h5 {
    text-align: left;
  }

  figcaption {
    margin-bottom: $s2;
    flex-grow: 1;
    text-align: left;
  }

  a {
    display: block;
    @include sixHundred;
    margin: 0 auto;
  }
}
