#posts-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  column-gap: $s6;
  row-gap: $s12;
  align-items: stretch;
  justify-items: stretch;
  margin-bottom: $s6;
  text-align: left;

  h3 {
    text-align: left;
  }

  figcaption {
    @include type--heading-4;
    margin-bottom: $s2;
    flex-grow: 1;
  }

  a {
    display: block;
    @include sixHundred;
    padding: $s3;
    border-radius: $border-radius;
    border: 2px solid $palette--divider-color;;
    margin: 0 auto;
  }
}
