#skip-nav {
  @include palette--base;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 10000000;
  padding: $s2;
  margin: auto;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: 0 0 12px black;

  &[data-state=inactive] {
    top: -100%;
  }

  &[data-state=active] {
    top: 0;
  }
}
