.sticky-container {
  height: var(--sticky-container-height);
  position: relative;
  z-index: 1000-2;

  .sticky-stacky {
    position: relative;
    z-index: 1000-1;

    &.fixed {
      position: fixed;
      z-index: 1000;
      top: var(--previous-heights);
      transform: translateY(var(--sticky-stacky-transform));
    }
  }
}
