#thoughts-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  li {
    display: block;
    margin: 0 auto $s10;
    max-width: 640px;
    padding: 0 $s4;

    @include mq($tablet) {
      @include columns(6);
    }
  }

  figcaption {
    @include font-size(3);
    margin-bottom: $s2;
  }

  a,
  a:visited {
    overflow: hidden;
    display: block;
    text-decoration: none;
    position: relative;
    padding-bottom: $s2;
    color: $primary-text-color;
    background-color: transparent;

    @include dark-mode {
      color: $primary-color-text;

      &:before {
        background-color: $primary-color-text;
      }
    }
  }
}