#thoughts-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  column-gap: $s5;
  row-gap: $s10;
  align-items: stretch;
  justify-items: stretch;
  margin-bottom: $s6;

  @include mq($medium) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $s10;
  }

  @include mq($large) {
    grid-template-columns: repeat(3, 1fr);
  }

  figcaption {
    @include font-size(3);
    margin-bottom: $s2;
    flex-grow: 1;
  }

  a {
    display: flex;
    flex-flow: column;
    padding-bottom: $s1;
    border-radius: $border-radius;
  }
}