#thoughts-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  column-gap: $s5;
  row-gap: $s10;
  align-items: stretch;
  justify-items: stretch;
  margin-bottom: $s6;

  @include mq($tablet) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $s10;
  }

  @include mq($desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  figcaption {
    @include font-size(3);
    margin-bottom: $s2;
    flex-grow: 1;
  }

  a,
  a:visited {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    position: relative;
    padding: 0 0 $s2;
    color: $primary-text-color;
    background-color: transparent;

    @include remove-link-animation;

    @include dark-mode {
      color: $primary-color-text;

      &:before {
        background-color: $primary-color-text;
      }
    }

    &:hover,
    &:focus {
      h3,
      date,
      figcaption {
        font-weight: $mega-bold;
      }
    }
  }
}