#thoughts-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  li {
    display: block;
    margin: 0 auto $s10;
    max-width: 640px;
    padding: 0 $s5;

    @include mq($tablet) {
      @include columns(6);
    }
  }

  figcaption {
    @include font-size(5);
  }

  a,
  a:visited {
    color: $black;
    overflow: hidden;
    display: block;
    text-decoration: none;
    position: relative;
    padding-bottom: $s2;
  }
}