@import "../system/utilities";

footer {
  padding: $s6 0;
  margin-top: $section-spacer;
  @include palette--base;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    top: 2px;
    @include orange-gradient;
  }

  ul {
    display: grid;
    grid-gap: $s1;
  }

  a {
    background-color: transparent !important;
    padding: 0;
  }
}
