@import "../system/utilities";

footer {
  padding: $s6 0;
  margin-top: $section-spacer;

  @include pallette--primary;

  ul {
    display: grid;
    gap: $s1;
  }

  a {
    background-color: transparent !important;
    padding: 0;

    &::before {
      background-color: $pallette--primary-color-text--white;
    }
  }
}