@import "../system/utilities";

footer {
  padding: $s6 0;
  margin-top: $section-spacer;

  @include palette--primary;

  ul {
    display: grid;
    gap: $s1;
  }

  a {
    background-color: transparent !important;
    padding: 0;
  }
}