@import "../system/utilities";

footer {
  padding: $s6 0;
  margin-top: $section-spacer;
  border-top: 4px solid $palette--primary-color-dark;

  @include palette--base;

  ul {
    display: grid;
    grid-gap: $s1;
  }

  a {
    background-color: transparent !important;
    padding: 0;
  }
}
