@import "../system/utilities";

@import "./nav";
@import "./skip-nav";

header.main-header {
  @include font-size;
  margin-top: $s11;
  background-color: var(--primary-color-dark);
  margin-bottom: $s6;
  padding: $s1 0;
  color: $palette--primary-color-text--white;

  .name {
    @include font-size(7);
    margin: auto;

    @include mq($medium) {
      @include font-size(8);
    }
  }
}

