@import "../system/utilities";

@import "./nav";
@import "./skip-nav";

header.main-header {
  @include font-size;
  @include palette--base;
  margin-bottom: $s6;
  padding: $s1 0;

  .name {
    @include font-size(7);
    margin: auto;

    @include mq($medium) {
      @include font-size(8);
    }
  }
}

