footer {
  padding: 30px 0;
  text-align: center;
  background-color: $black;
  color: $white;
  margin-top: 30px;

  p {
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a,
  a:visited {
    color: $white;
  }
}