header.main-header {
  @import "./nav";

  padding: 20px 40px;
  width: 100%;
  @include font-size(15);
  font-family: $sans-serif;
  color: $black;
  max-width: 1000px;
  margin: auto;

  .brian-anders {
    @include font-size(30);
    font-weight: 700;
    margin-bottom: 20px;
    display: table-cell;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: $black;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
    }
  }
}