@import "./nav";

header.main-header {
  padding: 20px;
  width: 100%;
  @include font-size(15);
  font-family: $sans-serif;
  color: $black;
  max-width: 1000px;
  margin: auto;
  padding-right: 100px;

  .brian-anders {
    @include font-size(30);
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
  }

  a {
    text-decoration: none;
    color: $black;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
    }
  }
}




@include mq-max(440px) {
  header.main-header {
    .brian-anders {
      @include font-size(20);
    }
  }
}



@include mq(640px) {
  header.main-header {
    padding: 20px 40px;
  }
}