nav.main {
  display: table-cell;
  padding-left: 40px;
  width: 100%;
  text-align: right;

  a {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    margin-right: 40px;

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}