nav.main {
  background: $cloud;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 20px;
  top: -25px;
  @include transition(opacity .2s ease);

  a {
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 36px;
    @include font-size(20);

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 20px;
    border-width: 10px;
    border-color: $cloud;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
}

[id="menu-open"] {
  float: right;
  position: absolute;
  right: 20px;
  padding-left: 32px;
  background-size: auto 26px;
  background-repeat: no-repeat;
  border: none;
  background-image: url('/images/icons/hamburger.png');
  @include retina() {
    background-image: url('/images/icons/hamburger_2x.png');
  }
}

#nav-aside {
  position: relative;
  background: $white;
  overflow: visible;
  max-width: 1000px;
  margin: auto;

  &.visible {
    nav.main {
      z-index: 100;
      opacity: 1;
      visibility: visible;
    }
  }
}


@include mq(640px) {
  nav.main {
    right: 40px;
    top: 0px;
  }

  [id="menu-open"] {
    position: relative;
    right: auto;
    background-size: 44px auto;
    padding-top: 36px;
    padding-left: 13px;
    background-position: center top;
  }
}