---
title: "You are lost."
description: "Lost: unable to find one's way; not knowing one's whereabouts."
private: true
withHead: true
layout: base
robots: false
styles:
  - 'main'
---

<section>
  <div class="content">
    <p>
      synonyms:
      off course,
      off track,
      disorientated,
      having lost one's bearings,
      going around in circles,
      adrift,
      at sea,
      astray,
      absent,
      misplaced.
    </p>
  </div>
</section>