---
title: "Design System"
description: ""
date: 2024-01-06
priority: 0.8
pageClasses:
  - 'design-system'
layout: base
styles:
  - 'main'
  - 'design-system'
scripts:
  - 'design-system'
---

<section class="palette">
  <div class="container">
    <h2>Color Palette</h2>
    <ul>
      <li class="primary-white">
        <div>$palette--primary-white</div>
        <div>--palette--primary-white</div>
        <span></span>
      </li>
      <li class="primary-grey">
        <div>$palette--primary-grey</div>
        <div>--palette--primary-grey</div>
        <span></span>
      </li>
      <li class="secondary-grey">
        <div>$palette--secondary-grey</div>
        <div>--palette--secondary-grey</div>
        <span></span>
      </li>
      <li class="divider-color">
        <div>$palette--divider-color</div>
        <div>--palette--divider-color</div>
        <span></span>
      </li>
      <li class="error-color">
        <div>$palette--error</div>
        <div>--palette--error</div>
        <span></span>
      </li>

      <li class="primary-color-dark">
        <div>$palette--primary-color-dark</div>
        <div>--palette--primary-color-dark</div>
        <span></span>
      </li>
      <li class="primary-color-light">
        <div>$palette--primary-color-light</div>
        <div>--palette--primary-color-light</div>
        <span></span>
      </li>
      <li class="accent-color">
        <div>$palette--accent-color</div>
        <div>--palette--accent-color</div>
        <span></span>
      </li>
    </ul>
    <h2>Palette Combinations</h2>
    <ul>
      <li class="palette--base">@include palette--base</li>
      <li class="palette--base--inverted">@include palette--base--inverted</li>
      <li class="palette--primary">@include palette--primary</li>
      <li class="palette--header">@include palette--header</li>
      <li class="palette--orange-gradient">@include orange-gradient</li>
    </ul>
  </div>
</section>

<section class="defaults">
  <h2>Default Values</h2>
  <ul>
    <li>$base-unit: 6px</li>
    <li>$transition-speed: 300ms</li>
    <li>$transition-timing: ease</li>
    <li>$border-radius: 3px</li>
  </ul>
  <h2>Spacing Variables</h2>
  <ul>
    <li>$section-spacer: 120px</li>
    <li>$paragraph-bottom: 36px</li>
  </ul>
  <div class="content-max-width">$content-max-width: 1,020px</div>
  <div class="full-bleed">$full-bleed: 1,020px</div>
  <div class="full-width-small">$full-width-small: 1,008px</div>
  <div class="full-width-medium">$full-width-medium: 960px</div>
</section>

<section class="viewports">
  <h2>Viewports</h2>

  <div class="small">$small: 320px</div>
  <div class="medium">$medium: 600px</div>
  <div class="large">$large: 960px</div>
</section>

<section class="fonts">
  <h2>Fonts</h2>

  <ul>
    <li class="serif-regular">
      font-family: 'Source Serif Pro', serif;<br>
      font-weight: 300;
    </li>
    <li class="serif-bold">
      font-family: 'Source Serif Pro', serif;<br>
      font-weight: 500;
    </li>
    <li class="sans-serif-regular">
      font-family: 'Roboto', sans-serif;<br>
      font-weight: 300;
    </li>
    <li class="sans-serif-bold">
      font-family: 'Roboto', sans-serif;<br>
      font-weight: 500;
    </li>
  </ul>
</section>

<section class="type">
  <h2>Type Definitions</h2>
  <ul>
    <li class="type--body">
      @include type--body
    </li>
    <li class="type--headings">
      @include type--headings
    </li>
    <li class="type--heading-1">
      @include type--heading-1
    </li>
    <li class="type--heading-2">
      @include type--heading-2
    </li>
    <li class="type--heading-3">
      @include type--heading-3
    </li>
    <li class="type--heading-4">
      @include type--heading-4
    </li>
    <li class="type--heading-5">
      @include type--heading-5
    </li>
    <li class="type--heading-6">
      @include type--heading-6
    </li>
    <li class="type--heading-link">
      @include type--heading-link
    </li>
    <li class="italic">
      @include italic
    </li>
  </ul>
</section>

<ul>
  <li>
    <a>a</a>
  </li>
  <li>
    <a href="javascript: void(0);" class="link">a.link</a>
  </li>
  <li>
    <button class="link">button.link</button>
  </li>

  <li>
    <button>button</button>
  </li>
  <li>
    <a href="javascript: void(0);" class="button">a.button</a>
  </li>
  <li>
    <button class="button">button.button</button>
  </li>

  <li>
    <a href="javascript: void(0);" class="block-link">
      a.block-link
      <p>
        paragraph 1
      </p>
      <p>
        paragraph 2
      </p>
    </a>
  </li>
  <li>
    <button class="block-link">
      button.block-link
      <p>
        paragraph 1
      </p>
      <p>
        paragraph 2
      </p>
    </button>
  </li>
  <li>
    <div class="block-link">
      div.block-link
      <p>
        paragraph 1
      </p>
      <p>
        paragraph 2
      </p>
    </div>
  </li>
</ul>