---
title: "Experience"
altTitle: "I'm Experienced."
description: "A UX Engineer at Nest, an Alphabet company, I graduated in May of 2013 from Graceland University in Lamoni, IA where I majored in Computer Science/Information Technology and Mathematics with a minor in Web Design."
priority: 0.9
layout: base
styles:
  - 'main'
  - 'experience/index'
---





<section class="nest" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="WWW"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 itemprop="name">
      <a itemprop="url" href="http://www.nest.com"
        title="Nest Labs"
        target="_blank">
        Nest
      </a>
    </h2>
    <p>2013 - Present</p>
    <p>
      After graduating in May 2013, I drove out to California and began an internship at <a itemprop="url" href="http://www.nest.com" title="Nest Labs" target="_blank">Nest Labs</a>, a medium-sized startup in Palo Alto. I guess I made a good impression because they hired me. Since then, I have built a range of web based ...things. From support widgets, to product pages on <a itemprop="url" href="https://nest.com" title="nest dot com" target="_blank">nest.com</a>.
    </p>
  </div>
</section>






<section class="principal" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 itemprop="name">
      <a itemprop="url" href="http://www.principal.com"
        title="Principal Financial Group"
        target="_blank">
        Principal Financial Group
      </a>
    </h2>
    <p>2012 Internship</p>
    <p>
      When in interned for <a itemprop="url" href="http://www.principal.com" title="Principal Financial Group" target="_blank">Principal Financial Group</a> in the summer of 2012, I worked with a team of Java engineers to build a robust system to handle their secure documents delivery. Largely my work focused on building tests for their foundational transfer processes.
    </p>
  </div>
</section>






<section class="smith" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 itemprop="name">
      <a itemprop="url" href="http://www.smithweb.com/"
        title="Smith & Associates"
        target="_blank">
        Smith &amp; Associates
      </a>
    </h2>
    <p>2011 Internship</p>
    <p>
      Interning for <a itemprop="url" href="http://www.smithweb.com/" title="Smith & Associates" target="_blank">Smith &amp; Associates</a> over the summer of 2011 was very educational. Most of my summer in Houston was spent as QA for all of their internal documenting tools.
    </p>
  </div>
</section>






<section class="anders-crane" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 itemprop="name">
      <a itemprop="url" href="https://www.facebook.com/pages/Anders-Crane-Service/240049426876"
        title="Anders Crane Service"
        target="_blank">
        Anders Crane Service
      </a>
    </h2>
    <p>My whole life</p>
    <p>
      Many are surprised that I have a long background of working around cranes. Though I am not a certified crane operator, I grew up running the crane in the family business, <a itemprop="url" href="https://www.facebook.com/pages/Anders-Crane-Service/240049426876" title="Anders Crane Service" target="_blank">Anders Crane Service</a>.
    </p>
  </div>
</section>






<section class="graceland" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="alumni" content="Brian Anders"/>
    <h2 itemprop="name">
      <a itemprop="url" href="http://www.graceland.edu/"
        title="Graceland University"
        target="_blank">
        Graceland University
      </a>
    </h2>
    <p>2008-2013</p>
    <p>
      At <a itemprop="url" href="http://www.graceland.edu/" title="Graceland University" target="_blank">Graceland University</a>, I worked at the movie theater, where I eventually became the manager before graduating. I also worked in STA+ (Student Technical Assistants Plus), where I was a part of a team that delivered technical support for both students and faculty.
    </p>
  </div>
</section>

