---
title: "Experience"
altTitle: "I'm experienced."
description: "Senior UX Engineer at Google, since 2014, when Google acquired Nest Labs."
date: 2017-09-03
priority: 0.9
layout: base
styles:
  - 'main'
  - 'experience/index'
---

<section class="google-store" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="Google Store"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <a itemprop="url" href="https://store.google.com"
        target="_blank" rel="noopener">
        Google Store
      </a>
    </h2>
    <p><strong>October 2018 - Present</strong></p>
    <p>
      The <a href="https://nest.com">nest.com</a> team was moved into the Google Store organization in 2018 as we prepared for the merging of Nest Labs into the then Google Hardware organization under Google, Inc. Since then, I have been working on improving the customer experience across the whole <a href="https://store.google.com">Google Store</a>.
    </p>
  </div>
</section>



<section class="nest" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="WWW"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <a itemprop="url" href="https://nest.com"
        target="_blank" rel="noopener">
        Nest
      </a>
    </h2>
    <p><strong>May 2013 - October 2018</strong></p>
    <p>
      After graduating in May 2013, I drove out to California and began an internship at <a itemprop="url" href="https://nest.com" target="_blank" rel="noopener">Nest Labs</a>, a medium-sized startup in Palo Alto. I guess I made a good impression because they hired me.
    <p>
    <p>
      Since then, I have worked on a wide variety of projects on the web team. From the <a href="https://nest.com/#works">Compatibility widget</a> that takes a user's home thermostat wiring information and discerns their system's compatibility with our learning thermostat, to the overall <a href="https://nest.com/support/">support website</a>. I have worked on the team long enough that there probably isn't a page that lacks my fingerprints (however small it may be).
    </p>
    <p>
      I really enjoy my work here at Nest, and I am always looking to tackle the next big task, to improve the user experience on <a href="https://nest.com">nest.com</a>.
    </p>
  </div>
</section>






<section class="principal" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <a itemprop="url" href="https://www.principal.com"
        target="_blank" rel="noopener">
        Principal Financial Group
      </a>
    </h2>
    <p><strong>2012 Internship</strong></p>
    <p>
      When in interned for <a itemprop="url" href="https://www.principal.com" target="_blank" rel="noopener">Principal Financial Group</a> in the summer of 2012, I worked with a team of Java engineers to build a robust system to handle their secure documents delivery. Largely my work focused on building tests for their foundational transfer processes.
    </p>
  </div>
</section>






<section class="smith" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <a itemprop="url" href="https://www.smithweb.com/"
        target="_blank" rel="noopener">
        Smith &amp; Associates
      </a>
    </h2>
    <p><strong>2011 Internship</strong></p>
    <p>
      Interning for <a itemprop="url" href="https://www.smithweb.com/" target="_blank" rel="noopener">Smith &amp; Associates</a> over the summer of 2011 was very educational. Most of my summer in Houston was spent as QA for all of their internal documenting tools.
    </p>
  </div>
</section>






<section class="anders-crane" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <a itemprop="url" href="https://www.facebook.com/pages/Anders-Crane-Service/240049426876"
        target="_blank" rel="noopener">
        Anders Crane Service
      </a>
    </h2>
    <p><strong>My whole life</strong></p>
    <p>
      Many are surprised that I have a long background of working around cranes. Though I am not a certified crane operator, I grew up running the crane in the family business, <a itemprop="url" href="https://www.facebook.com/pages/Anders-Crane-Service/240049426876" target="_blank" rel="noopener">Anders Crane Service</a>.
    </p>
  </div>
</section>






<section class="graceland" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="alumni" content="Brian Anders"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <a itemprop="url" href="https://www.graceland.edu/"
        target="_blank" rel="noopener">
        Graceland University
      </a>
    </h2>
    <p><strong>2008-2013</strong></p>
    <p>
      At <a itemprop="url" href="https://www.graceland.edu/" target="_blank" rel="noopener">Graceland University</a>, I worked at the movie theater, where I eventually became the manager before graduating. I also worked in STA+ (Student Technical Assistants Plus), where I was a part of a team that delivered technical support for both students and faculty.
    </p>
  </div>
</section>





<section class="resources">
  <div class="content">
    <h3>Technologies that I use</h3>
    <ul class="default">
      <%
      const languages = [
        {
          name: "Browserify",
          url: "http://browserify.org/",
        },{
          name: "Git",
          url: "https://git-scm.com/",
        },{
          name: "I18n",
          url: "https://en.wikipedia.org/wiki/Internationalization_and_localization",
        },{
          name: "jQuery",
          url: "https://jquery.com/",
        },{
          name: "Ruby",
          url: "https://www.ruby-lang.org/",
        },{
          name: "EJS",
          url: "http://ejs.co/",
        },{
          name: "HTML",
          url: "https://en.wikipedia.org/wiki/HTML",
        },{
          name: "CSS",
          url: "https://en.wikipedia.org/wiki/Cascading_Style_Sheets",
        },{
          name: "JavaScript",
          url: "https://www.javascript.com/",
        },{
          name: "SASS",
          url: "http://sass-lang.com/",
        },{
          name: "EmberJS",
          url: "https://www.emberjs.com/",
        },{
          name: "Node",
          url: "https://nodejs.org/en/",
        },{
          name: "Yaml",
          url: "http://yaml.org/",
        },{
          name: "JSON",
          url: "http://www.json.org/",
        }
      ];

      for(let i = 0; i < languages.length; i++) {
        const language = languages[i];
      %>
        <li>
          <a class="button" href="<%- language.url %>"><%- language.name %></a>
        </li>
      <% } %>
    </ul>
  </div>
</section>




<section class="resources">
  <div class="content">
    <h3>Helpful Resources</h3>
    <p>
      Here are some resources that I have found to be useful in my web development.
    </p>
    <ul class="default">
      <%
      const resources = [
        {
          url: "https://google.com/",
          name: "Google",
        }, {
          url: "https://css-tricks.com/",
          name: "CSS-Tricks",
        }, {
          url: "https://stackoverflow.com/",
          name: "Stack Overflow",
        }, {
          url: "https://developer.mozilla.org/",
          name: "Mozilla Developer Network (MDN)",
        }
      ];

      for(let i = 0; i < resources.length; i++) {
        const resource = resources[i];
      %>
        <li>
          <a class="button" href="<%- resource.url %>"><%- resource.name %></a>
        </li>
      <% } %>
    </ul>
  </div>
</section>