---
title: "Home"
altTitle: "Hi, I'm Brian."
description: "Welcome to my home on the web."
priority: 1.0
pageClasses:
  - 'main'
  - 'index'
ember: true
layout: base
styles:
  - 'main'
---



<section>
  <div class="content">
    <header>
      <h2>Who am I?</h2>
    </header>
    <p>
      Gosh, what a tough question. I don't have any idea. Here are a few descriptors that I like.
    </p>
    <p>
      Musician, Front End Engineer, Brother, Husband, Son, Iowan, Californian, Curiousity enthusiast.
    </p>
  </div>
</section>


<section class="index-music">
  <div class="content">
    <header>
      <h2>What I've been listening to.</h2>
      <p>
        Music is a core part of my life. I am constantly looking for my next favorite album. I'm one of those nuts that listens to the same thing over and over until I get sick of it. I use Last.fm to keep track of my listening habits. Here are some of the albums that I have been listening to recently.
      </p>
    </header>
    <div id="ember-app">
    </div>
    <div class="center">
      <a itemprop="url" href="/thoughts/last-fm/"
         class="see-more">
        See more
      </a>
    </div>
  </div>
</section>


