---
title: "Home"
altTitle: "Hi, I'm Brian."
description: "Welcome to my home on the web."
priority: 1.0
pageClasses:
  - 'main'
  - 'index'
ember: true
layout: base
styles:
  - 'main'
---



<section>
  <div class="content">
    <header>
      <h2>Who am I?</h2>
    </header>
    <p>
      Gosh, what a tough question. I don't have any idea. Here are a few descriptors that I like.
    </p>
    <p>
      Musician, Front End Engineer, Brother, Husband, Son, Iowan, Californian, Curiousity enthusiast.
    </p>
  </div>
</section>




<section class="index-podcasts">
  <div class="content">
    <header>
      <h2>Podcasts that I like.</h2>
      <p>
        I listen to a podcasts a lot. These are the ones that I think are the best.
      </p>
    </header>
    <ul>
      <li class="podcast">
        <a itemprop="url" href="/thoughts/quality-podcasts/#stuff-you-should-know"
           title="Stuff you should know">
          <h3>Stuff you should know</h3>
          <img src="/images/thoughts/quality-podcasts/stuff-you-should-know.jpg" />
        </a>
      </li>
      <li class="podcast">
        <a itemprop="url" href="/thoughts/quality-podcasts/#radio-lab"
           title="Radio Lab">
          <h3>Radio Lab</h3>
          <img src="/images/thoughts/quality-podcasts/radio-lab.png" />
        </a>
      </li>
      <li class="podcast">
        <a itemprop="url" href="/thoughts/quality-podcasts/#99-invisible"
           title="99% Invisible">
          <h3>99% Invisible</h3>
          <img src="/images/thoughts/quality-podcasts/99-invisible.png" />
        </a>
      </li>
      <li class="podcast">
        <a itemprop="url" href="/thoughts/quality-podcasts/#reply-all"
           title="Reply All">
          <h3>Reply All</h3>
          <img src="/images/thoughts/quality-podcasts/reply-all.jpg" />
        </a>
      </li>
    </ul>
    <div class="center">
      <a itemprop="url" href="/thoughts/quality-podcasts/"
         title="See more"
         class="see-more">
        See more
      </a>
    </div>
  </div>
</section>




<section class="index-movies">
  <div class="content">
    <header>
      <h2>Movies that I like.</h2>
      <p>
        I've been watching movies my whole life. I enjoy them quite a lot. I use IMDb to rate movies, so I use their ten star system. Here is a list of movies that I have rated at ten stars. See my imdb profile for more ratings.
      </p>
    </header>
    <ul>
      <li class="movie">
        <a itemprop="url" href="/thoughts/ten-star-movies/#interstellar">
          <h3>Interstellar</h3>
          <img src="/images/thoughts/ten-star-movies/interstellar.jpg" />
        </a>
      </li>
      <li class="movie">
        <a itemprop="url" href="/thoughts/ten-star-movies/#gone-girl">
          <h3>Gone Girl</h3>
          <img src="/images/thoughts/ten-star-movies/gone-girl.jpg" />
        </a>
      </li>
      <li class="movie">
        <a itemprop="url" href="/thoughts/ten-star-movies/#the-girl-with-the-dragon-tattoo">
          <h3>The Girl with the Dragon Tattoo</h3>
          <img src="/images/thoughts/ten-star-movies/the-girl-with-the-dragon-tattoo.jpg" />
        </a>
      </li>
      <li class="movie">
        <a itemprop="url" href="/thoughts/ten-star-movies/#catch-me-if-you-can">
          <h3>Catch Me If You Can</h3>
          <img src="/images/thoughts/ten-star-movies/catch-me-if-you-can.jpg" />
        </a>
      </li>
    </ul>
    <div class="center">
      <a itemprop="url" href="/thoughts/ten-star-movies/"
         title="See more"
         class="see-more">
        See more
      </a>
    </div>
  </div>
</section>



<section class="index-music">
  <div class="content">
    <header>
      <h2>Music that I like.</h2>
      <p>
        Music is a core part of my being. I am constantly looking for my next favorite album. I'm one of those nuts that listens to the same thing over and over until I get sick of it. I use Last.fm to keep track of my listening habits. Here are some of the albums that I have been listening to recently. Check 'em out.
      </p>
    </header>
    <div id="ember-app">
    </div>
    <div class="center">
      <a itemprop="url" href="/thoughts/last-fm/"
         title="See more"
         class="see-more">
        See more
      </a>
    </div>
  </div>
</section>


