* {
  transition-timing-function: $transition-timing;
  transition-duration: $transition-speed;
  transition-property: none;
  border-radius: $border-radius;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
    outline: none;
  }
}

::selection {
  @include selection;
}
::-moz-selection {
  @include selection;
}
::-webkit-selection {
  @include selection;
}
