@import "../utilities";

i {
  @include italic;
}

main {
  @include margin-center;
}

section {
  @include section;
}

main {
  z-index: 1;
  position: relative;
  transition-property: right;
  right: 0;
}

html {
  @include html;

  @include selection;
}

body {
  overflow-x: hidden;
  width: 100%;
  @include type--body;
}

p {
  @include paragraph;

  a {
    @include inline-link;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include type--headings;

  a,
  a:visited {
    @include type--heading-link;
  }
}

h1 {
  @include type--heading-1;
}

h2 {
  @include type--heading-2;
}

h3, h4, h5, h6 {
  @include type--heading-3;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

cite {
  @include citation;
}

blockquote {
  @include quotation;
}

strong {
  font-weight: $bold;
}

select {
  appearance: menulist;
  border-radius: $border-radius;
  background-color: $color--grey-50;

  @include button-select;

  &:hover {
    box-shadow: 0 0 0 #{$s1} $pallette--primary-text-color--dark,
    0 0 0 #{$s1 + 2px} $color--white;
  }
}

date {
  text-align: right;
  display: block;
  @include type--bold-serif;
}

label {
  @include label;
}

button,
select {
  @include button-select;
}

list,
ul,
ol {
  @include list;
}

ol:not(.default) {
  list-style: decimal;
  padding-left: $s4;
}

item,
li {
  @include list-item;
}

a,
input,
button,
textarea,
select {
  @include interactive-outline;
  @include interactive;
}

input,
button,
textarea,
select {
  @include interactive-border;
}

select,
input[type=text],
input[type=number] {
  @include input;
}

input[type=text],
input[type=number] {
  height: 33px;
  @include font-size;
  padding: 0 $s1;
}

input[type=checkbox] {
  height: $s4;
  width: $s4;

  &:focus {
    box-shadow: inset 0 0 0 3px var(--primary-color-text, #{$pallette--primary-color-text--white});
  }

  /* toggle in label designing */
  &.toggle {
    appearance: none;
    position: relative;
    display: inline-block;
    width: $s8;
    height: $s3;
    background-color: var(--primary-color-text, #{$pallette--primary-color-text--white});
    border-radius: $s2;
    border: none;

    &:focus {
      box-shadow: none;
      background-color: var(--primary-color-text, #{$pallette--primary-color-text--white}) !important;
    }

    /* After slide changes */
    &::before {
      content: '';
      position: absolute;
      width: $s4;
      height: $s4;
      border-radius: $s2;
      background-color: var(--accent-color, #{$pallette--accent-color});
      top: -#{$s1 / 2};
      left:-#{$s1 / 2};
      transition: left $transition-speed, background-color $transition-speed;
      box-shadow: 0 0 $s1 $color--grey-900;
    }

    /* Checkbox checked toggle label bg color */
    &:checked {
      background-color: var(--accent-color, #{$pallette--accent-color});

      /* Checkbox checked effect */
      &::before {
        left: calc(100% - #{$s4 - ($s1 / 2)});
      }

      &:focus {
        background-color: var(--accent-color, #{$pallette--accent-color}) !important;
      }
    }
  }
}