---
title: "Documentaries"
description: "I like documentaries"
date: 2022-04-04
priority: 0.8
pageClasses:
  - 'recommendations documentaries'
layout: base
styles:
  - 'main'
  - 'recommendations/documentaries'
scripts:
  - 'recommendations/documentaries'
---

<%- externalLink("My IMDb profile", { href: locals.imdb }) %>

Split by genre


Wild Wild Country
Prophet's Prey
The Sixties
The Seventies
The Eighties
The Nineties
The 2000s



<a href="/title/tt4257858/?ref_=rt_li_i">
  <img alt="Going Clear: Scientology &amp; the Prison of Belief" class="loadlate" data-tconst="tt4257858" height="209" src="https://m.media-amazon.com/images/M/MV5BZjYxYTA0MWQtYWViYi00YmRhLWEzNzctMDkwMGQ5ODFmM2FjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt4257858/?ref_=rt_li_tt">Going Clear: Scientology &amp; the Prison of Belief</a>
<span class="lister-item-year">(2015)</span>
<p class="">A documentary looking at the inner-workings of the Church of Scientology. </p>