---
title: "Recommendations"
description: ""
date: 2022-03-19
priority: 0.8
pageClasses:
  - 'recommendations index'
layout: base
styles:
  - 'main'
  - 'recommendations/index'
scripts:
  - 'recommendations/index'
---

<div class="section-container">
<%
    const basePages = getChildPages('recommendations');
    let newestPages = basePages.sort((pageA, pageB) => {
      const dateA = new Date(pageA.data.date);
      const dateB = new Date(pageB.data.date);
      return (dateA < dateB) ? 1 : -1;
    });
    if (locals.thoughtCount) {
      newestPages = newestPages.splice(0, locals.thoughtCount);
    }
    newestPages.forEach(({ url, data: { date, description, title }}) => {
  %>
    <section itemscope itemtype="http://schema.org/BlogPosting">
      <a class='cover-link'>image</a>
      <div class="details">
        <meta itemprop="author" content="Brian Anders"/>
        <meta itemprop="publisher" content="Brian Anders"/>
        <h2 itemprop="name" class="h3">
          <%- link(noWidows(title), {
            href: `/${url}`,
          }); %>
        </h2>
        <p><%- description %></p>
      </div>
    </section>
  <% }); %>
</div>
