---
title: "Movies"
description: "I've been watching movies my whole life. I enjoy them quite a lot. I use IMDb to rate movies, so I use their ten star system. Here is a list of movies that Brian has rated at ten stars. See my imdb profile for more ratings."
date: 2022-03-19
priority: 0.8
pageClasses:
  - 'recommendations movies'
layout: base
styles:
  - 'main'
  - 'recommendations/movies'
---


<article itemscope itemtype="http://schema.org/BlogPosting">

<%
  const movies = [
    {
      name: 'Interstellar',
      imgSrc: '/images/thoughts/ten-star-movies/interstellar.jpg',
      imdb: {
        year: '2014',
        id: 'tt0816692',
      },
    },
    {
      name: 'The Shawshank Redemption',
      imgSrc: '/images/thoughts/ten-star-movies/the-shawshank-redemption.jpg',
      imdb: {
        year: '1994',
        id: 'tt0111161',
      },
    },
    {
      name: 'Inception',
      imgSrc: '/images/thoughts/ten-star-movies/inception.jpg',
      imdb: {
        year: '2010',
        director: 'Christopher Nolan',
        id: 'tt1375666',
      },
    },
    {
      name: 'Fight Club',
      imgSrc: '/images/thoughts/ten-star-movies/fight-club.jpg',
      imdb: {
        year: '1999',
        director: 'David Fincher',
        id: 'tt0137523',
      },
    },
    {
      name: 'Gone Girl',
      imgSrc: '/images/thoughts/ten-star-movies/gone-girl.jpg',
      imdb: {
        year: '2014',
        director: 'David Fincher',
        id: 'tt2267998',
      },
    },
    {
      name: 'The Matrix',
      imgSrc: '/images/thoughts/ten-star-movies/the-matrix.jpg',
      imdb: {
        year: '1999',
        Director: 'Lana Wachowski (as The Wachowski Brothers), Lilly Wachowski (as The Wachowski Brothers)',
        id: 'tt0133093',
      },
    },
    {
      name: 'Goodfellas',
      imgSrc: '/images/thoughts/ten-star-movies/goodfellas.jpg',
      imdb: {
        year: '1990',
        director: 'Martin Scorsese',
        id: 'tt0099685',
      },
    },
    {
      name: 'Star Wars: Episode IV - A New Hope',
      imgSrc: '/images/thoughts/ten-star-movies/star-wars-episode-i-v-a-new-hope.jpg',
      imdb: {
        year: '1977',
        director: 'George Lucas',
        id: 'tt0076759',
      },
    },
    {
      name: 'Snatch',
      imgSrc: '/images/thoughts/ten-star-movies/snatch.jpg',
      imdb: {
        year: '2000',
        director: 'Guy Ritchie',
        id: 'tt0208092',
      },
    },
    // {
    //   name: 'Avatar',
    //   imgSrc: '/images/thoughts/ten-star-movies/avatar.jpg',
    //   imdb: {
    //     year: '2009',
    //     director: 'James Cameron',
    //     id: 'tt0499549',
    //   },
    // },
    // {
    //   name: 'Good Will Hunting',
    //   imgSrc: '/images/thoughts/ten-star-movies/good-will-hunting.jpg',
    //   imdb: {
    //     year: '1997',
    //     director: 'Gus Van Sant',
    //     id: 'tt0119217',
    //   },
    // },
    // {
    //   name: 'Star Trek Into Darkness',
    //   imgSrc: '/images/thoughts/ten-star-movies/star-trek-into-darkness.jpg',
    //   imdb: {
    //     year: '2013',
    //     director: 'J.J. Abrams',
    //     id: '',
    //   },
    // },
    {
      name: 'Saving Private Ryan',
      imgSrc: '/images/thoughts/ten-star-movies/saving-private-ryan.jpg',
      imdb: {
        year: '1998',
        director: 'Steven Spielberg',
        id: 'tt0120815',
      },
    },
    {
      name: 'The Green Mile',
      imgSrc: '/images/thoughts/ten-star-movies/the-green-mile.jpg',
      imdb: {
        year: '1999',
        director: 'Frank Darabont',
        id: 'tt0120689',
      },
    },
    {
      name: 'The Theory of Everything',
      imgSrc: '/images/thoughts/ten-star-movies/the-theory-of-everything.jpg',
      imdb: {
        year: '2014',
        director: 'James Marsh',
        id: 'tt2980516',
      },
    },
    {
      name: 'Drive',
      imgSrc: '/images/thoughts/ten-star-movies/drive.jpg',
      imdb: {
        year: '2011',
        director: 'Nicolas Winding Refn',
        id: 'tt0780504',
      },
    },
    {
      name: 'Limitless',
      imgSrc: '/images/thoughts/ten-star-movies/limitless.jpg',
      imdb: {
        year: '2011',
        director: 'Neil Burger',
        id: 'tt1219289',
      },
    },
    {
      name: 'The Girl with the Dragon Tattoo',
      imgSrc: '/images/thoughts/ten-star-movies/the-girl-with-the-dragon-tattoo.jpg',
      imdb: {
        year: '2011',
        director: 'David Fincher',
        id: 'tt1568346',
      },
    },
    {
      name: 'Jurassic Park',
      imgSrc: '/images/thoughts/ten-star-movies/jurassic-park.jpg',
      imdb: {
        year: '1993',
        id: 'tt0107290',
      },
    },
    {
      name: 'Psycho',
      imgSrc: '/images/thoughts/ten-star-movies/psycho.jpg',
      imdb: {
        year: '1960',
        id: 'tt0054215',
      },
    },
    {
      name: 'Shutter Island',
      imgSrc: '/images/thoughts/ten-star-movies/shutter-island.jpg',
      imdb: {
        year: '2010',
        id: 'tt1130884',
      },
    },
    // {
    //   name: 'V for Vendetta',
    //   imgSrc: '/images/thoughts/ten-star-movies/v-for-vendetta.jpg',
    //   imdb: {
    //     year: '2006',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'The Incredibles',
    //   imgSrc: '/images/thoughts/ten-star-movies/the-incredibles.jpg',
    //   imdb: {
    //     year: '2004',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'Up',
    //   imgSrc: '/images/thoughts/ten-star-movies/up.jpg',
    //   imdb: {
    //     year: '2009',
    //     id: '',
    //   },
    // },
    {
      name: 'Catch Me If You Can',
      imgSrc: '/images/thoughts/ten-star-movies/catch-me-if-you-can.jpg',
      imdb: {
        year: '2002',
        director: 'Steven Spielberg',
        id: 'tt0264464',
      },
    },
    {
      name: 'Star Wars: Episode VI - Return of the Jedi',
      imgSrc: '/images/thoughts/ten-star-movies/star-wars-episode-v-i-return-of-the-jedi.jpg',
      imdb: {
        year: '1983',
        id: 'tt0086190',
      },
    },
    // {
    //   name: 'Super 8',
    //   imgSrc: '/images/thoughts/ten-star-movies/super-8.jpg',
    //   imdb: {
    //     year: '2011',
    //     id: '',
    //   },
    // },
    {
      name: 'Star Wars: Episode V - The Empire Strikes Back',
      imgSrc: '/images/thoughts/ten-star-movies/star-wars-episode-v-the-empire-strikes-back.jpg',
      imdb: {
        year: '1980',
        id: 'tt0080684',
      },
    },
    {
      name: 'Raiders of the Lost Ark',
      imgSrc: '/images/thoughts/ten-star-movies/raiders-of-the-lost-ark.jpg',
      imdb: {
        year: '1981',
        id: 'tt0082971',
      },
    },
    {
      name: 'The Pianist',
      imgSrc: '/images/thoughts/ten-star-movies/the-pianist.jpg',
      imdb: {
        year: '2002',
        id: 'tt0253474',
      },
    },
    {
      name: 'Indiana Jones and the Last Crusade',
      imgSrc: '/images/thoughts/ten-star-movies/indiana-jones-and-the-last-crusade.jpg',
      imdb: {
        year: '1989',
        id: 'tt0097576',
      },
    },
    // {
    //   name: 'Sherlock Holmes',
    //   imgSrc: '/images/thoughts/ten-star-movies/sherlock-holmes.jpg',
    //   imdb: {
    //     year: '2009',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'TRON: Legacy',
    //   imgSrc: '/images/thoughts/ten-star-movies/t-r-o-n-legacy.jpg',
    //   imdb: {
    //     year: '2010',
    //     id: '',
    //   },
    // },
    {
      name: 'Minority Report',
      imgSrc: '/images/thoughts/ten-star-movies/minority-report.jpg',
      imdb: {
        year: '2002',
        id: 'tt0181689',
      },
    },
    // {
    //   name: 'Life of Pi',
    //   imgSrc: '/images/thoughts/ten-star-movies/life-of-pi.jpg',
    //   imdb: {
    //     year: '2012',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'WALL·E',
    //   imgSrc: '/images/thoughts/ten-star-movies/wall-e.jpg',
    //   imdb: {
    //     year: '2008',
    //     id: '',
    //   },
    // },
    {
      name: "The King's Speech",
      imgSrc: '/images/thoughts/ten-star-movies/the-king-s-speech.jpg',
      imdb: {
        year: '2010',
        id: 'tt1504320',
      },
    },
    // {
    //   name: 'Saving Mr. Banks',
    //   imgSrc: '/images/thoughts/ten-star-movies/saving-mr-banks.jpg',
    //   imdb: {
    //     year: '2013',
    //     id: '',
    //   },
    // },
    {
      name: 'The Last Samurai',
      imgSrc: '/images/thoughts/ten-star-movies/the-last-samurai.jpg',
      imdb: {
        year: '2003',
        id: 'tt0325710',
      },
    },
    {
      name: 'Vanilla Sky',
      imgSrc: '/images/thoughts/ten-star-movies/vanilla-sky.jpg',
      imdb: {
        year: '2001',
        director: 'Cameron Crowe',
        id: 'tt0259711',
      },
    },
    // {
    //   name: 'The Terminal',
    //   imgSrc: '/images/thoughts/ten-star-movies/the-terminal.jpg',
    //   imdb: {
    //     year: '2004',
    //     id: '',
    //   },
    // },
    {
      name: 'The Adventures of Tintin',
      imgSrc: '/images/thoughts/ten-star-movies/the-adventures-of-tintin.jpg',
      imdb: {
        year: '2011',
        id: 'tt0983193',
      },
    },
    // {
    //   name: 'Spy Game',
    //   imgSrc: '/images/thoughts/ten-star-movies/spy-game.jpg',
    //   imdb: {
    //     year: '2001',
    //     director: 'Tony Scott',
    //     id: 'tt0266987',
    //   },
    // }
  ];

  const sortedMovies = movies.sort((firstElement, secondElement) => (firstElement.imdb.year < secondElement.imdb.year) ? -1 : 1);

  for(let i = 0; i < sortedMovies.length; i++) {
    const movie = sortedMovies[i];
%>

  <%- externalLink(`
    ${lazyImage({ src: movie.imgSrc, alt: `${movie.name} movie poster` })}
    <h2 class="h3">${movie.name}</h2>
    <p class="h4">(${movie.imdb.year})</p>
  `, {
    id: movie.name.replace(/[^a-zA-Z0-9]/g, '-').toLowerCase(),
    class: 'movie block',
    href: `https://www.imdb.com/title/${movie.imdb.id}`,
  }) %>

<% } %>
</article>