---
title: "Movies"
description: "I've been watching movies my whole life. I enjoy them quite a lot. I use IMDb to rate movies, so I use their ten star system. Here is a list of movies that Brian has rated at ten stars. See my imdb profile for more ratings."
date: 2022-03-19
priority: 0.8
pageClasses:
  - 'recommendations movies'
layout: base
styles:
  - 'main'
  - 'recommendations/movies'
---

IMDb profile: site-data.imdb

<a href="/title/tt0054215/?ref_=rt_li_i">
  <img alt="Psycho" class="loadlate" data-tconst="tt0054215" height="209" src="https://m.media-amazon.com/images/M/MV5BNTQwNDM1YzItNDAxZC00NWY2LTk0M2UtNDIwNWI5OGUyNWUxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0054215/?ref_=rt_li_tt">Psycho</a>
<span class="lister-item-year">(1960)</span>
<p class="">A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run, and checks into a remote motel run by a young man under the domination of his mother. </p>
Director:
<a href="/name/nm0000033/?ref_=_li_dr_0">Alfred Hitchcock</a>
Stars:
<a href="/name/nm0000578/?ref_=_li_st_0">Anthony Perkins</a>,
<a href="/name/nm0001463/?ref_=_li_st_1">Janet Leigh</a>,
<a href="/name/nm0587256/?ref_=_li_st_2">Vera Miles</a>,
<a href="/name/nm0001260/?ref_=_li_st_3">John Gavin</a>





<a href="/title/tt0097576/?ref_=rt_li_i">
  <img alt="Indiana Jones and the Last Crusade" class="loadlate" data-tconst="tt0097576" height="209" src="https://m.media-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UY209_CR1,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0097576/?ref_=rt_li_tt">Indiana Jones and the Last Crusade</a>
<span class="lister-item-year">(1989)</span>
<p class="">In 1938, after his father Professor Henry Jones, Sr. goes missing while pursuing the Holy Grail, Professor Henry "Indiana" Jones, Jr. finds himself up against <a href="/name/nm0386944">Adolf Hitler</a>'s Nazis again to stop them from obtaining its powers. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0000148/?ref_=_li_st_0">Harrison Ford</a>,
<a href="/name/nm0000125/?ref_=_li_st_1">Sean Connery</a>,
<a href="/name/nm0233145/?ref_=_li_st_2">Alison Doody</a>,
<a href="/name/nm0001186/?ref_=_li_st_3">Denholm Elliott</a>





<a href="/title/tt1049413/?ref_=rt_li_i">
  <img alt="Up" class="loadlate" data-tconst="tt1049413" height="209" src="https://m.media-amazon.com/images/M/MV5BMTk3NDE2NzI4NF5BMl5BanBnXkFtZTgwNzE1MzEyMTE@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1049413/?ref_=rt_li_tt">Up</a>
<span class="lister-item-year">(2009)</span>
<p class="">
78-year-old Carl Fredricksen travels to Paradise Falls in his house equipped with balloons, inadvertently taking a young stowaway. </p>
Directors:
<a href="/name/nm0230032/?ref_=_li_dr_0">Pete Docter</a>,
<a href="/name/nm0677037/?ref_=_li_dr_1">Bob Peterson</a>
Stars:
<a href="/name/nm0000799/?ref_=_li_st_0">Edward Asner</a>,
<a href="/name/nm2973712/?ref_=_li_st_1">Jordan Nagai</a>,
<a href="/name/nm0001652/?ref_=_li_st_2">John Ratzenberger</a>,
<a href="/name/nm0001626/?ref_=_li_st_3">Christopher Plummer</a>





<a href="/title/tt0133093/?ref_=rt_li_i">
  <img alt="The Matrix" class="loadlate" data-tconst="tt0133093" height="209" src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0133093/?ref_=rt_li_tt">The Matrix</a>
<span class="lister-item-year">(1999)</span>
<p class="">
When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence. </p>
Directors:
<a href="/name/nm0905154/?ref_=_li_dr_0">Lana Wachowski</a>,
<a href="/name/nm0905152/?ref_=_li_dr_1">Lilly Wachowski</a>
Stars:
<a href="/name/nm0000206/?ref_=_li_st_0">Keanu Reeves</a>,
<a href="/name/nm0000401/?ref_=_li_st_1">Laurence Fishburne</a>,
<a href="/name/nm0005251/?ref_=_li_st_2">Carrie-Anne Moss</a>,
<a href="/name/nm0915989/?ref_=_li_st_3">Hugo Weaving</a>





<a href="/title/tt0099685/?ref_=rt_li_i">
  <img alt="Goodfellas" class="loadlate" data-tconst="tt0099685" height="209" src="https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0099685/?ref_=rt_li_tt">Goodfellas</a>
<span class="lister-item-year">(1990)</span>
<p class="">The story of <a href="/name/nm1453737">Henry Hill</a> and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate. </p>
Director:
<a href="/name/nm0000217/?ref_=_li_dr_0">Martin Scorsese</a>
Stars:
<a href="/name/nm0000134/?ref_=_li_st_0">Robert De Niro</a>,
<a href="/name/nm0000501/?ref_=_li_st_1">Ray Liotta</a>,
<a href="/name/nm0000582/?ref_=_li_st_2">Joe Pesci</a>,
<a href="/name/nm0000966/?ref_=_li_st_3">Lorraine Bracco</a>





<a href="/title/tt0082971/?ref_=rt_li_i">
  <img alt="Indiana Jones and the Raiders of the Lost Ark" class="loadlate" data-tconst="tt0082971" height="209" src="https://m.media-amazon.com/images/M/MV5BMjA0ODEzMTc1Nl5BMl5BanBnXkFtZTcwODM2MjAxNA@@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0082971/?ref_=rt_li_tt">Indiana Jones and the Raiders of the Lost Ark</a>
<span class="lister-item-year">(1981)</span>
<p class="">In 1936, archaeologist and adventurer Indiana Jones is hired by the U.S. government to find the Ark of the Covenant before <a href="/name/nm0386944">Adolf Hitler</a>'s Nazis can obtain its awesome powers. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0000148/?ref_=_li_st_0">Harrison Ford</a>,
<a href="/name/nm0000261/?ref_=_li_st_1">Karen Allen</a>,
<a href="/name/nm0293550/?ref_=_li_st_2">Paul Freeman</a>,
<a href="/name/nm0722636/?ref_=_li_st_3">John Rhys-Davies</a>





<a href="/title/tt0983193/?ref_=rt_li_i">
  <img alt="The Adventures of Tintin" class="loadlate" data-tconst="tt0983193" height="209" src="https://m.media-amazon.com/images/M/MV5BNDE5MDExNTQ1OF5BMl5BanBnXkFtZTcwMDIxMTM5Ng@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0983193/?ref_=rt_li_tt">The Adventures of Tintin</a>
<span class="lister-item-year">(2011)</span>
<p class="">Intrepid reporter Tintin and Captain Haddock set off on a treasure hunt for a sunken ship commanded by Haddock's ancestor. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0068260/?ref_=_li_st_0">Jamie Bell</a>,
<a href="/name/nm0785227/?ref_=_li_st_1">Andy Serkis</a>,
<a href="/name/nm0185819/?ref_=_li_st_2">Daniel Craig</a>,
<a href="/name/nm0670408/?ref_=_li_st_3">Simon Pegg</a>





<a href="/title/tt0264464/?ref_=rt_li_i">
  <img alt="Catch Me If You Can" class="loadlate" data-tconst="tt0264464" height="209" src="https://m.media-amazon.com/images/M/MV5BMTY5MzYzNjc5NV5BMl5BanBnXkFtZTYwNTUyNTc2._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0264464/?ref_=rt_li_tt">Catch Me If You Can</a>
<span class="lister-item-year">(2002)</span>
<p class="">Barely 21 yet, Frank is a skilled forger who has passed as a doctor, lawyer and pilot. FBI agent Carl becomes obsessed with tracking down the con man, who only revels in the pursuit. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0000138/?ref_=_li_st_0">Leonardo DiCaprio</a>,
<a href="/name/nm0000158/?ref_=_li_st_1">Tom Hanks</a>,
<a href="/name/nm0000686/?ref_=_li_st_2">Christopher Walken</a>,
<a href="/name/nm0000640/?ref_=_li_st_3">Martin Sheen</a>





<a href="/title/tt1504320/?ref_=rt_li_i">
  <img alt="The King's Speech" class="loadlate" data-tconst="tt1504320" height="209" src="https://m.media-amazon.com/images/M/MV5BMzU5MjEwMTg2Nl5BMl5BanBnXkFtZTcwNzM3MTYxNA@@._V1_UY209_CR1,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1504320/?ref_=rt_li_tt">The King's Speech</a>
<span class="lister-item-year">(2010)</span>
<p class="">The story of <a href="/name/nm0454377">King George VI</a>, his impromptu ascension to the throne of the British Empire in 1936, and the speech therapist who helped the unsure monarch overcome his stammer. </p>
Director:
<a href="/name/nm0393799/?ref_=_li_dr_0">Tom Hooper</a>
Stars:
<a href="/name/nm0000147/?ref_=_li_st_0">Colin Firth</a>,
<a href="/name/nm0001691/?ref_=_li_st_1">Geoffrey Rush</a>,
<a href="/name/nm0000307/?ref_=_li_st_2">Helena Bonham Carter</a>,
<a href="/name/nm0001394/?ref_=_li_st_3">Derek Jacobi</a>





<a href="/title/tt1638355/?ref_=rt_li_i">
  <img alt="The Man from U.N.C.L.E." class="loadlate" data-tconst="tt1638355" height="209" src="https://m.media-amazon.com/images/M/MV5BOTZmMWFhYmQtZDE5YS00YzBlLWJlOGEtYzAwNGU1YzVlYjZlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1638355/?ref_=rt_li_tt">The Man from U.N.C.L.E.</a>
<span class="lister-item-year">(2015)</span>
<p class="">In the early 1960s, CIA agent Napoleon Solo and KGB operative Illya Kuryakin participate in a joint mission against a mysterious criminal organization, which is working to proliferate nuclear weapons. </p>
Director:
<a href="/name/nm0005363/?ref_=_li_dr_0">Guy Ritchie</a>
Stars:
<a href="/name/nm0147147/?ref_=_li_st_0">Henry Cavill</a>,
<a href="/name/nm2309517/?ref_=_li_st_1">Armie Hammer</a>,
<a href="/name/nm2539953/?ref_=_li_st_2">Alicia Vikander</a>,
<a href="/name/nm4456120/?ref_=_li_st_3">Elizabeth Debicki</a>





<a href="/title/tt1568346/?ref_=rt_li_i">
  <img alt="The Girl with the Dragon Tattoo" class="loadlate" data-tconst="tt1568346" height="209" src="https://m.media-amazon.com/images/M/MV5BMTczNDk4NTQ0OV5BMl5BanBnXkFtZTcwNDAxMDgxNw@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1568346/?ref_=rt_li_tt">The Girl with the Dragon Tattoo</a>
<span class="lister-item-year">(2011)</span>
<p class="">Journalist Mikael Blomkvist is aided in his search for a woman who has been missing for forty years by Lisbeth Salander, a young computer hacker. </p>
Director:
<a href="/name/nm0000399/?ref_=_li_dr_0">David Fincher</a>
Stars:
<a href="/name/nm0185819/?ref_=_li_st_0">Daniel Craig</a>,
<a href="/name/nm1913734/?ref_=_li_st_1">Rooney Mara</a>,
<a href="/name/nm0001626/?ref_=_li_st_2">Christopher Plummer</a>,
<a href="/name/nm0001745/?ref_=_li_st_3">Stellan Skarsgård</a>





<a href="/title/tt2096673/?ref_=rt_li_i">
  <img alt="Inside Out" class="loadlate" data-tconst="tt2096673" height="209" src="https://m.media-amazon.com/images/M/MV5BOTgxMDQwMDk0OF5BMl5BanBnXkFtZTgwNjU5OTg2NDE@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt2096673/?ref_=rt_li_tt">Inside Out</a>
<span class="lister-item-year">(I) (2015)</span>
<p class="">
After young Riley is uprooted from her Midwest life and moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust and Sadness - conflict on how best to navigate a new city, house, and school. </p>
Directors:
<a href="/name/nm0230032/?ref_=_li_dr_0">Pete Docter</a>,
<a href="/name/nm0215455/?ref_=_li_dr_1">Ronnie Del Carmen</a>
Stars:
<a href="/name/nm0688132/?ref_=_li_st_0">Amy Poehler</a>,
<a href="/name/nm0352778/?ref_=_li_st_1">Bill Hader</a>,
<a href="/name/nm0085400/?ref_=_li_st_2">Lewis Black</a>,
<a href="/name/nm1411676/?ref_=_li_st_3">Mindy Kaling</a>





<a href="/title/tt0253474/?ref_=rt_li_i">
  <img alt="The Pianist" class="loadlate" data-tconst="tt0253474" height="209" src="https://m.media-amazon.com/images/M/MV5BOWRiZDIxZjktMTA1NC00MDQ2LWEzMjUtMTliZmY3NjQ3ODJiXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY209_CR5,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0253474/?ref_=rt_li_tt">The Pianist</a>
<span class="lister-item-year">(2002)</span>
<p class="">A Polish Jewish musician struggles to survive the destruction of the Warsaw ghetto of World War II. </p>
Director:
<a href="/name/nm0000591/?ref_=_li_dr_0">Roman Polanski</a>
Stars:
<a href="/name/nm0004778/?ref_=_li_st_0">Adrien Brody</a>,
<a href="/name/nm0470981/?ref_=_li_st_1">Thomas Kretschmann</a>,
<a href="/name/nm0277975/?ref_=_li_st_2">Frank Finlay</a>,
<a href="/name/nm0288976/?ref_=_li_st_3">Emilia Fox</a>





<a href="/title/tt1650062/?ref_=rt_li_i">
  <img alt="Super 8" class="loadlate" data-tconst="tt1650062" height="209" src="https://m.media-amazon.com/images/M/MV5BMjIzNjEyMzcwOF5BMl5BanBnXkFtZTcwMTkyMjE0NQ@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1650062/?ref_=rt_li_tt">Super 8</a>
<span class="lister-item-year">(2011)</span>
<p class="">During the summer of 1979, a group of friends witness a train crash and investigate subsequent unexplained events in their small town. </p>
Director:
<a href="/name/nm0009190/?ref_=_li_dr_0">J.J. Abrams</a>
Stars:
<a href="/name/nm1102577/?ref_=_li_st_0">Elle Fanning</a>,
<a href="/name/nm1404488/?ref_=_li_st_1">AJ Michalka</a>,
<a href="/name/nm0151419/?ref_=_li_st_2">Kyle Chandler</a>,
<a href="/name/nm1525807/?ref_=_li_st_3">Joel Courtney</a>





<a href="/title/tt0434409/?ref_=rt_li_i">
  <img alt="V for Vendetta" class="loadlate" data-tconst="tt0434409" height="209" src="https://m.media-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0434409/?ref_=rt_li_tt">V for Vendetta</a>
<span class="lister-item-year">(2005)</span>
<p class="">In a future British dystopian society, a shadowy freedom fighter, known only by the alias of "V", plots to overthrow the tyrannical government - with the help of a young woman. </p>
Director:
<a href="/name/nm0574625/?ref_=_li_dr_0">James McTeigue</a>
Stars:
<a href="/name/nm0915989/?ref_=_li_st_0">Hugo Weaving</a>,
<a href="/name/nm0000204/?ref_=_li_st_1">Natalie Portman</a>,
<a href="/name/nm0001291/?ref_=_li_st_2">Rupert Graves</a>,
<a href="/name/nm0001653/?ref_=_li_st_3">Stephen Rea</a>





<a href="/title/tt0266987/?ref_=rt_li_i">
  <img alt="Spy Game" class="loadlate" data-tconst="tt0266987" height="209" src="https://m.media-amazon.com/images/M/MV5BNjNhOGZkNzktMGU3NC00ODk2LWE4NjctZTliN2JjZTQxZmIxXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UY209_CR1,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0266987/?ref_=rt_li_tt">Spy Game</a>
<span class="lister-item-year">(2001)</span>
<p class="">Retiring CIA agent Nathan Muir recalls his training of Tom Bishop while working against agency politics to free him from his Chinese captors. </p>
Director:
<a href="/name/nm0001716/?ref_=_li_dr_0">Tony Scott</a>
Stars:
<a href="/name/nm0000602/?ref_=_li_st_0">Robert Redford</a>,
<a href="/name/nm0000093/?ref_=_li_st_1">Brad Pitt</a>,
<a href="/name/nm0001517/?ref_=_li_st_2">Catherine McCormack</a>,
<a href="/name/nm0226820/?ref_=_li_st_3">Stephen Dillane</a>





<a href="/title/tt0120689/?ref_=rt_li_i">
  <img alt="The Green Mile" class="loadlate" data-tconst="tt0120689" height="209" src="https://m.media-amazon.com/images/M/MV5BMTUxMzQyNjA5MF5BMl5BanBnXkFtZTYwOTU2NTY3._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0120689/?ref_=rt_li_tt">The Green Mile</a>
<span class="lister-item-year">(1999)</span>
<p class="">The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift. </p>
Director:
<a href="/name/nm0001104/?ref_=_li_dr_0">Frank Darabont</a>
Stars:
<a href="/name/nm0000158/?ref_=_li_st_0">Tom Hanks</a>,
<a href="/name/nm0003817/?ref_=_li_st_1">Michael Clarke Duncan</a>,
<a href="/name/nm0001556/?ref_=_li_st_2">David Morse</a>,
<a href="/name/nm0001372/?ref_=_li_st_3">Bonnie Hunt</a>





<a href="/title/tt1130884/?ref_=rt_li_i">
  <img alt="Shutter Island" class="loadlate" data-tconst="tt1130884" height="209" src="https://m.media-amazon.com/images/M/MV5BYzhiNDkyNzktNTZmYS00ZTBkLTk2MDAtM2U0YjU1MzgxZjgzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1130884/?ref_=rt_li_tt">Shutter Island</a>
<span class="lister-item-year">(2010)</span>
<p class="">In 1954, a U.S. Marshal investigates the disappearance of a murderer who escaped from a hospital for the criminally insane. </p>
Director:
<a href="/name/nm0000217/?ref_=_li_dr_0">Martin Scorsese</a>
Stars:
<a href="/name/nm0000138/?ref_=_li_st_0">Leonardo DiCaprio</a>,
<a href="/name/nm0607865/?ref_=_li_st_1">Emily Mortimer</a>,
<a href="/name/nm0749263/?ref_=_li_st_2">Mark Ruffalo</a>,
<a href="/name/nm0001426/?ref_=_li_st_3">Ben Kingsley</a>





<a href="/title/tt0910970/?ref_=rt_li_i">
  <img alt="WALL·E" class="loadlate" data-tconst="tt0910970" height="209" src="https://m.media-amazon.com/images/M/MV5BMjExMTg5OTU0NF5BMl5BanBnXkFtZTcwMjMxMzMzMw@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0910970/?ref_=rt_li_tt">WALL·E</a>
<span class="lister-item-year">(2008)</span>
<p class="">In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind. </p>
Director:
<a href="/name/nm0004056/?ref_=_li_dr_0">Andrew Stanton</a>
Stars:
<a href="/name/nm0123785/?ref_=_li_st_0">Ben Burtt</a>,
<a href="/name/nm2264184/?ref_=_li_st_1">Elissa Knight</a>,
<a href="/name/nm0307531/?ref_=_li_st_2">Jeff Garlin</a>,
<a href="/name/nm0929609/?ref_=_li_st_3">Fred Willard</a>





<a href="/title/tt0317705/?ref_=rt_li_i">
  <img alt="The Incredibles" class="loadlate" data-tconst="tt0317705" height="209" src="https://m.media-amazon.com/images/M/MV5BMTY5OTU0OTc2NV5BMl5BanBnXkFtZTcwMzU4MDcyMQ@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0317705/?ref_=rt_li_tt">The Incredibles</a>
<span class="lister-item-year">(2004)</span>
<p class="">A family of undercover superheroes, while trying to live the quiet suburban life, are forced into action to save the world. </p>
Director:
<a href="/name/nm0083348/?ref_=_li_dr_0">Brad Bird</a>
Stars:
<a href="/name/nm0005266/?ref_=_li_st_0">Craig T. Nelson</a>,
<a href="/name/nm0000168/?ref_=_li_st_1">Samuel L. Jackson</a>,
<a href="/name/nm0000456/?ref_=_li_st_2">Holly Hunter</a>,
<a href="/name/nm0005134/?ref_=_li_st_3">Jason Lee</a>





<a href="/title/tt0325710/?ref_=rt_li_i">
  <img alt="The Last Samurai" class="loadlate" data-tconst="tt0325710" height="209" src="https://m.media-amazon.com/images/M/MV5BMzkyNzQ1Mzc0NV5BMl5BanBnXkFtZTcwODg3MzUzMw@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0325710/?ref_=rt_li_tt">The Last Samurai</a>
<span class="lister-item-year">(2003)</span>
<p class="">An American military advisor embraces the Samurai culture he was hired to destroy after he is captured in battle. </p>
Director:
<a href="/name/nm0001880/?ref_=_li_dr_0">Edward Zwick</a>
Stars:
<a href="/name/nm0000129/?ref_=_li_st_0">Tom Cruise</a>,
<a href="/name/nm0913822/?ref_=_li_st_1">Ken Watanabe</a>,
<a href="/name/nm0175262/?ref_=_li_st_2">Billy Connolly</a>,
<a href="/name/nm0040472/?ref_=_li_st_3">William Atherton</a>





<a href="/title/tt0780504/?ref_=rt_li_i">
  <img alt="Drive" class="loadlate" data-tconst="tt0780504" height="209" src="https://m.media-amazon.com/images/M/MV5BZjY5ZjQyMjMtMmEwOC00Nzc2LTllYTItMmU2MzJjNTg1NjY0XkEyXkFqcGdeQXVyNjQ1MTMzMDQ@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0780504/?ref_=rt_li_tt">Drive</a>
<span class="lister-item-year">(I) (2011)</span>
<p class="">An action drama about a mysterious Hollywood stuntman and mechanic who moonlights as a getaway driver, and finds himself in trouble when he helps out his neighbor. </p>
Director:
<a href="/name/nm0716347/?ref_=_li_dr_0">Nicolas Winding Refn</a>
Stars:
<a href="/name/nm0331516/?ref_=_li_st_0">Ryan Gosling</a>,
<a href="/name/nm1659547/?ref_=_li_st_1">Carey Mulligan</a>,
<a href="/name/nm0186505/?ref_=_li_st_2">Bryan Cranston</a>,
<a href="/name/nm0000983/?ref_=_li_st_3">Albert Brooks</a>





<a href="/title/tt2267998/?ref_=rt_li_i">
  <img alt="Gone Girl" class="loadlate" data-tconst="tt2267998" height="209" src="https://m.media-amazon.com/images/M/MV5BMTk0MDQ3MzAzOV5BMl5BanBnXkFtZTgwNzU1NzE3MjE@._V1_UY209_CR1,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt2267998/?ref_=rt_li_tt">Gone Girl</a>
<span class="lister-item-year">(2014)</span>
<p class="">With his wife's disappearance having become the focus of an intense media circus, a man sees the spotlight turned on him when it's suspected that he may not be innocent. </p>
Director:
<a href="/name/nm0000399/?ref_=_li_dr_0">David Fincher</a>
Stars:
<a href="/name/nm0000255/?ref_=_li_st_0">Ben Affleck</a>,
<a href="/name/nm0683253/?ref_=_li_st_1">Rosamund Pike</a>,
<a href="/name/nm0000439/?ref_=_li_st_2">Neil Patrick Harris</a>,
<a href="/name/nm1347153/?ref_=_li_st_3">Tyler Perry</a>





<a href="/title/tt0181536/?ref_=rt_li_i">
  <img alt="Finding Forrester" class="loadlate" data-tconst="tt0181536" height="209" src="https://m.media-amazon.com/images/M/MV5BMTk5MjQ4MjcyOF5BMl5BanBnXkFtZTYwNTMzODg2._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0181536/?ref_=rt_li_tt">Finding Forrester</a>
<span class="lister-item-year">(2000)</span>
<p class="">A young writing prodigy finds a mentor in a reclusive author. </p>
Director:
<a href="/name/nm0001814/?ref_=_li_dr_0">Gus Van Sant</a>
Stars:
<a href="/name/nm0000125/?ref_=_li_st_0">Sean Connery</a>,
<a href="/name/nm0114532/?ref_=_li_st_1">Rob Brown</a>,
<a href="/name/nm0000719/?ref_=_li_st_2">F. Murray Abraham</a>,
<a href="/name/nm0001593/?ref_=_li_st_3">Anna Paquin</a>





<a href="/title/tt0137523/?ref_=rt_li_i">
  <img alt="Fight Club" class="loadlate" data-tconst="tt0137523" height="209" src="https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0137523/?ref_=rt_li_tt">Fight Club</a>
<span class="lister-item-year">(1999)</span>
<p class="">An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more. </p>
Director:
<a href="/name/nm0000399/?ref_=_li_dr_0">David Fincher</a>
Stars:
<a href="/name/nm0000093/?ref_=_li_st_0">Brad Pitt</a>,
<a href="/name/nm0001570/?ref_=_li_st_1">Edward Norton</a>,
<a href="/name/nm0001533/?ref_=_li_st_2">Meat Loaf</a>,
<a href="/name/nm0340260/?ref_=_li_st_3">Zach Grenier</a>





<a href="/title/tt0499549/?ref_=rt_li_i">
  <img alt="Avatar" class="loadlate" data-tconst="tt0499549" height="209" src="https://m.media-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0499549/?ref_=rt_li_tt">Avatar</a>
<span class="lister-item-year">(2009)</span>
<p class="">A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home. </p>
Director:
<a href="/name/nm0000116/?ref_=_li_dr_0">James Cameron</a>
Stars:
<a href="/name/nm0941777/?ref_=_li_st_0">Sam Worthington</a>,
<a href="/name/nm0757855/?ref_=_li_st_1">Zoe Saldana</a>,
<a href="/name/nm0000244/?ref_=_li_st_2">Sigourney Weaver</a>,
<a href="/name/nm0735442/?ref_=_li_st_3">Michelle Rodriguez</a>





<a href="/title/tt0988045/?ref_=rt_li_i">
  <img alt="Sherlock Holmes" class="loadlate" data-tconst="tt0988045" height="209" src="https://m.media-amazon.com/images/M/MV5BMTg0NjEwNjUxM15BMl5BanBnXkFtZTcwMzk0MjQ5Mg@@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0988045/?ref_=rt_li_tt">Sherlock Holmes</a>
<span class="lister-item-year">(2009)</span>
<p class="">Detective Sherlock Holmes and his stalwart partner Watson engage in a battle of wits and brawn with a nemesis whose plot is a threat to all of England. </p>
Director:
<a href="/name/nm0005363/?ref_=_li_dr_0">Guy Ritchie</a>
Stars:
<a href="/name/nm0000375/?ref_=_li_st_0">Robert Downey Jr.</a>,
<a href="/name/nm0000179/?ref_=_li_st_1">Jude Law</a>,
<a href="/name/nm1046097/?ref_=_li_st_2">Rachel McAdams</a>,
<a href="/name/nm0835016/?ref_=_li_st_3">Mark Strong</a>





<a href="/title/tt1219289/?ref_=rt_li_i">
  <img alt="Limitless" class="loadlate" data-tconst="tt1219289" height="209" src="https://m.media-amazon.com/images/M/MV5BYmViZGM0MGItZTdiYi00ZDU4LWIxNDYtNTc1NWQ5Njc2N2YwXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UY209_CR2,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1219289/?ref_=rt_li_tt">Limitless</a>
<span class="lister-item-year">(I) (2011)</span>
<p class="">With the help of a mysterious pill that enables the user to access 100% of his brain's abilities, a struggling writer becomes a financial wizard, but it also puts him in a new world with many dangers. </p>
Director:
<a href="/name/nm1139726/?ref_=_li_dr_0">Neil Burger</a>
Stars:
<a href="/name/nm0177896/?ref_=_li_st_0">Bradley Cooper</a>,
<a href="/name/nm0295484/?ref_=_li_st_1">Anna Friel</a>,
<a href="/name/nm0180411/?ref_=_li_st_2">Abbie Cornish</a>,
<a href="/name/nm0000134/?ref_=_li_st_3">Robert De Niro</a>





<a href="/title/tt0208092/?ref_=rt_li_i">
  <img alt="Snatch" class="loadlate" data-tconst="tt0208092" height="209" src="https://m.media-amazon.com/images/M/MV5BMTA2NDYxOGYtYjU1Mi00Y2QzLTgxMTQtMWI1MGI0ZGQ5MmU4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UY209_CR1,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0208092/?ref_=rt_li_tt">Snatch</a>
<span class="lister-item-year">(2000)</span>
<p class="">Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers and supposedly Jewish jewelers fight to track down a priceless stolen diamond. </p>
Director:
<a href="/name/nm0005363/?ref_=_li_dr_0">Guy Ritchie</a>
Stars:
<a href="/name/nm0005458/?ref_=_li_st_0">Jason Statham</a>,
<a href="/name/nm0000093/?ref_=_li_st_1">Brad Pitt</a>,
<a href="/name/nm0334318/?ref_=_li_st_2">Stephen Graham</a>,
<a href="/name/nm0005068/?ref_=_li_st_3">Vinnie Jones</a>





<a href="/title/tt0111161/?ref_=rt_li_i">
  <img alt="The Shawshank Redemption" class="loadlate" data-tconst="tt0111161" height="209" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0111161/?ref_=rt_li_tt">The Shawshank Redemption</a>
<span class="lister-item-year">(1994)</span>
<p class="">Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency. </p>
Director:
<a href="/name/nm0001104/?ref_=_li_dr_0">Frank Darabont</a>
Stars:
<a href="/name/nm0000209/?ref_=_li_st_0">Tim Robbins</a>,
<a href="/name/nm0000151/?ref_=_li_st_1">Morgan Freeman</a>,
<a href="/name/nm0348409/?ref_=_li_st_2">Bob Gunton</a>,
<a href="/name/nm0006669/?ref_=_li_st_3">William Sadler</a>





<a href="/title/tt0119217/?ref_=rt_li_i">
  <img alt="Good Will Hunting" class="loadlate" data-tconst="tt0119217" height="209" src="https://m.media-amazon.com/images/M/MV5BOTI0MzcxMTYtZDVkMy00NjY1LTgyMTYtZmUxN2M3NmQ2NWJhXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0119217/?ref_=rt_li_tt">Good Will Hunting</a>
<span class="lister-item-year">(1997)</span>
<p class="">Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life. </p>
Director:
<a href="/name/nm0001814/?ref_=_li_dr_0">Gus Van Sant</a>
Stars:
<a href="/name/nm0000245/?ref_=_li_st_0">Robin Williams</a>,
<a href="/name/nm0000354/?ref_=_li_st_1">Matt Damon</a>,
<a href="/name/nm0000255/?ref_=_li_st_2">Ben Affleck</a>,
<a href="/name/nm0001745/?ref_=_li_st_3">Stellan Skarsgård</a>





<a href="/title/tt1104001/?ref_=rt_li_i">
  <img alt="TRON: Legacy" class="loadlate" data-tconst="tt1104001" height="209" src="https://m.media-amazon.com/images/M/MV5BMTk4NTk4MTk1OF5BMl5BanBnXkFtZTcwNTE2MDIwNA@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1104001/?ref_=rt_li_tt">TRON: Legacy</a>
<span class="lister-item-year">(2010)</span>
<p class="">The son of a virtual world designer goes looking for his father and ends up inside the digital world that his father designed. He meets his father's corrupted creation and a unique ally who was born inside the digital world. </p>
Director:
<a href="/name/nm2676052/?ref_=_li_dr_0">Joseph Kosinski</a>
Stars:
<a href="/name/nm0000313/?ref_=_li_st_0">Jeff Bridges</a>,
<a href="/name/nm1330560/?ref_=_li_st_1">Garrett Hedlund</a>,
<a href="/name/nm1312575/?ref_=_li_st_2">Olivia Wilde</a>,
<a href="/name/nm0000310/?ref_=_li_st_3">Bruce Boxleitner</a>





<a href="/title/tt1877830/?ref_=rt_li_i">
  <img alt="The Batman" class="loadlate" data-tconst="tt1877830" height="209" src="https://m.media-amazon.com/images/M/MV5BMDdmMTBiNTYtMDIzNi00NGVlLWIzMDYtZTk3MTQ3NGQxZGEwXkEyXkFqcGdeQXVyMzMwOTU5MDk@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1877830/?ref_=rt_li_tt">The Batman</a>
<span class="lister-item-year">(2022)</span>
<p class="">When the Riddler, a sadistic serial killer, begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement. </p>
Director:
<a href="/name/nm0716257/?ref_=_li_dr_0">Matt Reeves</a>
Stars:
<a href="/name/nm1500155/?ref_=_li_st_0">Robert Pattinson</a>,
<a href="/name/nm2368789/?ref_=_li_st_1">Zoë Kravitz</a>,
<a href="/name/nm0942482/?ref_=_li_st_2">Jeffrey Wright</a>,
<a href="/name/nm0268199/?ref_=_li_st_3">Colin Farrell</a>





<a href="/title/tt1375666/?ref_=rt_li_i">
  <img alt="Inception" class="loadlate" data-tconst="tt1375666" height="209" src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1375666/?ref_=rt_li_tt">Inception</a>
<span class="lister-item-year">(2010)</span>
<p class="">A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster. </p>
Director:
<a href="/name/nm0634240/?ref_=_li_dr_0">Christopher Nolan</a>
Stars:
<a href="/name/nm0000138/?ref_=_li_st_0">Leonardo DiCaprio</a>,
<a href="/name/nm0330687/?ref_=_li_st_1">Joseph Gordon-Levitt</a>,
<a href="/name/nm0680983/?ref_=_li_st_2">Elliot Page</a>,
<a href="/name/nm0913822/?ref_=_li_st_3">Ken Watanabe</a>





<a href="/title/tt0076759/?ref_=rt_li_i">
  <img alt="Star Wars" class="loadlate" data-tconst="tt0076759" height="209" src="https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0076759/?ref_=rt_li_tt">Star Wars</a>
<span class="lister-item-year">(1977)</span>
<p class="">Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader. </p>
Director:
<a href="/name/nm0000184/?ref_=_li_dr_0">George Lucas</a>
Stars:
<a href="/name/nm0000434/?ref_=_li_st_0">Mark Hamill</a>,
<a href="/name/nm0000148/?ref_=_li_st_1">Harrison Ford</a>,
<a href="/name/nm0000402/?ref_=_li_st_2">Carrie Fisher</a>,
<a href="/name/nm0000027/?ref_=_li_st_3">Alec Guinness</a>





<a href="/title/tt0120815/?ref_=rt_li_i">
  <img alt="Saving Private Ryan" class="loadlate" data-tconst="tt0120815" height="209" src="https://m.media-amazon.com/images/M/MV5BZjhkMDM4MWItZTVjOC00ZDRhLThmYTAtM2I5NzBmNmNlMzI1XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_UY209_CR1,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0120815/?ref_=rt_li_tt">Saving Private Ryan</a>
<span class="lister-item-year">(1998)</span>
<p class="">Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0000158/?ref_=_li_st_0">Tom Hanks</a>,
<a href="/name/nm0000354/?ref_=_li_st_1">Matt Damon</a>,
<a href="/name/nm0001744/?ref_=_li_st_2">Tom Sizemore</a>,
<a href="/name/nm0122653/?ref_=_li_st_3">Edward Burns</a>





<a href="/title/tt0454876/?ref_=rt_li_i">
  <img alt="Life of Pi" class="loadlate" data-tconst="tt0454876" height="209" src="https://m.media-amazon.com/images/M/MV5BNTg2OTY2ODg5OF5BMl5BanBnXkFtZTcwODM5MTYxOA@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0454876/?ref_=rt_li_tt">Life of Pi</a>
<span class="lister-item-year">(2012)</span>
<p class="">A young man who survives a disaster at sea is hurtled into an epic journey of adventure and discovery. While cast away, he forms an unexpected connection with another survivor: a fearsome Bengal tiger. </p>
Director:
<a href="/name/nm0000487/?ref_=_li_dr_0">Ang Lee</a>
Stars:
<a href="/name/nm4139037/?ref_=_li_st_0">Suraj Sharma</a>,
<a href="/name/nm0451234/?ref_=_li_st_1">Irrfan Khan</a>,
<a href="/name/nm1300009/?ref_=_li_st_2">Adil Hussain</a>,
<a href="/name/nm0007102/?ref_=_li_st_3">Tabu</a>





<a href="/title/tt0107290/?ref_=rt_li_i">
  <img alt="Jurassic Park" class="loadlate" data-tconst="tt0107290" height="209" src="https://m.media-amazon.com/images/M/MV5BMjM2MDgxMDg0Nl5BMl5BanBnXkFtZTgwNTM2OTM5NDE@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0107290/?ref_=rt_li_tt">Jurassic Park</a>
<span class="lister-item-year">(1993)</span>
<p class="">A pragmatic paleontologist touring an almost complete theme park on an island in Central America is tasked with protecting a couple of kids after a power failure causes the park's cloned dinosaurs to run loose. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0000554/?ref_=_li_st_0">Sam Neill</a>,
<a href="/name/nm0000368/?ref_=_li_st_1">Laura Dern</a>,
<a href="/name/nm0000156/?ref_=_li_st_2">Jeff Goldblum</a>,
<a href="/name/nm0000277/?ref_=_li_st_3">Richard Attenborough</a>





<a href="/title/tt0259711/?ref_=rt_li_i">
  <img alt="Vanilla Sky" class="loadlate" data-tconst="tt0259711" height="209" src="https://m.media-amazon.com/images/M/MV5BYzFlMTJjYzUtMWFjYy00NjkyLTg1Y2EtYmZkMjdlOGQ1ZGYwL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0259711/?ref_=rt_li_tt">Vanilla Sky</a>
<span class="lister-item-year">(2001)</span>
<p class="">A self-indulgent and vain publishing magnate finds his privileged life upended after a vehicular accident with a resentful lover. </p>
Director:
<a href="/name/nm0001081/?ref_=_li_dr_0">Cameron Crowe</a>
Stars:
<a href="/name/nm0000129/?ref_=_li_st_0">Tom Cruise</a>,
<a href="/name/nm0004851/?ref_=_li_st_1">Penélope Cruz</a>,
<a href="/name/nm0000139/?ref_=_li_st_2">Cameron Diaz</a>,
<a href="/name/nm0000621/?ref_=_li_st_3">Kurt Russell</a>





<a href="/title/tt2140373/?ref_=rt_li_i">
  <img alt="Saving Mr. Banks" class="loadlate" data-tconst="tt2140373" height="209" src="https://m.media-amazon.com/images/M/MV5BMTc0MTQ3NzE4Nl5BMl5BanBnXkFtZTcwMzA4NDM5OQ@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt2140373/?ref_=rt_li_tt">Saving Mr. Banks</a>
<span class="lister-item-year">(2013)</span>
<p class="">Author <a href="/name/nm0871308">P.L. Travers</a> reflects on her childhood after reluctantly meeting with <a href="/name/nm0000370">Walt Disney</a>, who seeks to adapt her Mary Poppins books for the big screen. </p>
Director:
<a href="/name/nm0359387/?ref_=_li_dr_0">John Lee Hancock</a>
Stars:
<a href="/name/nm0000668/?ref_=_li_st_0">Emma Thompson</a>,
<a href="/name/nm0000158/?ref_=_li_st_1">Tom Hanks</a>,
<a href="/name/nm4003520/?ref_=_li_st_2">Annie Rose Buckley</a>,
<a href="/name/nm0268199/?ref_=_li_st_3">Colin Farrell</a>





<a href="/title/tt0816692/?ref_=rt_li_i">
  <img alt="Interstellar" class="loadlate" data-tconst="tt0816692" height="209" src="https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0816692/?ref_=rt_li_tt">Interstellar</a>
<span class="lister-item-year">(2014)</span>
<p class="">A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival. </p>
Director:
<a href="/name/nm0634240/?ref_=_li_dr_0">Christopher Nolan</a>
Stars:
<a href="/name/nm0000190/?ref_=_li_st_0">Matthew McConaughey</a>,
<a href="/name/nm0004266/?ref_=_li_st_1">Anne Hathaway</a>,
<a href="/name/nm1567113/?ref_=_li_st_2">Jessica Chastain</a>,
<a href="/name/nm3237775/?ref_=_li_st_3">Mackenzie Foy</a>





<a href="/title/tt1408101/?ref_=rt_li_i">
  <img alt="Star Trek Into Darkness" class="loadlate" data-tconst="tt1408101" height="209" src="https://m.media-amazon.com/images/M/MV5BMTk2NzczOTgxNF5BMl5BanBnXkFtZTcwODQ5ODczOQ@@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt1408101/?ref_=rt_li_tt">Star Trek Into Darkness</a>
<span class="lister-item-year">(2013)</span>
<p class="">After the crew of the Enterprise find an unstoppable force of terror from within their own organization, Captain Kirk leads a manhunt to a war-zone world to capture a one-man weapon of mass destruction. </p>
Director:
<a href="/name/nm0009190/?ref_=_li_dr_0">J.J. Abrams</a>
Stars:
<a href="/name/nm1517976/?ref_=_li_st_0">Chris Pine</a>,
<a href="/name/nm0704270/?ref_=_li_st_1">Zachary Quinto</a>,
<a href="/name/nm0757855/?ref_=_li_st_2">Zoe Saldana</a>,
<a href="/name/nm1212722/?ref_=_li_st_3">Benedict Cumberbatch</a>




<a href="/title/tt2980516/?ref_=rt_li_i">
  <img alt="The Theory of Everything" class="loadlate" data-tconst="tt2980516" height="209" src="https://m.media-amazon.com/images/M/MV5BMTAwMTU4MDA3NDNeQTJeQWpwZ15BbWU4MDk4NTMxNTIx._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt2980516/?ref_=rt_li_tt">The Theory of Everything</a>
<span class="lister-item-year">(2014)</span>
<p class="">A look at the relationship between the famous physicist <a href="/name/nm0370071">Stephen Hawking</a> and his wife. </p>
Director:
<a href="/name/nm1016428/?ref_=_li_dr_0">James Marsh</a>
Stars:
<a href="/name/nm1519666/?ref_=_li_st_0">Eddie Redmayne</a>,
<a href="/name/nm0428065/?ref_=_li_st_1">Felicity Jones</a>,
<a href="/name/nm4350114/?ref_=_li_st_2">Tom Prior</a>,
<a href="/name/nm6240141/?ref_=_li_st_3">Sophie Perry</a>




<a href="/title/tt0362227/?ref_=rt_li_i">
  <img alt="The Terminal" class="loadlate" data-tconst="tt0362227" height="209" src="https://m.media-amazon.com/images/M/MV5BMTM1MTIwNTMxOF5BMl5BanBnXkFtZTcwNjIxMjQyMw@@._V1_UY209_CR7,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0362227/?ref_=rt_li_tt">The Terminal</a>
<span class="lister-item-year">(2004)</span>
<p class="">An Eastern European tourist unexpectedly finds himself stranded in JFK airport, and must take up temporary residence there. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0000158/?ref_=_li_st_0">Tom Hanks</a>,
<a href="/name/nm0001876/?ref_=_li_st_1">Catherine Zeta-Jones</a>,
<a href="/name/nm0564277/?ref_=_li_st_2">Chi McBride</a>,
<a href="/name/nm0001804/?ref_=_li_st_3">Stanley Tucci</a>




<a href="/title/tt0181689/?ref_=rt_li_i">
  <img alt="Minority Report" class="loadlate" data-tconst="tt0181689" height="209" src="https://m.media-amazon.com/images/M/MV5BZTI3YzZjZjEtMDdjOC00OWVjLTk0YmYtYzI2MGMwZjFiMzBlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0181689/?ref_=rt_li_tt">Minority Report</a>
<span class="lister-item-year">(2002)</span>
<p class="">In a future where a special police unit is able to arrest murderers before they commit their crimes, an officer from that unit is himself accused of a future murder. </p>
Director:
<a href="/name/nm0000229/?ref_=_li_dr_0">Steven Spielberg</a>
Stars:
<a href="/name/nm0000129/?ref_=_li_st_0">Tom Cruise</a>,
<a href="/name/nm0268199/?ref_=_li_st_1">Colin Farrell</a>,
<a href="/name/nm0608090/?ref_=_li_st_2">Samantha Morton</a>,
<a href="/name/nm0001884/?ref_=_li_st_3">Max von Sydow</a>




<a href="/title/tt0086190/?ref_=rt_li_i">
  <img alt="Star Wars: Episode VI - Return of the Jedi" class="loadlate" data-tconst="tt0086190" height="209" src="https://m.media-amazon.com/images/M/MV5BOWZlMjFiYzgtMTUzNC00Y2IzLTk1NTMtZmNhMTczNTk0ODk1XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0086190/?ref_=rt_li_tt">Star Wars: Episode VI - Return of the Jedi</a>
<span class="lister-item-year">(1983)</span>
<p class="">After a daring mission to rescue Han Solo from Jabba the Hutt, the Rebels dispatch to Endor to destroy the second Death Star. Meanwhile, Luke struggles to help Darth Vader back from the dark side without falling into the Emperor's trap. </p>
Director:
<a href="/name/nm0549658/?ref_=_li_dr_0">Richard Marquand</a>
Stars:
<a href="/name/nm0000434/?ref_=_li_st_0">Mark Hamill</a>,
<a href="/name/nm0000148/?ref_=_li_st_1">Harrison Ford</a>,
<a href="/name/nm0000402/?ref_=_li_st_2">Carrie Fisher</a>,
<a href="/name/nm0001850/?ref_=_li_st_3">Billy Dee Williams</a>





<a href="/title/tt0080684/?ref_=rt_li_i">
  <img alt="Star Wars: Episode V - The Empire Strikes Back" class="loadlate" data-tconst="tt0080684" height="209" src="https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0080684/?ref_=rt_li_tt">Star Wars: Episode V - The Empire Strikes Back</a>
<span class="lister-item-year">(1980)</span>
<p class="">After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett. </p>
Director:
<a href="/name/nm0449984/?ref_=_li_dr_0">Irvin Kershner</a>
Stars:
<a href="/name/nm0000434/?ref_=_li_st_0">Mark Hamill</a>,
<a href="/name/nm0000148/?ref_=_li_st_1">Harrison Ford</a>,
<a href="/name/nm0000402/?ref_=_li_st_2">Carrie Fisher</a>,
<a href="/name/nm0001850/?ref_=_li_st_3">Billy Dee Williams</a>





<article itemscope itemtype="http://schema.org/BlogPosting">

<%
  const movies = [
    {
      name: 'Interstellar',
      imgSrc: '/images/thoughts/ten-star-movies/interstellar.jpg',
      imdb: {
        year: '2014',
        id: 'tt0816692',
      },
    },
    {
      name: 'The Shawshank Redemption',
      imgSrc: '/images/thoughts/ten-star-movies/the-shawshank-redemption.jpg',
      imdb: {
        year: '1994',
        id: 'tt0111161',
      },
    },
    {
      name: 'Inception',
      imgSrc: '/images/thoughts/ten-star-movies/inception.jpg',
      imdb: {
        year: '2010',
        director: 'Christopher Nolan',
        id: 'tt1375666',
      },
    },
    {
      name: 'Fight Club',
      imgSrc: '/images/thoughts/ten-star-movies/fight-club.jpg',
      imdb: {
        year: '1999',
        director: 'David Fincher',
        id: 'tt0137523',
      },
    },
    {
      name: 'Gone Girl',
      imgSrc: '/images/thoughts/ten-star-movies/gone-girl.jpg',
      imdb: {
        year: '2014',
        director: 'David Fincher',
        id: 'tt2267998',
      },
    },
    {
      name: 'The Matrix',
      imgSrc: '/images/thoughts/ten-star-movies/the-matrix.jpg',
      imdb: {
        year: '1999',
        Director: 'Lana Wachowski (as The Wachowski Brothers), Lilly Wachowski (as The Wachowski Brothers)',
        id: 'tt0133093',
      },
    },
    {
      name: 'Goodfellas',
      imgSrc: '/images/thoughts/ten-star-movies/goodfellas.jpg',
      imdb: {
        year: '1990',
        director: 'Martin Scorsese',
        id: 'tt0099685',
      },
    },
    {
      name: 'Star Wars: Episode IV - A New Hope',
      imgSrc: '/images/thoughts/ten-star-movies/star-wars-episode-i-v-a-new-hope.jpg',
      imdb: {
        year: '1977',
        director: 'George Lucas',
        id: 'tt0076759',
      },
    },
    {
      name: 'Snatch',
      imgSrc: '/images/thoughts/ten-star-movies/snatch.jpg',
      imdb: {
        year: '2000',
        director: 'Guy Ritchie',
        id: 'tt0208092',
      },
    },
    // {
    //   name: 'Avatar',
    //   imgSrc: '/images/thoughts/ten-star-movies/avatar.jpg',
    //   imdb: {
    //     year: '2009',
    //     director: 'James Cameron',
    //     id: 'tt0499549',
    //   },
    // },
    // {
    //   name: 'Good Will Hunting',
    //   imgSrc: '/images/thoughts/ten-star-movies/good-will-hunting.jpg',
    //   imdb: {
    //     year: '1997',
    //     director: 'Gus Van Sant',
    //     id: 'tt0119217',
    //   },
    // },
    // {
    //   name: 'Star Trek Into Darkness',
    //   imgSrc: '/images/thoughts/ten-star-movies/star-trek-into-darkness.jpg',
    //   imdb: {
    //     year: '2013',
    //     director: 'J.J. Abrams',
    //     id: '',
    //   },
    // },
    {
      name: 'Saving Private Ryan',
      imgSrc: '/images/thoughts/ten-star-movies/saving-private-ryan.jpg',
      imdb: {
        year: '1998',
        director: 'Steven Spielberg',
        id: 'tt0120815',
      },
    },
    {
      name: 'The Green Mile',
      imgSrc: '/images/thoughts/ten-star-movies/the-green-mile.jpg',
      imdb: {
        year: '1999',
        director: 'Frank Darabont',
        id: 'tt0120689',
      },
    },
    {
      name: 'The Theory of Everything',
      imgSrc: '/images/thoughts/ten-star-movies/the-theory-of-everything.jpg',
      imdb: {
        year: '2014',
        director: 'James Marsh',
        id: 'tt2980516',
      },
    },
    {
      name: 'Drive',
      imgSrc: '/images/thoughts/ten-star-movies/drive.jpg',
      imdb: {
        year: '2011',
        director: 'Nicolas Winding Refn',
        id: 'tt0780504',
      },
    },
    {
      name: 'Limitless',
      imgSrc: '/images/thoughts/ten-star-movies/limitless.jpg',
      imdb: {
        year: '2011',
        director: 'Neil Burger',
        id: 'tt1219289',
      },
    },
    {
      name: 'The Girl with the Dragon Tattoo',
      imgSrc: '/images/thoughts/ten-star-movies/the-girl-with-the-dragon-tattoo.jpg',
      imdb: {
        year: '2011',
        director: 'David Fincher',
        id: 'tt1568346',
      },
    },
    {
      name: 'Jurassic Park',
      imgSrc: '/images/thoughts/ten-star-movies/jurassic-park.jpg',
      imdb: {
        year: '1993',
        id: 'tt0107290',
      },
    },
    {
      name: 'Psycho',
      imgSrc: '/images/thoughts/ten-star-movies/psycho.jpg',
      imdb: {
        year: '1960',
        id: 'tt0054215',
      },
    },
    {
      name: 'Shutter Island',
      imgSrc: '/images/thoughts/ten-star-movies/shutter-island.jpg',
      imdb: {
        year: '2010',
        id: 'tt1130884',
      },
    },
    // {
    //   name: 'V for Vendetta',
    //   imgSrc: '/images/thoughts/ten-star-movies/v-for-vendetta.jpg',
    //   imdb: {
    //     year: '2006',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'The Incredibles',
    //   imgSrc: '/images/thoughts/ten-star-movies/the-incredibles.jpg',
    //   imdb: {
    //     year: '2004',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'Up',
    //   imgSrc: '/images/thoughts/ten-star-movies/up.jpg',
    //   imdb: {
    //     year: '2009',
    //     id: '',
    //   },
    // },
    {
      name: 'Catch Me If You Can',
      imgSrc: '/images/thoughts/ten-star-movies/catch-me-if-you-can.jpg',
      imdb: {
        year: '2002',
        director: 'Steven Spielberg',
        id: 'tt0264464',
      },
    },
    {
      name: 'Star Wars: Episode VI - Return of the Jedi',
      imgSrc: '/images/thoughts/ten-star-movies/star-wars-episode-v-i-return-of-the-jedi.jpg',
      imdb: {
        year: '1983',
        id: 'tt0086190',
      },
    },
    // {
    //   name: 'Super 8',
    //   imgSrc: '/images/thoughts/ten-star-movies/super-8.jpg',
    //   imdb: {
    //     year: '2011',
    //     id: '',
    //   },
    // },
    {
      name: 'Star Wars: Episode V - The Empire Strikes Back',
      imgSrc: '/images/thoughts/ten-star-movies/star-wars-episode-v-the-empire-strikes-back.jpg',
      imdb: {
        year: '1980',
        id: 'tt0080684',
      },
    },
    {
      name: 'Raiders of the Lost Ark',
      imgSrc: '/images/thoughts/ten-star-movies/raiders-of-the-lost-ark.jpg',
      imdb: {
        year: '1981',
        id: 'tt0082971',
      },
    },
    {
      name: 'The Pianist',
      imgSrc: '/images/thoughts/ten-star-movies/the-pianist.jpg',
      imdb: {
        year: '2002',
        id: 'tt0253474',
      },
    },
    {
      name: 'Indiana Jones and the Last Crusade',
      imgSrc: '/images/thoughts/ten-star-movies/indiana-jones-and-the-last-crusade.jpg',
      imdb: {
        year: '1989',
        id: 'tt0097576',
      },
    },
    // {
    //   name: 'Sherlock Holmes',
    //   imgSrc: '/images/thoughts/ten-star-movies/sherlock-holmes.jpg',
    //   imdb: {
    //     year: '2009',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'TRON: Legacy',
    //   imgSrc: '/images/thoughts/ten-star-movies/t-r-o-n-legacy.jpg',
    //   imdb: {
    //     year: '2010',
    //     id: '',
    //   },
    // },
    {
      name: 'Minority Report',
      imgSrc: '/images/thoughts/ten-star-movies/minority-report.jpg',
      imdb: {
        year: '2002',
        id: 'tt0181689',
      },
    },
    // {
    //   name: 'Life of Pi',
    //   imgSrc: '/images/thoughts/ten-star-movies/life-of-pi.jpg',
    //   imdb: {
    //     year: '2012',
    //     id: '',
    //   },
    // },
    // {
    //   name: 'WALL·E',
    //   imgSrc: '/images/thoughts/ten-star-movies/wall-e.jpg',
    //   imdb: {
    //     year: '2008',
    //     id: '',
    //   },
    // },
    {
      name: "The King's Speech",
      imgSrc: '/images/thoughts/ten-star-movies/the-king-s-speech.jpg',
      imdb: {
        year: '2010',
        id: 'tt1504320',
      },
    },
    // {
    //   name: 'Saving Mr. Banks',
    //   imgSrc: '/images/thoughts/ten-star-movies/saving-mr-banks.jpg',
    //   imdb: {
    //     year: '2013',
    //     id: '',
    //   },
    // },
    {
      name: 'The Last Samurai',
      imgSrc: '/images/thoughts/ten-star-movies/the-last-samurai.jpg',
      imdb: {
        year: '2003',
        id: 'tt0325710',
      },
    },
    {
      name: 'Vanilla Sky',
      imgSrc: '/images/thoughts/ten-star-movies/vanilla-sky.jpg',
      imdb: {
        year: '2001',
        director: 'Cameron Crowe',
        id: 'tt0259711',
      },
    },
    // {
    //   name: 'The Terminal',
    //   imgSrc: '/images/thoughts/ten-star-movies/the-terminal.jpg',
    //   imdb: {
    //     year: '2004',
    //     id: '',
    //   },
    // },
    {
      name: 'The Adventures of Tintin',
      imgSrc: '/images/thoughts/ten-star-movies/the-adventures-of-tintin.jpg',
      imdb: {
        year: '2011',
        id: 'tt0983193',
      },
    },
    // {
    //   name: 'Spy Game',
    //   imgSrc: '/images/thoughts/ten-star-movies/spy-game.jpg',
    //   imdb: {
    //     year: '2001',
    //     director: 'Tony Scott',
    //     id: 'tt0266987',
    //   },
    // }
  ];

  const sortedMovies = movies.sort((firstElement, secondElement) => (firstElement.imdb.year < secondElement.imdb.year) ? -1 : 1);

  for(let i = 0; i < sortedMovies.length; i++) {
    const movie = sortedMovies[i];
%>

  <%- externalLink(`
    ${lazyImage({ src: movie.imgSrc, alt: `${movie.name} movie poster` })}
    <h2 class="h3">${movie.name}</h2>
    <p class="h4">(${movie.imdb.year})</p>
  `, {
    id: movie.name.replace(/[^a-zA-Z0-9]/g, '-').toLowerCase(),
    class: 'movie block',
    href: `https://www.imdb.com/title/${movie.imdb.id}`,
  }) %>

<% } %>
</article>