---
title: 'Podcast'
description: ''
date: 2022-03-19
priority: 0.8
pageClasses:
  - 'recommendations podcasts'
layout: base
styles:
  - 'main'
  - 'recommendations/podcasts'
---


<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
  <blockquote>
    <p>A podcast is an episodic series of digital audio files which a user can subscribe to so that new episodes are automatically downloaded via web syndication to the user's own local computer, mobile application, or portable media player.</p>
    <p>The word arose as a portmanteau of "iPod" (a brand of media player) and "broadcast". Thus, the files distributed are in audio format, but may sometimes include other file formats such as PDF or ePub. Videos which are shared following a podcast model are called video podcasts or vodcasts.</p>
    <cite>
      <%- externalLink('Wikipedia.org', { href: 'https://en.wikipedia.org/wiki/Podcast' }) %>
    </cite>
  </blockquote>

  <p>
    Podcasts have become a large part of my life. I have always enjoyed audio books, but the downside to audio books is that they are a big time commitment. Podcasts, being episodic and often serial by nature are built as a much more digestible, bite-sized format. Below you'll see some podcasts that I could fairly describe a life changing. No joke. The more you learn about the world, the greater your perspective becomes, and the better your judgement becomes, at least in my opinion. These shows have expanded my perspective and made me a better member of society.
  </p>



  <div class="section-container">
  <%
    const podcasts = [
      {
        name: 'Stuff you should know',
        imgUrl: '/images/recommendations/podcasts/stuff-you-should-know.jpg',
        url: 'http://www.stuffyoushouldknow.com/',
        description: `If you enjoy learning the background of random subjects, this is the show for you. They cover widely varying topics; from the nuclear triad, to the history of Barbie dolls. I really enjoyed "The "Satanic Panic" of the 1980s", "How Triage Works", and their live episode on DB Cooper. Anyway, they are the top of this list for a reason. Check them out.`,
      }, {
        name: 'Reply All',
        imgUrl: '/images/recommendations/podcasts/reply-all.jpg',
        url: 'https://gimletmedia.com/reply-all/',
        description: `A member of the ${externalLink('Gimlet Media', { href: 'https://gimletmedia.com/' })} family of podcasts, Reply All takes a look at all things technology. In actuality, they just cover all things... technology optional. The reporting on this show is fascinating, and they have some of the most interesting stories to share.`,
      }, {
        name: 'Radio Lab',
        imgUrl: '/images/recommendations/podcasts/radio-lab.jpg',
        url: 'http://www.radiolab.org/',
        description: `Radiolab is a show about curiosity. Radiolab has wide arms and covers a variety of topics. But of the podcasts listed here, Radiolab is among the most thought-provoking. From the episodes about the fungi banking system, to the health risks associated with playing football at any age. If that sounds good to you, jump in.`,
      }, {
        name: 'Radio Lab Presents: More Perfect',
        imgUrl: '/images/recommendations/podcasts/radio-lab-presents-more-perfect.jpg',
        url: 'http://www.wnyc.org/shows/radiolabmoreperfect/',
        description: `Supreme Court decisions shape everything. Radiolab's first ever spin-off series, More Perfect, does a deep dive on the history and functions of the Supreme Court, and tells stories behind some of the court's biggest rulings. I think you should check it out. But it might give you an ulcer.`,
      }, {
        name: 'Freakonomics',
        imgUrl: '/images/recommendations/podcasts/freakonomics.jpg',
        url: 'http://freakonomics.com/',
        description: `A show where they "explore the hidden side of everything", Freakonomics is a fun and though provoking radio show that will analyze the economics of any topic. Inspired by the book of the same name, economist Steven Levitt and journalist Stephen Dubner, expand upon their book (now books) through an audio format, so you can hear the words right from the authors' mouths. One episode that I recommend is about sunk costs and opportunity costs through a lense that we can all understand. 'The Upside of Quitting' confronts the idea that 'winners never quit', and question the accuracy of that concept.`,
      }, {
        name: 'Revisionist History',
        imgUrl: '/images/recommendations/podcasts/revisionist-history.jpg',
        url: 'http://revisionisthistory.com/',
        description: `Revisionist History is Malcolm Gladwell's podcast. He goes back to interesting moments in history and re-reports them, always taking on a novel perspective. His follow-up reporting gives you a fuller picture of the historical events. My favorite is the episode about the Toyota sticky gas pedal controversy; the conclusion that he presents blew my mind and changed the way that I look at the world.`,
      }, {
        name: '99% Invisible',
        imgUrl: '/images/recommendations/podcasts/99-invisible.jpg',
        url: 'http://99percentinvisible.org/',
        description: `99% Invisible covers mainly architecture, but their motto is "99% of good design is invisible". If you like interesting facts, or the history behind systems or decisions, this is the show for you. Roman Mars reports from "beautiful, downtown Oakland, California" and has taught me more than whole courses in school did. My favorite episode is about baseball stadiums. I'm not a sports person, but the history around the transition from unique baseball stadiums to concrete donuts and back is surprisingly interesting. The show is filled with similar nuggets.`,
      }, {
        name: 'Startup',
        imgUrl: '/images/recommendations/podcasts/startup.jpg',
        url: 'https://gimletmedia.com/startup/',
        description: `It is very meta, but the startup is a podcast about a guy that runs a podcast startup. The show starts with his venture capital pitches, and continues on through the growth of the company. In later seasons, the show covers other startup businesses, and I found it to be insightful into how ambitious businesses operate, focussing on growth and agility.`,
      }, {
        name: 'Crimetown',
        imgUrl: '/images/recommendations/podcasts/crimetown.jpg',
        url: 'https://gimletmedia.com/crimetown/',
        description: `Crimetown follows fascinating true crime reporting on how power can corrupt. In each season, the show tells the story about how a powerful individual in government abuses their power. Both stories have twists and turns, and in moments will shock you.`,
      }, {
        name: 'Monster Podcast',
        imgUrl: '/images/recommendations/podcasts/monster-podcast.jpg',
        url: 'https://monster-podcast.com/',
        description: `One of my favorite historical true crime podcasts. Season 1: The Atlanta Child Murders. Season 2: The Zodiac Killer. Season 3: DC Sniper.`,
      }, {
        name: 'Crime Junkie',
        imgUrl: '/images/recommendations/podcasts/crime-junkie.jpg',
        url: 'https://crimejunkiepodcast.com/',
        description: `If you are the kind of person that has a very dark Netflix watch history, filled with serial killer documentaries, America's most wanted, and Unsolved Mysteries, this is the podcast for you. Ashley Flowers and Brit Prawat review a host of crime stories. Solved, unsolved, serial killers, missing persons cases are all common story types that they cover. It's a great show that comes out with new episodes every week.`,
      }, {
        name: 'American Scandal',
        imgUrl: '/images/recommendations/podcasts/american-scandal.jpg',
        url: 'https://wondery.com/shows/American-scandal/',
        description: `"Every scandal begins with a lie. But the truth will come out. And then comes the fallout and the outrage." The show covers major scandals in recent American history. Iran Contra, Exxon Valdez, Tuskegee Syphilis Study, Enron; just a few of the dozens of seasons that American Scandal has covered.`,
      }, {
        name: 'Business Movers',
        imgUrl: '/images/recommendations/podcasts/business-movers.jpg',
        url: 'https://wondery.com/shows/Business-movers/',
        description: `"Behind every successful business is a story. It starts with a vision and a leap of faith. Along the way, leaders make bold decisions, ride booms and busts, and sometimes, they reach new heights." Business Movers is a weekly show that brings you true stories behind the bold decisions that brought success to major companies. I particularly enjoyed the Coca Cola, John Delorean, and General Motors seasons`,
      }, {
        name: 'Decoder Ring',
        imgUrl: '/images/recommendations/podcasts/decoder-ring.jpg',
        url: 'https://slate.com/podcasts/decoder-ring',
        description: `"In each episode, host Willa Paskin takes a cultural question, object, or habit; examines its history; and tries to figure out what it means and why it matters." The topics in this show are seemingly random, yet oddly fascinating. Where did the mullet come from? What motivated Jane Fonda to record a workout tape? What happened to the laugh track? If you want to know the answers to these questions, check it out.`,
      }, {
        name: 'Radio Rental',
        imgUrl: '/images/recommendations/podcasts/radio-rental.jpg',
        url: 'https://radiorentalusa.com/',
        description: `"Radio Rental" is Cockney rhyming slang for "Mental". The show's content matches it's title; a grouping of user submitted stories that detail wild and unexplainable stories. I love this show, but never listen to it before going to sleep.`,
      }, {
        name: 'The End of the World: with Josh Clark',
        imgUrl: '/images/recommendations/podcasts/the-end-of-the-world.jpg',
        url: 'https://www.iheart.com/podcast/105-the-end-of-the-world-with-30006093/',
        description: `Josh Clark of Stuff You Should Know presents a 10-episode deep dive that explores the future of humanity, and finds dangers we have never encountered before, lurking just ahead of us in time. And if we humans are alone in the universe, if we don't survive intelligent, life dies out with us too.`,
      },
    ];

    podcasts.forEach(podcast => {
  %>
    <section>
      <%- externalLink(lazyImage({
        src: podcast.imgUrl,
        alt: `${podcast.name} cover art`,
        classString: 'cover',
        }), {
          href: podcast.url,
          class: 'cover-link'
        }) %>
      <div class="details">
        <h2 class="h4">
          <%- externalLink(podcast.name, {
            href: podcast.url,
          }) %>
        </h2>
        <p>
          <%- podcast.description %>
        </p>
      </div>
    </section>
  <% }); %>
  </div>
</article>