---
title: "Shows"
description: ""
date: 2022-03-19
priority: 0.8
pageClasses:
  - 'recommendations shows'
layout: base
styles:
  - 'main'
  - 'recommendations/shows'
scripts:
  - 'recommendations/shows'
---

IMDb profile: site-data.imdb

Split by genre

The Book of Boba Fett
Inside the Actors Studio
The West Wing
The Office
Lost
Prison Break
Stranger Things
Star Wars: The Clone Wars
Supernatural
Leah Remini: Scientology and the Aftermath
Dexter
Mad Men
Breaking Bad
Game of Thrones





<a href="/title/tt0106179/?ref_=rt_li_i">
  <img alt="The X-Files" class="loadlate" data-tconst="tt0106179" height="209" src="https://m.media-amazon.com/images/M/MV5BZDA0MmM4YzUtMzYwZC00OGI2LWE0ODctNzNhNTkwN2FmNTVhXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0106179/?ref_=rt_li_tt">The X-Files</a>
<span class="lister-item-year">(1993–2018)</span>
<p class="">
Two F.B.I. Agents, Fox Mulder the believer and Dana Scully the skeptic, investigate the strange and unexplained, while hidden forces work to impede their efforts. </p>
  Stars:
<a href="/name/nm0000141/?ref_=_li_st_0">David Duchovny</a>,
<a href="/name/nm0000096/?ref_=_li_st_1">Gillian Anderson</a>,
<a href="/name/nm0683379/?ref_=_li_st_2">Mitch Pileggi</a>,
<a href="/name/nm0205657/?ref_=_li_st_3">William B. Davis</a>





<a href="/title/tt4574334/?ref_=rt_li_i">
  <img alt="Stranger Things" class="loadlate" data-tconst="tt4574334" height="209" src="https://m.media-amazon.com/images/M/MV5BN2ZmYjg1YmItNWQ4OC00YWM0LWE0ZDktYThjOTZiZjhhN2Q2XkEyXkFqcGdeQXVyNjgxNTQ3Mjk@._V1_UY209_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt4574334/?ref_=rt_li_tt">Stranger Things</a>
<span class="lister-item-year">(2016– )</span>
<p class="">
When a young boy disappears, his mother, a police chief and his friends must confront terrifying supernatural forces in order to get him back. </p>
  Stars:
<a href="/name/nm5611121/?ref_=_li_st_0">Millie Bobby Brown</a>,
<a href="/name/nm6016511/?ref_=_li_st_1">Finn Wolfhard</a>,
<a href="/name/nm0000213/?ref_=_li_st_2">Winona Ryder</a>,
<a href="/name/nm1092086/?ref_=_li_st_3">David Harbour</a>





<a href="/title/tt7366338/?ref_=rt_li_i">
  <img alt="Chernobyl" class="loadlate" data-tconst="tt7366338" height="209" src="https://m.media-amazon.com/images/M/MV5BZGQ2YmMxZmEtYjI5OS00NzlkLTlkNTEtYWMyMzkyMzc2MDU5XkEyXkFqcGdeQXVyMzQ2MDI5NjU@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt7366338/?ref_=rt_li_tt">Chernobyl</a>
<span class="lister-item-year">(2019)</span>
<p class="">
In April 1986, an explosion at the Chernobyl nuclear power plant in the Union of Soviet Socialist Republics becomes one of the world's worst man-made catastrophes. </p>
  Stars:
<a href="/name/nm2976580/?ref_=_li_st_0">Jessie Buckley</a>,
<a href="/name/nm0364813/?ref_=_li_st_1">Jared Harris</a>,
<a href="/name/nm0001745/?ref_=_li_st_2">Stellan Skarsgård</a>,
<a href="/name/nm1835523/?ref_=_li_st_3">Adam Nagaitis</a>





<a href="/title/tt0903747/?ref_=rt_li_i">
  <img alt="Breaking Bad" class="loadlate" data-tconst="tt0903747" height="209" src="https://m.media-amazon.com/images/M/MV5BOThjODMyM2QtNTNhYi00ZGM4LWIxZTAtMDAyYWNhYzYxMjJiXkEyXkFqcGdeQXVyMTMzNDExODE5._V1_UY209_CR6,0,140,209_AL_.jpg" width="140">
</a>
<a href="/title/tt0903747/?ref_=rt_li_tt">Breaking Bad</a>
<span class="lister-item-year">(2008–2013)</span>
<p class="">
A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine in order to secure his family's future. </p>
  Stars:
<a href="/name/nm0186505/?ref_=_li_st_0">Bryan Cranston</a>,
<a href="/name/nm0666739/?ref_=_li_st_1">Aaron Paul</a>,
<a href="/name/nm0348152/?ref_=_li_st_2">Anna Gunn</a>,
<a href="/name/nm1336827/?ref_=_li_st_3">Betsy Brandt</a>