---
title: "Bose QuietComfort 25 wireless noise cancelling headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "thoughts headphones-bose-quietcomfort-25"
layout: base
styles:
  - "main"
  - "thoughts/headphones-bose-quietcomfort-25"
---

<section>
  <div class="content">
    <img src="/images/thoughts/headphones-bose-quietcomfort-25/headphones.jpg" />
  </div>
</section>