---
title: "Bose QuietComfort 35II wireless noise cancelling headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "headphones bose-quietcomfort-35-ii"
layout: base
styles:
  - "main"
  - "headphones/bose-quietcomfort-35-ii"
---

<section>
  <div class="content">
    <img src="/images/headphones/bose-quietcomfort-35-ii/headphones.jpg" />
  </div>
</section>

A nice improvement on the QuietComfort 25s. Wireless works well and has quick connect. Assistant integration is good. Wireless is almost always better. Not good for phone calls. Lots of background noise comes through.

<%- partial('headphones/disclaimers') %>