---
title: "Bose QuietComfort 25 wireless noise cancelling headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "headphones bose-quietcomfort-25"
layout: base
styles:
  - "main"
  - "headphones/bose-quietcomfort-25"
---

<section>
  <div class="content">
    <img src="/images/headphones/bose-quietcomfort-25/headphones.jpg" />
  </div>
</section>


Kick ass headphones. If the battery dies, they keep working without noise cancelling. Wish they were wireless, but they're solid. Pretty good for phone calls.

<%- partial('headphones/disclaimers') %>