---
title: "Jabra Elite 65t wireless headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "headphones jabra-elite-65t"
layout: base
styles:
  - "main"
  - "headphones/jabra-elite-65t"
---

<section>
  <div class="content">
    <img src="/images/headphones/jabra-elite-65t/headphones.jpg" />
  </div>
</section>

These were a nice improvement on the Jaybirds. It was much more rare to have the sound cut out. These never fell out. The seal was good enough to play drums. Great headphones. Probably not recommended, but I listened to podcasts while showering at the gym with these on.

For some reason, they I can leave my phone 3 rooms away and still hear just fine - but if I lay on top of my phone, my body interferes enough with the bluetooth signal to make the sound cut out.

<%- partial('headphones/disclaimers') %>