---
title: "Jaybird Run wireless headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "headphones jaybird-run"
layout: base
styles:
  - "main"
  - "headphones/jaybird-run"
---

<section>
  <div class="content">
    <img src="/images/headphones/jaybird-run/headphones.jpg" />
  </div>
</section>

Jaybirds were my first true wireless headphones and I was enamored. But it wore off over time since the sound cut pretty often.

For some reason, they I can leave my phone 3 rooms away and still hear just fine - but if I lay on top of my phone, my body interferes enough with the bluetooth signal to make the sound cut out.

<%- partial('headphones/disclaimers') %>