---
title: "Jaybird Run wireless headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "thoughts headphones-jaybird-run"
layout: base
styles:
  - "main"
  - "thoughts/headphones-jaybird-run"
---

<section>
  <div class="content">
    <img src="/images/thoughts/headphones-jaybird-run/headphones.jpg" />
  </div>
</section>