---
title: "Maxrock wireless sleeping headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "headphones maxrock-wireless-sleeping"
layout: base
styles:
  - "main"
  - "headphones/maxrock-wireless-sleeping"
---

<section>
  <div class="content">
    <img src="/images/headphones/maxrock-wireless-sleeping/headphones.jpg" />
  </div>
</section>

These are my current sleeping headphones and I am enjoying them. They stay in and are comfortable.


<%- partial('headphones/disclaimers') %>