---
title: "Maxrock wired sleeping headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "headphones maxrock-wired-sleeping"
layout: base
styles:
  - "main"
  - "headphones/maxrock-wired-sleeping"
---

<section>
  <div class="content">
    <img src="/images/headphones/maxrock-wired-sleeping/headphones.jpg" />
  </div>
</section>

Good reliable wired headphones for sleeping. Comfortable. They don't jab into my ears. but they are wired, so I can get entangled at night.

<%- partial('headphones/disclaimers') %>