---
title: "Philips O'Neill SHO9560/28 over-ear headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "thoughts headphones-philips-oneill-sho9560-28"
layout: base
styles:
  - "main"
  - "thoughts/headphones-philips-oneill-sho9560-28"
---

<section>
  <div class="content">
    <img src="/images/thoughts/headphones-philips-oneill-sho9560-28/headphones.jpg" />
  </div>
</section>