---
title: "Philips O'Neill SHO9560/28 over-ear headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "headphones philips-oneill-sho9560-28"
layout: base
styles:
  - "main"
  - "headphones/philips-oneill-sho9560-28"
---

<section>
  <div class="content">
    <img src="/images/headphones/philips-oneill-sho9560-28/headphones.jpg" />
  </div>
</section>

I remember really liking these headphones. no noise cancelling, but very comfortable. I eventually lost these when my car was broken into

<%- partial('headphones/disclaimers') %>