---
title: 'Google Pixel Buds 2 wireless headphones'
description: ''
date: 2020-06-14
priority: 0.8
pageClasses:
  - 'headphones pixel-buds-2'
layout: base
styles:
  - 'main'
  - 'headphones/pixel-buds-2'
---

<section>
  <div class="content">
    <img src="/images/headphones/pixel-buds-2/headphones.jpg" />
  </div>
</section>

These are my current daily drivers. I like them a lot. Very comfortable and they stay in my ears pretty well. Sometimes when my head is in a weird angle for a while I can feel one of the buds shifting out. Assistant is good. gestures are natural. Less cut out than the jaybirds.

<%- partial('headphones/disclaimers') %>