---
title: 'Google Pixel USB-C wired headphones'
description: ''
date: 2020-06-14
priority: 0.8
pageClasses:
  - 'headphones pixel-usb-c-earbuds'
layout: base
styles:
  - 'main'
  - 'headphones/pixel-usb-c-earbuds'
---

<section>
  <div class="content">
    <img src="/images/headphones/pixel-usb-c-earbuds/headphones.jpg" />
  </div>
</section>

These are solid phone call headphones. I'm torn between these and my Apple earpods. The Apple headphones are more comfortable, but also more likely to fall out. These have never fallen out of my ears, but over time my ears get sore from the wire loop that holds them in.

<%- partial('headphones/disclaimers') %>