---
title: 'Sony MDR-J10 H.Ear wired headphones'
description: ''
date: 2020-06-14
priority: 0.8
pageClasses:
  - 'headphones sony-mdr-j10-h.ear'
layout: base
styles:
  - 'main'
  - 'headphones/sony-mdr-j10-h.ear'
---

<section>
  <div class="content">
    <img src="/images/headphones/sony-mdr-j10-h.ear/headphones.jpg" />
  </div>
</section>

I had these headphones for years and years. I would still get them today if it was an option. They were nearly flawless for what they were. they were definitely cheap, but they fit my ears very well, and the sound passed my test. i loved how they hooked into my shirt. I often had only one in.

They were $9.99 and for me they went bad every 6-10 months. So I was replacing the a couple of times a year. But totally worth it.

I have no idea why Sony stopped making them.

<%- partial('headphones/disclaimers') %>