@import "./phone-shared";

phone {
  overflow: hidden;
  width: 100vw;
  height: 128vw;
}
main {
  width: 100vw;
  padding: 2vw;
  height: 100vw;
}
dock {
  width: 100vw;
  padding: 2vw;
  height: 28vw;
}
app {
  border-radius: 20%;
  position: relative;
  width: 20vw;
  height: 20vw;
  float: left;
  margin: 2vw;
}
name {
  bottom: -4.25vw;
  transform: translateY(-50%);
  font-size: 2vw;
  line-height: 2.5vw;
}