@import "./phone-shared";

phone {

}
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 4vw;
  height: 100vw;
  width: 100vw;
  padding: 4vw;
}
dock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 28vw;
  grid-gap: 4vw;
  width: 100vw;
  padding: 4vw;
}
app {
  border-radius: 20%;
  position: relative;
}
name {
  bottom: -4.25vw;
  transform: translateY(-50%);
  font-size: 2vw;
  line-height: 2.5vw;
}