---
title: "Accessible Text"
description: ""
date: 2020-06-07
priority: 0
layout: blank
styles:
  - 'example/accessible-text'
---

<h1>px: heading level 1</h1>
<h1 class="rem">rem: heading level 1</h1>
<h1 class="em">em: heading level 1</h1>
<h2>px: heading level 2</h2>
<h2 class="rem">rem: heading level 2</h2>
<h2 class="em">em: heading level 2</h2>
<h3>px: heading level 3</h3>
<h3 class="rem">rem: heading level 3</h3>
<h3 class="em">em: heading level 3</h3>
<h4>px: heading level 4</h4>
<h4 class="rem">rem: heading level 4</h4>
<h4 class="em">em: heading level 4</h4>
<h5>px: heading level 5</h5>
<h5 class="rem">rem: heading level 5</h5>
<h5 class="em">em: heading level 5</h5>
<h6>px: heading level 6</h6>
<h6 class="rem">rem: heading level 6</h6>
<h6 class="em">em: heading level 6</h6>

<p>px: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet orci metus, quis eleifend arcu volutpat et. Etiam malesuada malesuada quam. Maecenas posuere dui eget eleifend elementum. Fusce ultrices quam ac libero suscipit, vitae eleifend nisi convallis. Donec eu lacus lobortis, pharetra eros a, cursus nunc. Etiam eu massa nisi. Curabitur et leo tincidunt velit lacinia maximus at a sem. Nunc ut eros felis. Donec felis lectus, consequat id gravida eget, malesuada at odio.</p>

<p class="rem">rem: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet orci metus, quis eleifend arcu volutpat et. Etiam malesuada malesuada quam. Maecenas posuere dui eget eleifend elementum. Fusce ultrices quam ac libero suscipit, vitae eleifend nisi convallis. Donec eu lacus lobortis, pharetra eros a, cursus nunc. Etiam eu massa nisi. Curabitur et leo tincidunt velit lacinia maximus at a sem. Nunc ut eros felis. Donec felis lectus, consequat id gravida eget, malesuada at odio.</p>

<p class="em">em: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet orci metus, quis eleifend arcu volutpat et. Etiam malesuada malesuada quam. Maecenas posuere dui eget eleifend elementum. Fusce ultrices quam ac libero suscipit, vitae eleifend nisi convallis. Donec eu lacus lobortis, pharetra eros a, cursus nunc. Etiam eu massa nisi. Curabitur et leo tincidunt velit lacinia maximus at a sem. Nunc ut eros felis. Donec felis lectus, consequat id gravida eget, malesuada at odio.</p>