---
title: ""
description: ""
date: 2020-05-06
priority: 0
layout: blank
styles:
  - 'example/grid-iphone'
---

<phone>
  <main>
    <app><name>name</name></app>
    <app><name>long name</name></app>
    <app><name>very long name</name></app>
    <app><name>very very long name</name></app>
    <app><name>very very very long name</name></app>
    <app><name>name</name></app>
    <app><name>name</name></app>
    <app><name>name</name></app>
    <app><name>name</name></app>
    <app><name>name</name></app>
  </main>
  <dock>
    <app><name>name</name></app>
    <app><name>name</name></app>
    <app><name>name</name></app>
    <app><name>name</name></app>
  </dock>
</phone>