@import "lib/base-styles";
@import "../modules/code";

canvas {
  width: 100vw;
  max-width: 100vh;
  height: 100vh;
  max-height: 100vw;
  margin: auto;
  display: block;
  background-color: $primary-color-light;
}

input[type=checkbox] {
  height: $s4;
  width: $s4;
}

#rule-up-and-down,
#height-up-and-down {
  display: inline-block;
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.p:last-child {
    margin-bottom: $s6;
  }

  > * {
    padding: 0 $s1;
  }

  span,
  label {
    display: inline-flex;
    align-items: center;
  }
}
