@import "system/utilities";
@import "modules/code";

canvas {
  width: 100vw;
  max-width: 100vh;
  height: 100vh;
  max-height: 100vw;
  display: block;
  border: 2px solid $palette--divider-color;
  margin: $s6 auto 0;
}

td {
  padding: $s4 $s4 0;
  @include font-size(5);
  line-height: .7;

  @include mq-max(500px) {
    padding: $s2 $s2 0;
    @include font-size(4);
    line-height: .7;
  }

  span {
    line-height: 2;
  }
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: $sans-serif;

  > * {
    margin: 0 $s1;
  }

  span,
  label {
    display: inline-flex;
    align-items: center;
  }
}
