@import "lib/base-styles";
@import "../modules/code";

blockquote {
  margin-bottom: 1em;
}

canvas {
  width: 100vw;
  max-width: 100vh;
  height: 100vh;
  max-height: 100vw;
  margin: auto;
  display: block;
  background: lightgrey;
}

input[type=number] {
  @include font-size(18);
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
}

#rule-up-and-down,
#height-up-and-down {
  display: inline-block;
  position: relative;
  top: -3px;
}

#random-start {
  margin-right: 3em;
}