@import "system/utilities";

#board {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);

  width: css-min(100vh, 100vw, var(--window-height));
  height: css-min(100vh, 100vw, var(--window-height));
  margin: auto;
  border: 1px solid;

  div {
    border-radius: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &[data-value="ant"] {
      background-color: $palette--primary-color-text--white;
    }
    &[data-value="anteater"] {
      background-color: $palette--primary-color-dark;
    }
  }
}

.overlay-container {
  height: 0;
  width: 100%;
}
.overlay {
  background-color: rgba($palette--primary-color-text--white, 0.4);
  width: css-min(100vh, 100vw, var(--window-height));
  height: css-min(100vh, 100vw, var(--window-height));
  margin: auto;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(100% at center);

  transition: clip-path 500ms ease;

  button {
    background-color: $palette--primary-color-dark;
  }

  &.hidden {
    clip-path: circle(0% at center);
  }
}

.score-bar {
  height: 40px;
  display: flex;
  border: 1px solid;
  margin-bottom: $paragraph-bottom;
  width: css-min(100vh, 100vw, var(--window-height), 100%);
  margin-left: auto;
  margin-right: auto;
  margin-top: $paragraph-bottom;


  span {
    display: block;
    transition: width 300ms linear;

    &#ants-bar {
      background-color: $palette--primary-color-text--white;
    }
    &#ant-eaters-bar {
      background-color: $palette--primary-color-dark;
    }
  }
}