@import "system/utilities";

#board {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);

  width: css-min(100vh, 100vw);
  height: css-min(100vh, 100vw);
  margin: auto;
  border: 1px solid;

  div {
    border-radius: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &[data-value="ant"] {
      border: 1px solid;
      background-color: $pallette--primary-color-text--white;
    }
    &[data-value="anteater"] {
      background-color: $pallette--primary-color-dark;
      border: 1px solid;
    }
  }
}

.score-bar {
  height: 40px;
  display: flex;
  border: 1px solid;

  span {
    display: block;
    transition: width 300ms linear;

    &#ants-bar {
      background-color: $pallette--primary-color-text--white;
    }
    &#ant-eaters-bar {
      background-color: $pallette--primary-color-dark;
    }
  }
}