@import "system/utilities";

#board {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);

  width: css-min(100vh, 100vw, var(--window-height));
  height: css-min(100vh, 100vw, var(--window-height));
  margin: auto;
  border: 1px solid;

  margin-bottom: $paragraph-bottom;

  div {
    border-radius: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &[data-value="ant"] {
      background-color: $pallette--primary-color-text--white;
    }
    &[data-value="anteater"] {
      background-color: $pallette--primary-color-dark;
    }
  }
}

.score-bar {
  height: 40px;
  display: flex;
  border: 1px solid;
  margin-bottom: $paragraph-bottom;
  width: css-min(100vh, 100vw, var(--window-height), 100%);
  margin-left: auto;
  margin-right: auto;

  span {
    display: block;
    transition: width 300ms linear;

    &#ants-bar {
      background-color: $pallette--primary-color-text--white;
    }
    &#ant-eaters-bar {
      background-color: $pallette--primary-color-dark;
    }
  }
}