@import "system/utilities";

.canvas {
  display: block;
  height: 200px;
  @include paragraph;
}

.table {
  @include paragraph;
}

row {
  grid-template-columns: 1fr 120px;
  display: grid;
  text-align: center;

  label {
    grid-column: 1 / span 2;
    text-align: left;
    padding: 0;
  }
}

.buttons {
  display: grid;
  gap: $s2;
  justify-content: center;
  grid-template-columns: 1fr 120px 120px 1fr;

  @include paragraph-margin;

  button:first-child {
    grid-column: 2;
  }
  button:last-child {
    grid-column: 2 / span 2;
  }
}

.reveal {
  @include paragraph;

  .chart {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto $s4;
    gap: $s2;

    * {
      padding: 0 $s1;
    }

    :nth-child(odd) {
      text-align: right;
    }
  }

  button {
    display: block;
    margin: $s2 auto 0;
  }
}
