@import "lib/base-styles";


canvas {
  width: 100%;
}

input[type=number] {
  @include font-size(18);
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
}

#rule-up-and-down,
#height-up-and-down {
  display: inline-block;
  position: relative;
  top: -3px;
}

#random-start {
  margin-right: 3em;
}

list {
  padding-left: 1em;
  margin-bottom: 1em;
}

list, item {
  display: block;
}

item {
  margin-top: 1em;
}