@import "lib/base-styles";

blockquote {
  margin-bottom: $s6;
}

canvas {
  width: 100vw;
  max-width: 100vh;
  margin: auto;
  display: block;
  background: lightgrey;
}

input[type=number] {
  @include font-size(4);
}

input[type=checkbox] {
  height: $s4;
  width: $s4;
}

#rule-up-and-down,
#height-up-and-down {
  display: inline-block;
  position: relative;
  top: -3px;
}

#random-start {
  margin-right: $s8;
}

list {
  padding-left: $s6;
  margin-bottom: $s6;
}

list, item {
  display: block;
}

item {
  margin-top: $s6;
}