@import "system/utilities";

$circle-diameter: 30;

$circle-size: 26px;
$circle-border-width: 3px;
$circle-color: #ff9eed;

$rotation-steps: 16;
$rotation-step: 360deg / $rotation-steps;

$rotation-duration: 30s;
$rotation-time-step: $rotation-duration / $rotation-steps;


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  align-items: flex-start;
  height: 60px;
  @include paragraph;

  label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      flex-grow: 1;
    }
  }

  span {
    margin-bottom: $s2;
  }

  input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    height: 40px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    padding-top: 0;

    img {
      border-radius: 0;
    }

    &.play {
      .play {
        display: none;
      }
    }

    &:not(.play) {
      .pause {
        display: none;
      }
    }
  }
}

.circle-container {
  display: grid;
  grid-template: repeat($circle-diameter, $circle-size) / repeat($circle-diameter, $circle-size);
  background-color: #d6de1d;
  gap: $s1;
  justify-content: center;
  padding: $s6 0;
}

.circle {
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 100%;
    background-color: darken($circle-color, 10%);
    border-width: $circle-border-width;
    border-style: solid;

    border-top-color: $palette--primary-text-color--dark;
    border-left-color: $palette--primary-text-color--dark;

    border-right-color: $palette--primary-color-text--white;
    border-bottom-color: $palette--primary-color-text--white;

  }

  @for $i from 0 through $rotation-steps {
    &:nth-child(#{$rotation-steps}n + #{$i})::after {
      transform: rotate($rotation-step * $i);
    }
  }

  .animate & {
    animation-name: rotate;
    animation-duration: var(--duration, #{$rotation-duration});
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
