@import "lib/base-styles";

$squareSize: 768;

#canvas-holder {
  width: 100%;
  height: $squareSize + px;
  max-height: 90vw;
  position: relative;

  @for $i from 0 through $squareSize {
    &[data-blue="#{$i}"] [data-blue="#{$i}"] {
      z-index: 1;
    }
  }
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $squareSize + px;
  height: $squareSize + px;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
  z-index: 0;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vw;
}

input {
  max-width: $squareSize + px;
  margin: $s10 auto 0;
  display: block;
  width: 90%;
}