@import "system/utilities";

$squareSize: 768;

canvas {
  width: $squareSize + px;
  height: $squareSize + px;
  margin: auto;
  border: 1px solid;
  max-width: 90vw;
  max-height: 90vw;
  display: block;
}

input {
  max-width: $squareSize + px;
  margin: $s10 auto 0;
  display: block;
  width: 90%;
}