@import "system/utilities";
@import "modules/code";

// 1024 × 341
$sprite-width: 1024px;
$sprite-height: 341px;
$x-max: 12;
$y-max: 4;
$frame-width: $sprite-width / $x-max;
$frame-height: $sprite-height / $y-max;

#frame-container {
  width: round($frame-width) + 2px;
  height: round($frame-height) + 2px;
  --background-image: url('/images/thoughts/earth-rotating-sprite-animation/earth-sprite.jpg');
  margin: auto;
  border-radius: 100%;
  transition-duration: 10ms;

  @for $frame from 0 to ($y-max * $x-max) {
    &[data-number="#{$frame}"] {
      $x-position: 1 - round(($frame % $x-max) * $frame-width);
      $y-position: 1 - round(floor($frame / $x-max) * $frame-height);
      background-position: #{$x-position} #{$y-position};
    }
  }
}

#frame-slider {
  margin: $s10 auto 0;
  display: block;
  width: 90%;
  max-width: 240px;

  html.no-touch-events & {
    display: none;
  }
}


// ul {
//   max-width: $grid--copy-max-width;
//   margin: auto;
//   margin-bottom: 24px;
// }
