// @import "system/utilities";


// main.thoughts.how-to-match {
//   @import "../modules/code";

//   .example-container {
//     overflow: hidden;
//     @include font-size(3);
//   }
//   .example-container{
//     margin-bottom: $s6;
//   }
//   .tall {
//     border-top: $s3 solid var(--accent-color, #{$pallette--accent-color});
//   }
//   .column-1 {
//     background-color: $pallette--primary-text-color;
//   }
//   .column-2 {
//     background-color: var(--primary-color-dark, #{$pallette--primary-color-dark});
//   }
//   .column-3 {
//     background-color: $pallette--primary-text-color;
//   }
//   .column-1,
//   .column-2,
//   .column-3 {
//     padding-bottom: 99999px;
//     margin-bottom: -99999px;
//     float: left;
//     color: $pallette--primary-color-text;
//   }
//   .example-1 .column-1,
//   .example-1 .column-2 {
//     width: 50%;
//   }
//   .example-2 .column-1,
//   .example-2 .column-2,
//   .example-2 .column-3 {
//     width: 33.33333%;
//   }
//   ul {
//     margin: 0;
//     padding-top: $s6;
//     padding-bottom: $s6;
//     list-style: none;
//     padding-left: 0;
//     text-align: center;
//   }
// }