@import "lib/base-styles";


main.thoughts.how-to-match {
  @import "../modules/code";

  .example-container {
    overflow: hidden;
    @include font-size(3);
  }
  .example-container,
  code {
    margin-bottom: $s6;
  }
  .tall {
    border-top: $base-unit solid #FFA700;
  }
  .column-1 {
    background-color: rgba( $black, 0.2 );
  }
  .column-2 {
    background-color: rgba( $black, 0.3 );
  }
  .column-3 {
    background-color: rgba( $black, 0.4 );
  }
  .column-1,
  .column-2,
  .column-3 {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
    float: left;
  }
  .example-1 .column-1,
  .example-1 .column-2 {
    width: 50%;
  }
  .example-2 .column-1,
  .example-2 .column-2,
  .example-2 .column-3 {
    width: 33.33333%;
  }
  ul {
    margin: 0;
    padding-top: $s6;
    padding-bottom: $s6;
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
}