@import "system/utilities";

.thoughts.in-view-text-animation {
  .the-test {
    h1, h2, h3, h4, h5, h6, p {
      transition: opacity $transition-speed $transition-timing, transform $transition-speed $transition-timing;

      &[in-view=false],
      &:not([in-view]) {
        transform: translateY(1em) rotateX(-90deg);
        opacity: 0;
      }
    }
  }
}
