@import "lib/base-styles";

.thoughts.in-view-text-animation {
  .the-test {
    h1, h2, h3, h4, h5, h6, p {
      transition: opacity 500ms ease, transform 500ms ease;

      &[in-view=false],
      &:not([in-view]) {
        transform: translateY(-30px);
        opacity: 0;
      }
    }
  }
}
