@import "lib/base-styles";


main.thoughts.index {
  .thoughts-list {

    li {
      display: block;
      margin: 20px auto;
    }

    a {
      color: $black;
      overflow: hidden;
      display: block;
      text-decoration: none;
      position: relative;
      padding-bottom: 5px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      border-bottom-width: 5px;
      @include transition(border-bottom-color 0.2s ease);

      &:hover,
      &:focus,
      &:active {
        border-bottom-color: $purple;
      }
    }
  }
}