@import "lib/base-styles";


.last-fm {
  section:first-of-type {
    background-color: #311;
  }
}

.overflow-hidden {
  overflow: hidden;
  margin-top: 40px;
}


.albums,
.artists {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.album-tile,
.artist-tile {
  display: block;
  float: left;
  width: 100%;
  max-width: 320px;
  margin: 15px;

  .album,
  .artist {
    float: none;
    width: 100%;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  ul {
    padding: 15px;
    text-align: center;
    float: none;
    width: 100%;
    padding: 10px;
  }

  li,
  h3 {
    line-height: 1.5;
    margin: 0;
  }
}
