@import "lib/base-styles";


.last-fm {
  section:first-of-type {
    background-color: #311;
  }
}

blockquote {
  margin-bottom: $s6;
}

.overflow-hidden {
  overflow: hidden;
  margin-top: $s10;
}


.albums,
.artists {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.album-tile,
.artist-tile {
  display: block;
  float: left;
  width: 100%;
  max-width: 320px;
  margin: $s4;

  .album,
  .artist {
    float: none;
    width: 100%;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  ul {
    padding: $s4;
    text-align: center;
    float: none;
    width: 100%;
    padding: $s2;
  }

  li,
  h3 {
    margin: 0;
  }
}
