@import "system/utilities";

.last-fm-module {
  display: grid;
  grid-gap: $s5;

  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $s1 / 2;
    grid-gap: $s3;

    @include palette--base;

    &.album {
      grid-template-columns: 1fr 100px;
    }

    @include link-hover;
    @include link-focus;

    &:hover img {
      transform: scale(1.12);
    }

    .name {
      @include font-size(3);
      font-family: $sans-serif;
      font-weight: $bold;
    }

    .scrobbles {
      font-family: $serif;
    }

    bar {
      display: block;
      height: $s2;
      background-color: $palette--primary-color-dark;
      margin-top: $s1;
      transition-property: background-color;
      transition-duration: $transition-speed;
      transition-timing-function: $transition-timing;
    }

    img {
      width: 100px;
      height: 100px;
      transform: scale(1);
      transition: transform $transition-speed $transition-timing;
    }
  }

  .info {
    display: grid;
    position: relative;
  }
}
