@import "system/utilities";

.last-fm-module {
  display: grid;
  grid-gap: $s5;

  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $s1 / 2;
    grid-gap: $s3;

    @include pallette--base;

    &.album {
      grid-template-columns: 1fr 100px;
    }

    &:focus,
    &:hover {
      bar {
        background-color: var(--primary-color, #{$pallette--primary-color});
      }

      color: var(--primary-color-dark, #{$pallette--primary-color-dark});

      @include dark-mode {
        color: var(--primary-color-light, #{$pallette--primary-color-light});
      }
    }

    .name {
      @include font-size(3);
      font-family: $sans-serif;
      font-weight: $bold;
    }

    .scrobbles {
      font-family: $serif;
    }

    bar {
      display: block;
      height: $s2;
      background-color: var(--primary-color-dark, #{$pallette--primary-color-dark});
      margin-top: $s1;
      transition-property: background-color;
      transition-duration: $transition-speed;
      transition-timing-function: ease;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  .info {
    display: grid;
    position: relative;
  }
}
