@import "lib/base-styles";


.last-fm {
  section:first-of-type {
    background-color: #311;
  }
}

blockquote {
  margin-bottom: $s6;
}

.overflow-hidden {
  overflow: hidden;
  margin-top: $s10;
}

.last-fm-module {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.item {
  display: block;
  float: left;
  width: 100%;
  max-width: 300px;
  margin: $s4;

  .name {
    display: block;
    @include font-size(6);
    font-family: $sans-serif;
    font-weight: 700;
    color: $black;
    text-align: center;
    width: 100%;
    padding: $s2;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  h3 {
    margin: 0;
  }
}
