@import "system/utilities";

#bar {
  border: 1px solid white;
}

.more {
  margin: auto;
}

p {
  @include paragraph-margin;
}

.resources {
  a {
    margin-bottom: 4px;
  }
}

year-selector {
  display: block;
  min-height: 28px;
  position: relative;
}

album-listing,
artist-listing {
  margin: auto;
  width: css-min(600px, 100%);
  display: block;
  border-radius: $s1;
  margin-bottom: $s2;
  box-sizing: border-box;
  min-height: 116px;

  &:last-of-type {
    margin-bottom: $s6;
  }
}

album-listing {
  min-height: 117px;
}


