@import "system/utilities";

@function css-function( $function, $values... ) {
	@return
		$function
		+ unquote( '(' )
		+ $values
		+ unquote( ')' )
	;
}

@function css-min( $values... ) {
	@return css-function( min, $values );
}

@function css-max( $values... ) {
	@return css-function( max, $values );
}

@keyframes back-and-forth {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.circle {
  height: css-min($grid--copy-max-width, 100vw);
  width: css-min($grid--copy-max-width, 100vw);
  margin: auto;
  position: relative;

  span {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transform-origin: center center;
    height: $s1;

    &:after {
      content: '';
      width: $s1;
      height: $s1;
      display: block;
      border-radius: 100%;
      background-color: red;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0%;

      animation-name: back-and-forth;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.44, 0.4, 0.6, 1);
      animation-duration: 4000ms;
      animation-delay: 0ms;
    }

    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(90deg);
      &:after {
        animation-delay: 1000ms;
      }
    }

    &:nth-child(3) {
      transform: translate(-50%, -50%) rotate(45deg);
      &:after {
        animation-delay: 500ms;
      }
    }

    &:nth-child(4) {
      transform: translate(-50%, -50%) rotate(-45deg);
      &:after {
        animation-delay: 3500ms;
      }
    }

    &:nth-child(5) {
      transform: translate(-50%, -50%) rotate(-22.5deg);
      &:after {
        animation-delay: 3750ms;
      }
    }

    &:nth-child(6) {
      transform: translate(-50%, -50%) rotate(22.5deg);
      &:after {
        animation-delay: 250ms;
      }
    }

    &:nth-child(7) {
      transform: translate(-50%, -50%) rotate(67.5deg);
      &:after {
        animation-delay: 750ms;
      }
    }

    &:nth-child(8) {
      transform: translate(-50%, -50%) rotate(-67.5deg);
      &:after {
        animation-delay: 3250ms;
      }
    }
  }
}
