@import "system/utilities";

.thoughts.making-animations-with-squares {

  canvas {
    width: 100vw;
    border: 1px solid gray;
    box-sizing: border-box;
    height: calc(100vh - 66px);
  }

  #pause-button.paused {
    color: $palette--primary-color-text--white;
    background-color: $palette--primary-text-color--dark;
  }

  #clear-button {
    color: $palette--primary-color-text--white;
    background-color: darken($color: red, $amount: 15);

    &:hover,
    &:focus {
      background-color: darken($color: red, $amount: 30)
    }
  }

  form {
    margin-bottom: $s6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    label {
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: unset;
    }

    input[type=checkbox] {
      margin-right: $s1;
    }

    > * {
      display: block;
      margin: 0 $s2 $s2;
    }
  }
}
