@import "system/utilities";


.minesweeper {

  .blog-container {
    > * {
      max-width: none;
      width: auto;
    }
  }

  .table {
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 0;

    &[data-difficulty=beginner] {
      grid-template-columns: repeat(8, 1fr);
    }
    &[data-difficulty=intermediate] {
      grid-template-columns: repeat(16, 1fr);
    }
    &[data-difficulty=expert] {
      grid-template-columns: repeat(24, 1fr);
    }
  }

  .table,
  .blog-date,
  .header-first-row,
  .header-second-row {
    transition-property: width, max-width;
    margin-left: auto;
    margin-right: auto;

    &[data-difficulty=beginner] {
      max-width: 400px;
    }

    &[data-difficulty=intermediate] {
      max-width: 800px;
    }

    &[data-difficulty=expert] {
      max-width: 1200px;
    }
  }

  .header-first-row,
  .header-second-row {
    display: flex;
    align-items: center;
  }

  .header-first-row {
    justify-content: space-between;
  }

  .header-second-row {
    justify-content: center;
    margin: $s5 auto;
  }

  .mine-sweeper-tile {
    height: 0;
    transition: none;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    user-select: none;

    background-image: url('/images/thoughts/minesweeper/sprite.png');
    background-repeat: no-repeat;
    background-size: 920%;
    image-rendering: pixelated;
    background-position-y: 24.6%;
    background-position-x: 62.5%;

    &.flag,
    &.mine.flag {
      background-position-y: 24.6%;
      background-position-x: 50%;
    }

    &.not-flag {
      background-position-y: 24.6%;
      background-position-x: 12.5%;
    }

    &.mine {
      background-position-y: 24.6%;
      background-position-x: 0;

      &.red,
      &.flag.red {
        background-position-y: 24.6%;
        background-position-x: 25%;
      }
    }
  }

  .active {
    background-position-y: 0%;
    background-position-x: 0;

    @for $i from 1 through 8 {
      &[data-value="#{$i}"] {
        background-position-y: 0%;
        background-position-x: percentage($i / 8);
      }
    }
  }

  .time,
  .mine-count-down {
    overflow: hidden;
    display: inline-block;
  }

  .number {
    transition: none;
    display: block;
    float: left;
    background-image: url('/images/thoughts/minesweeper/sprite.png');
    background-repeat: no-repeat;
    background-size: 1100%;
    image-rendering: pixelated;
    width: 39px;
    height: 67px;
    background-position-y: 55.5%;

    @for $i from 0 through 9 {
      &[data-number="#{$i}"] {
        background-position-x: 892px / 90px * $i * 1%;
      }
    }
  }

  .face-button {
    transition: none;
    width: 52px;
    height: 52px;
    display: block;
    background-image: url('/images/thoughts/minesweeper/sprite.png');
    background-repeat: no-repeat;
    image-rendering: pixelated;
    padding: 0;
    border: none;
    border-radius: 0;
    background-size: auto 311.5384615%;
    background-position-y: 100%;
    background-position-x: 22.06%;

    &.sunglasses {
      background-position-x: 88.24%;
    }

    &.dead {
      background-position-x: 66.18%;
    }

    &.o {
      background-position-x: 44.12%;
    }

    &.down {
      background-position-x: 0%;
    }
  }
}

// //26 x 26
