@import "lib/base-styles";


.minesweeper {

  .blog-container {
    > * {
      max-width: none;
      width: auto;
    }
  }

  .table {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    width: 100%;
    margin: auto;

    &.beginner {
      max-width: 400px;
    }
    &.intermediate {
      max-width: 800px;
    }
    &.expert {
      max-width: 1200px;
    }
  }

  .blog-date,
  .header-first-row,
  .header-second-row {

    @include transition(width 0.5s ease, max-width 0.5s ease);

    &.beginner {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    &.intermediate {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    &.expert {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .header-first-row {
    margin-bottom: 5vw;
    margin-top: 5vw;
    text-align: justify;
    @include font-size(0.001);

    &:after {
      content: '';
      width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
      display: inline-block;
    }
  }

  .header-second-row {
    margin-bottom: 5vw;
    text-align: center;
  }
  .no-break {
    white-space: pre;
    display: inline-block;
  }

  button {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #A6A6A6;
    padding: 0 15px;
  }

  ul, li {
    margin: 0;
    list-style: none;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }

  .column-count-eight {
    width: 100px / 8px * 1%;
    padding-top: 100px / 8px * 1%;
  }
  .column-count-nine {
    width: 100px / 9px * 1%;
    padding-top: 100px / 9px * 1%;
  }
  .column-count-ten {
    width: 100px / 10px * 1%;
    padding-top: 100px / 10px * 1%;
  }
  .column-count-eleven {
    width: 100px / 11px * 1%;
    padding-top: 100px / 11px * 1%;
  }
  .column-count-twelve {
    width: 100px / 12px * 1%;
    padding-top: 100px / 12px * 1%;
  }
  .column-count-thirteen {
    width: 100px / 13px * 1%;
    padding-top: 100px / 13px * 1%;
  }
  .column-count-fourteen {
    width: 100px / 14px * 1%;
    padding-top: 100px / 14px * 1%;
  }
  .column-count-fifteen {
    width: 100px / 15px * 1%;
    padding-top: 100px / 15px * 1%;
  }
  .column-count-sixteen {
    width: 100px / 16px * 1%;
    padding-top: 100px / 16px * 1%;
  }
  .column-count-seventeen {
    width: 100px / 17px * 1%;
    padding-top: 100px / 17px * 1%;
  }
  .column-count-eighteen {
    width: 100px / 18px * 1%;
    padding-top: 100px / 18px * 1%;
  }
  .column-count-nineteen {
    width: 100px / 19px * 1%;
    padding-top: 100px / 19px * 1%;
  }
  .column-count-twenty {
    width: 100px / 20px * 1%;
    padding-top: 100px / 20px * 1%;
  }
  .column-count-twenty-one {
    width: 100px / 21px * 1%;
    padding-top: 100px / 21px * 1%;
  }
  .column-count-twenty-two {
    width: 100px / 22px * 1%;
    padding-top: 100px / 22px * 1%;
  }
  .column-count-twenty-three {
    width: 100px / 23px * 1%;
    padding-top: 100px / 23px * 1%;
  }
  .column-count-twenty-four {
    width: 100px / 24px * 1%;
    padding-top: 100px / 24px * 1%;
  }
  .column-count-twenty-five {
    width: 100px / 25px * 1%;
    padding-top: 100px / 25px * 1%;
  }

  .row {
    height: 0;

    &.column-count-eight,
    &.column-count-nine,
    &.column-count-ten,
    &.column-count-eleven,
    &.column-count-twelve,
    &.column-count-thirteen,
    &.column-count-fourteen,
    &.column-count-fifteen,
    &.column-count-sixteen,
    &.column-count-seventeen,
    &.column-count-eighteen,
    &.column-count-nineteen,
    &.column-count-twenty,
    &.column-count-twenty-one,
    &.column-count-twenty-two,
    &.column-count-twenty-three,
    &.column-count-twenty-four,
    &.column-count-twenty-five {
      width: auto;
    }

    ul {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .mine-sweeper-tile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    background-image: url('/images/thoughts/minesweeper/sprite.png');
    background-repeat: no-repeat;
    background-size: 920%;
    image-rendering: pixelated;
    background-position-y: 24.6%;
    background-position-x: 62.5%;

    &.flag,
    &.mine.flag {
      background-position-y: 24.6%;
      background-position-x: 50%;
    }

    &.not-flag {
      background-position-y: 24.6%;
      background-position-x: 12.5%;
    }

    &.mine {
      background-position-y: 24.6%;
      background-position-x: 0;

      &.red,
      &.flag.red {
        background-position-y: 24.6%;
        background-position-x: 25%;
      }
    }
  }

  .mine-sweeper-tile-value {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5vw;
    @include transform(translate(-50%, -50%));
  }

  .column {
    float: left;
    text-align: center;
    height: 0;
    cursor: pointer;
  }

  .active {
    background-position-y: 0%;
    background-position-x: 0;

    &.one {
      background-position-y: 0%;
      background-position-x: 12.5%;
    }
    &.two {
      background-position-y: 0%;
      background-position-x: 25%;
    }
    &.three {
      background-position-y: 0%;
      background-position-x: 37.5%;
    }
    &.four {
      background-position-y: 0%;
      background-position-x: 50%;
    }
    &.five {
      background-position-y: 0%;
      background-position-x: 62.5%;
    }
    &.six {
      background-position-y: 0%;
      background-position-x: 75%;
    }
    &.seven {
      background-position-y: 0%;
      background-position-x: 87.5%;
    }
    &.eight {
      background-position-y: 0%;
      background-position-x: 100%;
    }
  }

  .time,
  .mine-count-down {
    overflow: hidden;
    display: inline-block;
  }

  .number {
    display: block;
    float: left;
    background-image: url('/images/thoughts/minesweeper/sprite.png');
    background-repeat: no-repeat;
    background-size: 1100%;
    image-rendering: pixelated;
    width: 39px;
    height: 69px;
    background-position-y: 55.5%;

    &.number-0 {
      background-position-x: 892px/90px * 0%;
    }
    &.number-1 {
      background-position-x: 892px/90px * 1%;
    }
    &.number-2 {
      background-position-x: 892px/90px * 2%;
    }
    &.number-3 {
      background-position-x: 892px/90px * 3%;
    }
    &.number-4 {
      background-position-x: 892px/90px * 4%;
    }
    &.number-5 {
      background-position-x: 892px/90px * 5%;
    }
    &.number-6 {
      background-position-x: 892px/90px * 6%;
    }
    &.number-7 {
      background-position-x: 892px/90px * 7%;
    }
    &.number-8 {
      background-position-x: 892px/90px * 8%;
    }
    &.number-9 {
      background-position-x: 892px/90px * 9%;
    }
  }

  .face-button {
    width: 52px;
    height: 52px;
    position: relative;
    top: -8.5px;
    display: inline-block;
    background-image: url('/images/thoughts/minesweeper/sprite.png');
    background-repeat: no-repeat;
    image-rendering: pixelated;
    padding: 0;
    border: none;
    border-radius: 0;
    background-size: auto 311.5384615%;
    background-position-y: 100%;
    background-position-x: 22.06%;

    &.sunglasses {
      background-position-x: 88.24%;
    }

    &.dead {
      background-position-x: 66.18%;
    }

    &.o {
      background-position-x: 44.12%;
    }

    &.down {
      background-position-x: 0%;
    }
  }
}

//26 x 26


















@include mq(500px) {

  .minesweeper {

    .header-first-row {
      margin-bottom: 25px;
      margin-top: 25px;
    }
    .header-second-row {
      margin-bottom: 25px;
    }

    .mine-sweeper-tile-value {
      @include font-size(25);
    }

  }

}
