@import "system/utilities";

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: css-min(80vh, 80vw);
  margin: auto;
  gap: $s1;
  justify-content: center;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }

  input {
    flex-grow: 1;
  }

  span {
    margin: 0 $s2;
    width: 36px;
    text-align: left;
  }
}

#play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  padding-top: 0;

  img {
    border-radius: 0;
  }

  &.play {
    .play {
      display: none;
    }
  }

  &:not(.play) {
    .pause {
      display: none;
    }
  }
}

.canvas {
  position: relative;
  width: css-min(80vh, 80vw);
  height: css-min(80vh, 80vw);
  margin: $section-spacer auto 0;
  background: white;

  .line {
    width: 100%;
    height: var(--thickness, 1px);
    background: black;
    border-radius: 0;
  }

  &::after {
    content: '';
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: center center;
    transform: rotate(var(--rotation));
  }
}

#control, #variant {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: grid;
  gap: var(--thickness, 1px);
  grid-template-rows: repeat(var(--height), var(--thickness, 1px));
  grid-template-columns: 1fr;
  z-index: 1;
}

#variant {
  transform-origin: center center;
  transform: rotate(var(--rotation));
}