@import "lib/base-styles";

$colors: (
  white: white,
  black: black,
  grey: grey,
  red: red,
  orange: orange,
  yellow: yellow,
  green: green,
  blue: blue,
  indigo: indigo,
  violet: violet,
);

@mixin set-color-classes {
  @each $color, $code in $colors {
    &[data-color=#{$color}] {
      background-color: $code;
    }
  }
}

canvas {
  width: 100vw;
  border: 1px solid gray;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  background-color: white;
}

.color-pallette {
  position: relative;
  padding-left: 50px;
  margin-left: 30px;
  height: 50px;

  main-color {
    @include set-color-classes;

    box-shadow: inset 0 0 1px;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 0;
    border: 2px solid white;
  }
  color-sample {
    display: block;
    width: 25px;
    box-sizing: border-box;
    height: 25px;
    float: left;
    border: 2px solid white;
    box-shadow: inset 0 0 1px;
    cursor: pointer;

    @include set-color-classes;
  }
}

main-stroke {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  box-shadow: inset 0 0 1px;
  float: left;

  &::after {
    content: '';
    display: block;
    background-color: black;
    border-radius: 100%;
    @include transform(translate(-50%, -50%));
    position: absolute;
    left: 50%;
    top: 50%;
  }

  @for $i from 1 to 50 {
    &[data-stroke="#{$i}"]::after {
      width: #{$i + 2}px;
      height: #{$i + 2}px;
    }
  }
}

#stroke-slider {
  float: left;
  height: 50px;
  margin: 0 15px;
}