@import "system/utilities";

canvas {
  width: 100vw;
  border: 1px solid;
  height: calc(90vh - 66px);
  background-color: white;
}

.shape-palette {
  display: none;
}

main-color,
main-stroke {
  box-shadow: inset 0 0 1px;
  display: block;
  border: 1px solid;
}

.color-palette {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 36px);
  grid-template-rows: repeat(3, 36px);

  @include mq($medium) {
    grid-template-columns: repeat(12, 36px);
    grid-template-rows: repeat(2, 36px);
  }

  main-color {
    grid-row: span 3;
    grid-column: span 2;

    @include mq($medium) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }

  color-sample {
    border: 1px solid;
    box-shadow: inset 0 0 1px;
    cursor: pointer;
  }
}

.stroke-size-palette {
  display: flex;
  justify-content: center;
}

main-stroke {
  min-width: 72px;
  min-height: 72px;
  padding: $s1;
  display: flex;
  flex-flow: column;

  &::before {
    content: '';
    display: block;
    background-color: black;
    border-radius: 100%;
    height: var(--stroke, #{$s2});
    width: var(--stroke, #{$s2});
    margin: auto;
    box-shadow: 0 0 0px 1px currentColor;
  }

  span {
    width: 100%;
    display: block;
    text-align: center;
    align-self: flex-end;
  }
}

$slider-width: 150px;
$slider-height: 20px;

.slider-container {
  display: block;
  position: relative;
  width: $slider-height;
  height: $slider-width;
  margin-right: $s4;
}

#stroke-slider {
  position: absolute;
  height: $slider-height;
  margin: 0;
  width: $slider-width;
  transform: rotate(-90deg);
  bottom: 0;
  left: 0;
  transform-origin: 10px center;
}