@import "system/utilities";

.key {
  display: grid;
  row-gap: 3px;
  width: css-min(100%, $grid--copy-max-width);
  @include margin-center;
  margin-bottom: $paragraph-bottom;

  > div {
    width: 100%;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
  }

  span {
    margin-left: 3px;
  }

  .years {
    background-color: orange;
    color: $palette--primary-grey;
  }

  .months {
    background-color: yellow;
    color: $palette--primary-grey;
  }

  .days {
    background-color: green;
  }

  .hours {
    background-color: blue;
  }

  .minutes {
    background-color: indigo;
  }

  .seconds {
    background-color: white;
    color: $palette--primary-grey;
  }
}

svg.clock {
  width: css-min(100%, 60vh);
  margin: 0 auto $paragraph-bottom;
  display: block;
  transform: rotate(-90deg);
  transform-origin: center center;

  circle {
    fill: transparent;
    stroke-width: 9px;
    stroke-dashoffset: 0;

    transition: stroke-dashoffset $transition-speed cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}


#center {
  fill: red;
}

#years {
  stroke: orange;
}

#months {
  stroke: yellow;
}

#days {
  stroke: green;
}

#hours {
  stroke: blue;
}

#minutes {
  stroke: indigo;
}

#seconds {
  stroke: white;
}


.display-time {
  @include font-size(5)
}
