@import "system/utilities";
@import "modules/code";
@import "modules/sticky-stacky";

.sticky-container {

  > * {
    width: 100%;
  }

  > *.default-styles {
    width: 100%;
    padding: $s1 $s2;
    @include pallette--header;
    text-align: center;
  }

  > *.fixed {
    &.shadow::after {
      content: '';
      width: 100%;
      position: absolute;
      top: 100%;
      height: $s2;
      background: linear-gradient(to bottom, rgba($pallette--primary-text-color--dark, 0.3), transparent);
      left: 0;
      right: 0;
    }
  }
}
