@import "system/utilities";

.sticky-container {
  height: var(--sticky-container-height);

  > *.default-styles {
    width: 100%;
    padding: $s1 $s2;
    @include pallette--header;
    text-align: center;
    position: relative;
  }

  > *.fixed {
    position: fixed;
    z-index: 1000;
    top: var(--previous-heights);
    transform: translateY(var(--sticky-stacky-transform));

    &.shadow::after {
      content: '';
      width: 100%;
      position: absolute;
      top: 100%;
      height: $s2;
      background: linear-gradient(to bottom, rgba($pallette--primary-text-color--dark, 0.3), transparent);
      left: 0;
      right: 0;
    }
  }
}
