@import "system/utilities";

nav.default-styles {
  width: 100%;
  padding: $s1 $s2;
  @include pallette--header;
  text-align: center;
}

nav.fixed {
  position: fixed;
  z-index: 1000;
  top: var(--previous-heights);
  transform: translateY(var(--sticky-stacky-transform));

  &.shadow {
    box-shadow: 0 0 $s2 $pallette--primary-text-color;
  }
}

.sticky-container {
  height: var(--sticky-container-height);
}
