@import "lib/base-styles";


article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

a.movie {
  width: 100%;
  max-width: 240px;
  display: block;
  padding-bottom: $s4;
  margin-bottom: $s4;
  transition-property: color;
  background-color: transparent;
  color: $primary-text-color;

  @include dark-mode {
    color: $primary-color-text;

    &::before {
      background-color: $primary-color-text;
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: $primary-color-dark;

    @include dark-mode {
      color: $primary-color-text;
    }
  }

  h3 {
    margin-bottom: $s2;
  }

  h6 {
    @include font-size();
    font-family: $sans-serif;
    font-weight: $bold;
  }
}