@import "system/utilities";


article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

a.movie {
  width: 100%;
  max-width: 240px;
  display: block;
  padding-bottom: $s4;
  margin-bottom: $s4;
  transition-property: color;
  background-color: transparent;
  color: $pallette--primary-color-text--white;

  &::before {
    background-color: $pallette--primary-color-text--white;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: $pallette--primary-color-text--white;
  }

  p.h4 {
    margin-bottom: $s2;
  }

  img {
    display: block;
  }
}