@import "lib/base-styles";

#up-and-down {
  display: inline-block;
  position: relative;
  top: -3px;
}

answer, answer-array {
  display: block;
  text-align: center;
  margin-top: $s6;
  @include font-size(3);
}

answer-array {
  a:after {
    content: ',';
  }

  a:last-of-type:after {
    content: '';
  }
}

input[type=number] {
  @include font-size(3);
}

canvas#star {
  width: 90vh;
  max-width: 90vw;

  height: 90vw;
  max-height: 90vh;

  // background: blue;
  margin: auto;
  display: block;
  transform: rotate(-90deg);
}
