@import "system/utilities";


// main.thoughts.using-canvas {

//   canvas {
//     width: 100vw;
//     border: 1px solid gray;
//     box-sizing: border-box;
//     height: calc(100vh - 66px);
//   }

//   #pause-button.paused {
//     color: $pallette--primary-color-text;
//     background-color: $pallette--primary-text-color;
//   }

//   #clear-button {
//     color: $pallette--primary-color-text;
//     background-color: darken($color: red, $amount: 15);

//     &:hover,
//     &:focus {
//       background-color: darken($color: red, $amount: 30)
//     }
//   }

//   form {
//     margin-bottom: $s6;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     align-items: center;
//     max-width: 500px;
//     margin-left: auto;
//     margin-right: auto;

//     label {
//       white-space: nowrap;
//       display: flex;
//       align-items: center;
//       padding: unset;
//     }

//     input[type=checkbox] {
//       margin-right: $s1;
//     }

//     > * {
//       margin-bottom: $s2;
//     }
//   }
// }