@import "lib/base-styles";


main.thoughts.using-canvas {

  canvas {
    width: 100vw;
    border: 1px solid gray;
    box-sizing: border-box;
    height: calc(100vh - 50px);
  }

  #pause-button.paused {
    color: $white;
    background-color: $black;
  }

  #clear-button {
    color: $white;
    background-color: red;
  }

  form {
    margin-bottom: $s5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    label {
      white-space: nowrap;
    }

    > * {
      margin-bottom: $s2;
    }
  }

  button + button {
    margin-left: $s2;
  }
}