@import "system/utilities";

.thoughts.vertically-center-siblings {

  .row, table, .table {
    min-width: 800px;
  }

  td, .cell {
    width: percentage(1/3);
  }

  scroller {
    width: 100%;
    display: block;
    overflow-x: auto;
    margin-top: $s6;
    margin-bottom: $s6;
    border: 2px solid $palette--divider-color;
  }

  td {
    vertical-align: middle;

    &:nth-child(1) {
      padding-right: $s2;
    }
    &:nth-child(2) {
      padding-left: $s1;
      padding-right: $s1;
    }
    &:nth-child(3) {
      padding-left: $s2;
    }
  }

  .shadow {
    border: 1px solid $palette--divider-color;
    padding: $s2;
    padding-bottom: $s2;
    text-align: center;
    padding: $s2;
  }

  .display-table {
    .table {
      display: table;
    }
    .row {
      display: table-row;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .inline-block {
    .row {
      white-space: nowrap;
      display: block;
    }
    .cell {
      display: inline-block;
      vertical-align: middle;
      width: percentage(1/3);
      white-space: normal;
    }
  }

  .flex {
    .row {
      display: flex;
      align-items: center;
    }
  }

  .display-table, .inline-block, .flex {
    .cell {
      &:nth-child(1) {
        padding-right: $s2;
      }
      &:nth-child(2) {
        padding-left: $s1;
        padding-right: $s1;
      }
      &:nth-child(3) {
        padding-left: $s2;
      }
    }
  }

  .grid {
    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      grid-gap: $s3;
    }
    .cell {
      width: unset;
    }
  }
}
