@import "lib/base-styles";

.thoughts.yahtzee {
  display: grid;
  align-items: center;
  justify-content: center;

  #roll {

    &::after {
      content: attr(data-rolls-left);
    }

    &:disabled {
      opacity: .7;
    }
  }

}
