@import "system/utilities";

// .thoughts.yahtzee {
//   display: grid;
//   align-items: center;
//   justify-content: center;

//   .game-container {
//     display: grid;
//     grid-gap: $s2;
//     margin-top: $s6;

//     label {
//       padding: 0;
//     }
//   }

//   #roll {
//     width: 100%;
//     height: 3em;

//     &::after {
//       content: attr(data-rolls-left);
//       display: inline-flex;
//       width: 1.5em;
//       height: 1.5em;
//       margin-left: 0.4em;
//       margin-right: -0.5em;
//       border: 2px solid;
//       border-radius: 1em;
//       align-items: center;
//       justify-content: center;
//     }

//     &.locked {
//       opacity: .7;
//       pointer-events: none;
//     }
//   }

//   #dice {
//     display: flex;
//     justify-content: center;

//     button {
//       height: 37px;
//     }
//   }

//   [id^="die-"] {
//     &[value="0"] {
//       pointer-events: none;
//     }
//     &.locked {
//       border-color: currentColor;
//     }
//     &:not(:last-child) {
//       margin-right: $s2;
//     }
//   }

//   .locked button {
//     pointer-events: none;
//     border-color: transparent !important;
//   }

//   label {
//     &:hover::after,
//     &:focus::after {
//       content: attr(title);
//       position: absolute;
//       font-size: 50%;
//       top: 0;
//       left: 0;
//       background-color: $pallette--primary-text-color;
//       color: $pallette--primary-color-text;
//       max-width: 100%;
//       box-shadow: 0 0 $s1;
//       border-radius: $s1;
//       padding: 0 $s1;
//     }
//   }

//   #score-board {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-gap: $s2;

//     @include mq($medium) {
//       grid-template-columns: 1fr 1fr;
//     }

//     &[data-rolls-left="3"] {
//       button {
//         pointer-events: none;
//       }
//       & + #dice [id^="die-"] {
//         pointer-events: none;;
//       }
//     }
//   }

//   .column {
//     > div {
//       display: flex;
//       justify-content: space-between;
//       margin-bottom: $s1;
//       position: relative;
//     }
//   }
//   .score {
//     min-width: 72px;
//     text-align: center;
//     margin-left: $s2;
//     display: inline-block;
//     @include font-size(3);
//     padding: 0 $s3;
//     font-family: $sans-serif;
//   }

//   #total {
//     display: flex;
//     justify-content: space-between;

//     @include mq($medium) {
//       width: calc(50% - #{$s1});
//     }
//   }
// }
