@import "system/utilities";

.html {
  @include html;
}

.section,
.description {
  @include section;
}

.description {
  @include paragraph-margin;
}

.p,
.paragraph {
  @include paragraph;
}

.i,
.italic {
  @include italic;
}

.content,
.container {
  @include content;
}

.error {
  color: $color--red-500;
  text-align: center;
}

.block {
  display: block;
}

.center {
  text-align: center;
  justify-content: center;
}

.block {
  display: block;
}

.center {
  text-align: center;
  justify-content: center;
}

.block-center {
  @include margin-center;
}

.p,
.paragraph {
  @include paragraph;

  &-margin {
    @include paragraph-margin;
  }
}

.video-container {
  width: 100%;
  height: 0;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.block-link-wrapper {
  display: block;
}

.select {
  @include select;
}

.inline-link {
  @include inline-link;
}

.block-link {
  @include block-link;
}

.button,
.button-link {
  @include button-link;

  &.mega-button {
    @include mega-button;
  }
}

.card-link {
  @include card-link;
}
