@import "../utilities";

.h1 {
  @include type--heading-1;
}

.h2 {
  @include type--heading-2;
}

.h3 {
  @include type--heading-3;
}

.h4 {
  @include type--heading-4;
}

.h5 {
  @include type--heading-5;
}

