---
title: "2-Dimensional Cellular Automaton"
description: "This is my next step toward building Conway's The Game of Life. I've moved into the second dimension!"
date: 2018-03-04
priority: 0.8
pageClasses:
  - 'thoughts'
  - '2d-automaton'
layout: base
styles:
  - 'main'
  - 'thoughts/2d-automaton'
---

<blockquote>
  An automaton (plural: automata or automatons) is a self-operating machine, or a machine or control mechanism designed to automatically follow a predetermined sequence of operations, or respond to predetermined instructions.
  <cite>
    <%- externalLink("Wikipedia.org", { href: "https://en.wikipedia.org/wiki/Automaton" }) %>
  </cite>
</blockquote>

<div class="content">

  <p>
    To get a basic introduction to cellular automata, you should check out my first page about <%- link("Elementary Cellular Automaton", { href: '/thoughts/cellular-automaton/' }) %>.
  </p>

  <p>
    This next iteration is in 2 dimensions. Time is on the Z axis, so you won't get to look back; the present world is all you can see. In this version of cellular automata, the future world is derived from the parent neighbors of the cell in question. Below you'll see 4 simple ways to count neighbors.
  </p>

  <table class="center p">
    <tr>
      <td>
        &squ;&#9632;&squ;<br>
        &#9632;&squ;&#9632;<br>
        &squ;&#9632;&squ;<br>
        <span>4</span>
      </td>
      <td>
        &squ;&#9632;&squ;<br>
        &#9632;&#9632;&#9632;<br>
        &squ;&#9632;&squ;<br>
        <span>5</span>
      </td>
      <td>
        &#9632;&#9632;&#9632;<br>
        &#9632;&squ;&#9632;<br>
        &#9632;&#9632;&#9632;<br>
        <span>8</span>
      </td>
      <td>
        &#9632;&#9632;&#9632;<br>
        &#9632;&#9632;&#9632;<br>
        &#9632;&#9632;&#9632;<br>
        <span>9</span>
      </td>
    </tr>
  </table>

  <p>
    Below I'm using 4 neighbors. With 4 neighbors, there are 65,535 rules. If I used 9 neighbors, there would be 13,&shy;407,&shy;807,&shy;929,&shy;942,&shy;597,&shy;099,&shy;574,&shy;024,&shy;998,&shy;205,&shy;846,&shy;127,&shy;479,&shy;365,&shy;820,&shy;592,&shy;393,&shy;377,&shy;723,&shy;561,&shy;443,&shy;721,&shy;764,&shy;030,&shy;073,&shy;546,&shy;976,&shy;801,&shy;874,&shy;298,&shy;166,&shy;903,&shy;427,&shy;690,&shy;031,&shy;858,&shy;186,&shy;486,&shy;050,&shy;853,&shy;753,&shy;882,&shy;811,&shy;946,&shy;569,&shy;946,&shy;433,&shy;649,&shy;006,&shy;084,&shy;096 rules. Or 13.4 Quinquagintillion. Math reference: <%- externalLink("Wolfram Alpha", { href: 'https://www.wolframalpha.com/input/?i=2%5E(2%5E9)' }) %>
  </p>

  <p>
    Brian has found that rules converted to binary numbers ending in 10110 make for very cool patterns. The arrows will jump you to then next rule that when converted to binary ends in 10110.
  </p>

  <form class="center p">
    <span>Rule number from 0 to 65,535:</span>
    <input id="rule" value="10678" type="number" min="0" max="65535" step="2" aria-label="Rule number"/>
    <span id="rule-up-and-down">
      <button type="button" value="1">&#x25B2;</button>
      <button type="button" value="-1">&#x25BC;</button>
    </span>
  </form>

  <form class="center p">
    <label>Random Start: <input id="random-start" type="checkbox" /></label>
    <label>Scroll?: <input id="play" type="checkbox" /></label>
  </form>
</div>

<canvas id="canvas">
  Your browser does not support the canvas tag!
</canvas>