---
title: "Ant Life Simulator"
description: ""
date: 2022-05-16
priority: 0.8
pageClasses:
  - 'thoughts ant-life-simulator'
layout: base
styles:
  - 'main'
  - 'thoughts/ant-life-simulator'
scripts:
  - 'thoughts/ant-life-simulator/index'
---

<section class="content">
  <ol>
    <li>50 whites</li>
    <li>20 greens</li>
    <li>2 adjacent elements of the same color can reproduce. Greens, 1 in 8 opportunities. Whites, every other opportunity.</li>
    <li>If a green is surrounded by whites, the whites will eat the green.</li>
    <li>If a white is adjacent to a green, the green will eat it.</li>
    <li>If a green goes without eating for 12 turns, it will starve.</li>
    <li>Ants move first</li>
  </ol>
</section>

<div id="board"></div>

<section class="content">
  <div class="score-bar">
    <span id="ants-bar"></span>
    <span id="ant-eaters-bar"></span>
  </div>

  <ul id="score-board" class="paragraph">
    <li>Whites: <span id="ants-count" ></span></li>
    <li>Greens: <span id="ant-eaters-count" ></span></li>
    <li>Whites Eaten: <span id="ants-eaten" ></span></li>
    <li>Greens Eaten: <span id="ant-eaters-eaten" ></span></li>
    <li>Greens Starved: <span id="ant-eaters-killed" ></span></li>
  </ul>
</section>
