---
title: "Browser and device diagnostics"
description: "Detect your device's userAgent, devicePixelRatio, viewport, and breakdown the anatomy of a URL. This page will help you to diagnose the values provided through standard JavaScript APIs about your device and browser."
date: 2023-03-25
priority: 0.8
pageClasses:
  - 'thoughts browser-and-device-diagnostics'
layout: base
styles:
  - 'main'
  - 'thoughts/browser-and-device-diagnostics'
scripts:
  - 'thoughts/browser-and-device-diagnostics'
---

<section>
  <div class="container">
    <header>
      <h2>URL Breakdown.</h2>
      <h3><var>window.location</var></h3>
    </header>
    <form class="p">
      Type your own URL to test.
      <input type="text" id="url" />
      <div id="error">Invalid URL. Keep typing.</div>
    </form>
    <code>
      {
      <ul>
        <li><span class="key">hash:</span> "<span id="hash"></span>",</li>
        <li><span class="key">host:</span> "<span id="host"></span>",</li>
        <li><span class="key">hostname:</span> "<span id="hostname"></span>",</li>
        <li><span class="key">href:</span> "<span id="href"></span>",</li>
        <li><span class="key">origin:</span> "<span id="origin"></span>",</li>
        <li><span class="key">pathname:</span> "<span id="pathname"></span>",</li>
        <li><span class="key">port:</span> "<span id="port"></span>",</li>
        <li><span class="key">protocol:</span> "<span id="protocol"></span>",</li>
        <li><span class="key">search:</span> "<span id="search"></span>"</li>
      </ul>
      }
    </code>
    <p>
      <%- externalLink('Detailed Reference', {
        href: 'https://developer.mozilla.org/en-US/docs/Web/API/Location'
      }); %>
    </p>
  </div>
</section>

<section>
  <div class="container">
    <header>
      <h2>Your device's userAgent</h2>
      <h3><var>navigator.userAgent</var></h3>
    </header>
    <code>
      <span id="userAgent"></span>
    </code>
    <p>
      <%- externalLink('Detailed Reference', {
        href: 'https://developer.mozilla.org/en-US/docs/Web/API/Navigator'
      }); %>
    </p>
  </div>
</section>
</section>

<section>
  <div class="container">
    <header>
      <h2>Your device's devicePixelRatio</h2>
      <h3><var>devicePixelRatio</var></h3>
    </header>
    <code>
      <span class="key">devicePixelRatio:</span> <span id="devicePixelRatio"></span>
    </code>
    <p>
      <%- externalLink('Detailed Reference', {
        href: 'https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio'
      }); %>
    </p>
  </div>
</section>

<section>
  <div class="container">
    <header>
      <h2>Your browser's viewport</h2>
      <h3><var>VisualViewport</var></h3>
    </header>
    <code>
      {
      <ul>
        <li><span class="key">width:</span> "<span id="width"></span>",</li>
        <li><span class="key">height:</span> "<span id="height"></span>",</li>
        <li><span class="key">scale:</span> "<span id="scale"></span>",</li>
      </ul>
      }
    </code>
    <p>
      <%- externalLink('Detailed Reference', {
        href: 'https://developer.mozilla.org/en-US/docs/Web/API/VisualViewport'
      }); %>
    </p>
  </div>
</section>