---
title: "Elementary Cellular Automaton"
description: "If you've ever heard of Conway's The Game of Life, you may already have an idea of what this is. If not, now worries, it's not that crazy of a concept."
date: 2018-02-23
priority: 0.8
pageClasses:
  - 'thoughts'
  - 'cellular-automaton'
layout: base
styles:
  - 'main'
  - 'thoughts/cellular-automaton'
---

<blockquote>
  An automaton (plural: automata or automatons) is a self-operating machine, or a machine or control mechanism designed to automatically follow a predetermined sequence of operations, or respond to predetermined instructions.
  <cite>
    <a href='https://en.wikipedia.org/wiki/Automaton'>Wikipedia.org</a>
  </cite>
</blockquote>

<div class="content">
  <p>
    Cells are very basic. They are black or white. Alive or dead. Binary.
  </p>

  <p>
    The animation below, is a 1 dimensional world of cells. That one dimension is on the horizontal axis. Time is the vertical axis, moving from the top to the bottom.
  </p>

  <p>
    The way life plays out in this world is absolutely declarative. The second line is derived from the first line, by a series of rules; the third from the second, and so on. There is no free will.
  </p>

  <p>
    The rules are simple.
    <list>
      <item>
        1) Each "world" (or Automaton) starts with a single dark cell. I position it in the center.
      </item>
      <item>
        2) Each cell's color, is decided by the 3 cells immediately above it
      </item>
      <item>
        3) The key to each world's evolution is in the "rule"
      </item>
    </list>
    Now let's unpack what that means.
  </p>

  <p>
    Each cell's color, is decided by the 3 cells immediately above it, in the shape of a capital T. Those three "parents" form a 3 digit binary sequence. 0 is white and 1 is black. There are 8 possible combinations of white and black values in a string of length 3.
    <list>
      <item>000 - 0</item>
      <item>001 - 1</item>
      <item>010 - 2</item>
      <item>011 - 3</item>
      <item>100 - 4</item>
      <item>101 - 5</item>
      <item>110 - 6</item>
      <item>111 - 7</item>
    </list>
  </p>

  <p>
    Each world has a "rule" that everything is based on numbering from 0 to 255. This page is setup to start with Rule 90. All numbers from 0 to 255 can be represented by an 8 digit binary sequence. In this case, 90 is represented as 1011010.
  </p>

  <p>
    So a cell looks at its parents and uses their coloring as a look-up value against the main rule. If your parents are 101, you will select the 5th value from the right on the main rule's binary value. If it is a 1, the cell is black. Otherwise, it is white.
  </p>


  <p>
    Here are some links to other resources if you want to dig deeper into the subject.
    <list>
      <item>
        <a href="http://mathworld.wolfram.com/ElementaryCellularAutomaton.html" target="_blank">Wolfram.com Elementary Cellular Automaton</a>
      </item>
      <item>
        <a href="http://mathworld.wolfram.com/Rule30.html" target="_blank">Rule 30</a>
      </item>
      <item>
        <a href="https://en.wikipedia.org/wiki/Elementary_cellular_automaton" target="_blank">Wikipedia.org Elementary Cellular Automaton</a>
      </item>
    </list>
  </p>

  <p class="center">
    Rule number from 0 to 255:
    <input id="rule" value="90" type="number" min="0" max="255" step="1"/>
    <span id="rule-up-and-down">
      <button value="1">&#x25B2;</button>
      <button value="-1">&#x25BC;</button>
    </span>
  </p>

  <p class="center">
    Height:
    <input id="height" value="128" type="number" min="1" max="255" step="10"/>
    <span id="height-up-and-down">
      <button value="10">&#x25B2;</button>
      <button value="-10">&#x25BC;</button>
    </span>
  </p>

  <p class="center">
    Random Start: <input id="random-start" type="checkbox" />
    Scroll?: <input id="play" type="checkbox" />
  </p>
</div>

<canvas id="canvas"></canvas>