---
title: "All Hex colors"
description: "I wanted to create a way to show all of the rgb colors that can be represented by rgb. So, I did. Here’s a rectangle with a slider that shows every color."
date: 2018-08-02
priority: 0.8
layout: base
styles:
  - 'main'
  - 'thoughts/color-canvas'
scripts:
  - 'thoughts/color-canvas'
---

<section>
  <div class="content">
    <p>
      The X-axis represents red. The Y-axis represents green. The slider represents the Z-axis, which is blue. Just slide the slider, below, and appreciate all of the beautiful colors that your screen can render!
    </p>
  </div>
</section>

<section>
  <div class="content">
    <canvas id="canvas"></canvas>
    <input id='blue-slider' type="range" min="0" max="255" value="0" step="1" aria-label="Blue value">
  </div>
</section>
