---
title: "Earth Rotating Sprite Animation"
description: "I wanted to animate a sprite by targeting a changing data attribute + unique css background-positioning. I win."
date: 2018-08-03
priority: 0.8
layout: base
styles:
  - 'main'
  - 'thoughts/earth-rotating-sprite-animation'
---

<section>
  <div class="content">
    <p>
      The setup is pretty basic. Brian has an event listener on the html element for mousemove. Using that event I can see how far you moved your mouse (<var>event.movementX</var>). I add that number to an existing counter. Sprinkle on some math (below) and you have the current frame. Easy peasy.
    </p>
    <p>
      The sprite that I'm using has 4 rows and 12 columns. So I had to add in the math for wrapping around from position <var>0, 11</var> to <var>1, 0</var>. That's why I use <var>$sprite-height</var> and <var>$frame-height</var> below.
    </p>
  </div>
</section>


<section>
  <div class="content">
    <h2>
      Demo
    </h2>
    <div lazy data-lazy-style="background-image: var(--background-image);" id="frame-container" data-number="0"></div>
  </div>
  <input id='frame-slider' type="range" min="0" max="47" value="0" step="1" aria-label="Animation frame selector">
</section>


<section>
  <div class="content">
    <h2>
      SASS
    </h2>
    <ul class="p">
      <li>
        <b>Width of sprite image:</b>
        <var>$sprite-width</var>
      </li>
      <li>
        <b>Height of sprite image:</b>
        <var>$sprite-height</var>
      </li>
      <li>
        <b>Number of horizontal frames:</b>
        <var>$x-max</var>
      </li>
      <li>
        <b>Number of vertical frames:</b>
        <var>$y-max</var>
      </li>
      <li>
        <b>Frame width:</b>
        <var>$frame-width = $sprite-width / $x-max</var>
      </li>
      <li>
        <b>Frame height:</b>
        <var>$frame-height = $sprite-height / $y-max</var>
      </li>
    </ul>
    <%- code(`#frame-container {
  width: round($frame-width);
  height: round($frame-height);
  background-image: url(/path/to/sprite.jpg);

  @for $frame from 0 to ($y-max * $x-max) {
    &[data-number="#{$frame}"] {
      $x-position: 1 - round(($frame % $x-max) * $frame-width);
      $y-position: 1 - round(floor($frame / $x-max) * $frame-height);
      background-position: #{$x-position} #{$y-position};
    }
  }
}`); %>
  </div>
</section>


<section>
  <div class="content">
    <h2>
      JavaScript
    </h2>
    <p>
      There's almost nothing going on here. Set an event listener on the html element for mousemove. In the caught event, find the horizontal movement using <var>movementX</var>. Add that to the existing frame number and add a large multiple of <var>numberOfFrames</var> to account for negative numbers (you don't want a negative frame number). Then, find the modulus of that number to get a final frame number between zero and the maximum number of frames. Finally, set that number to the container's data attribute, and let the CSS do the rendering work.
    </p>
    <%- code(`const frameContainer = document.getElementById('frame-container');
const numberOfFrames = 48;
let number = 0;
document.documentElement.addEventListener('mousemove', (event) => {
  number = ((number + event.movementX) + (numberOfFrames * 100)) % numberOfFrames;
  frameContainer.dataset.number = number;
});`); %>
  </div>
</section>