---
title: 'Sony MDR-J10 H.Ear wired headphones'
description: ''
date: 2020-06-14
priority: 0.8
pageClasses:
  - 'thoughts headphones-sony-mdr-j10-h.ear'
layout: base
styles:
  - 'main'
  - 'thoughts/headphones-sony-mdr-j10-h.ear'
---

<section>
  <div class="content">
    <img src="/images/thoughts/headphones-sony-mdr-j10-h.ear/headphones.jpg" />
  </div>
</section>