---
title: ''
description: ''
date: 2020-06-14
priority: 0.8
pageClasses:
  - 'thoughts headphones'
layout: base
styles:
  - 'main'
  - 'thoughts/headphones'
---

<form>
  <select name="in-over-ear">
    <option value="*" selected>All</option>
    <option value="over-ear">Over-ear</option>
    <option value="in-ear">In-ear</option>
  </select>

  <select name="sleeping">
    <option value="*" selected>All</option>
    <option value="sleeping">For Sleeping</option>
  </select>

  <select name="wired-wireless">
    <option value="*" selected>All</option>
    <option value="wired">Wired</option>
    <option value="wireless">Wireless</option>
    <option value="true-wireless">True Wireless</option>
  </select>
</form>

<div class="table">
  <div class="row header">
    <div class="name">
      Product name
    </div>
    <div class="wire">Wired/Wireless</div>
    <div class="ear">In-ear/Over-ear</div>
  </div>
  <div class="row" data-filters="wired over-ear">
    <div class="name">
      <a href="/thoughts/headphones-bose-quietcomfort-25.ejs">Bose QuietComfort 25</a>
    </div>
    <div class="wire">Wired</div>
    <div class="ear">Over-ear</div>
  </div>
  <div class="row" data-filters="true-wireless over-ear">
    <div class="name">
      <a href="/thoughts/headphones-bose-quietcomfort-35-ii.ejs">Bose QuietComfort 35 II</a>
    </div>
    <div class="wire">True Wireless</div>
    <div class="ear">Over-ear</div>
  </div>
  <div class="row" data-filters="wireless in-ear sleeping">
    <div class="name">
      <a href="/thoughts/headphones-goojodoq-wireless-sleeping.ejs">GOOJODOQ wireless (sleeping)</a>
    </div>
    <div class="wire">Wireless</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="true-wireless in-ear">
    <div class="name">
      <a href="/thoughts/headphones-jabra-elite-65t.ejs">Jabra Elite 65t</a>
    </div>
    <div class="wire">True Wireless</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="true-wireless in-ear">
    <div class="name">
      <a href="/thoughts/headphones-jaybird-run.ejs">Jaybird Run</a>
    </div>
    <div class="wire">True Wireless</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="wired in-ear sleeping">
    <div class="name">
      <a href="/thoughts/headphones-maxrock-wired-sleeping.ejs">Maxrock wired (sleeping)</a>
    </div>
    <div class="wire">Wired</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="wireless in-ear sleeping">
    <div class="name">
      <a href="/thoughts/headphones-maxrock-wireless-sleeping.ejs">Maxrock wireless (sleeping)</a>
    </div>
    <div class="wire">Wireless</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="wired over-ear">
    <div class="name">
      <a href="/thoughts/headphones-philips-oneill-sho9560-28.ejs">Philips O'Neill SHO9560/28</a>
    </div>
    <div class="wire">Wired</div>
    <div class="ear">Over-ear</div>
  </div>
  <div class="row" data-filters="true-wireless in-ear">
    <div class="name">
      <a href="/thoughts/headphones-pixel-buds-2.ejs">Pixel Buds 2</a>
    </div>
    <div class="wire">True Wireless</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="wired in-ear">
    <div class="name">
      <a href="/thoughts/headphones-pixel-usb-c-earbuds.ejs">Pixel USB-C earbuds</a>
    </div>
    <div class="wire">Wired</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="wired in-ear">
    <div class="name">
      <a href="/thoughts/headphones-sony-mdr-j10-h.ear.ejs">Sony MDR-J10 H.Ear</a>
    </div>
    <div class="wire">Wired</div>
    <div class="ear">In-ear</div>
  </div>
  <div class="row" data-filters="wired in-ear">
    <div class="name">
      <a href="/thoughts/headphones-apple-wired">Apple earbuds - 3 versions</a>
    </div>
    <div class="wire">Wired</div>
    <div class="ear">In-ear</div>
  </div>
</div>