---
title: "Jabra Elite 65t wireless headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "thoughts headphones-jabra-elite-65t"
layout: base
styles:
  - "main"
  - "thoughts/headphones-jabra-elite-65t"
---

<section>
  <div class="content">
    <img src="/images/thoughts/headphones-jabra-elite-65t/headphones.jpg" />
  </div>
</section>