---
title: "GOOJODOQ wireless sleeping headphones"
description: ""
date: 2020-06-14
priority: 0.8
pageClasses:
  - "thoughts headphones-goojodoq-wireless-sleeping"
layout: base
styles:
  - "main"
  - "thoughts/headphones-goojodoq-wireless-sleeping"
---

<section>
  <div class="content">
    <img src="/images/thoughts/headphones-goojodoq-wireless-sleeping/headphones.jpg" />
  </div>
</section>