---
title: "Thoughts"
altTitle: "I have thoughts."
description: "This area of my website is intended to act somewhat like a blog. But none of these are really blog posts or articles. They are more like a collection of thoughts."
date: 2016-09-01
priority: 0.9
pageClasses:
  - 'thoughts'
  - 'index'
layout: base
styles:
  - 'main'
  - 'thoughts/index'
---

<section>
  <ul class="thoughts-list">
    <% var basePages = getChildPages('thoughts');
        for(var i = 0; i < basePages.length; i++) {
          var page = basePages[i];
      %>
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a itemprop="url" href="/<%- page.url %>">
        <h3 itemprop="name"><%- page.data.title %></h3>
          <figcaption itemprop="description">
            <%- page.data.description %>
          </figcaption>
        <meta itemprop="author" content="Brian Anders"/>
        <meta itemprop="datePublished" content="<%- page.data.date %>"/>
        <meta itemprop="publisher" content="Brian Anders"/>
      </a>
    </li>
    <% } %>
  </ul>
</section>
