---
title: "Thoughts"
altTitle: "My thoughts."
description: "This area of my website is intended to act somewhat like a blog. But none of these are really blog posts or articles. They are more like a collection of thoughts."
priority: 0.9
pageClasses:
  - 'thoughts'
  - 'index'
layout: base
styles:
  - 'main'
  - 'thoughts/index'
---

<div class="content">
  <ul class="thoughts-list">

      <li itemscope itemtype="http://schema.org/BlogPosting">
        <a itemprop="url" href="path">
          <h3 itemprop="name">title</h3>
            <figcaption itemprop="description">
              description
            </figcaption>
          <meta itemprop="author" content="Brian Anders"/>
          <meta itemprop="datePublished" content="this.date"/>
          <meta itemprop="publisher" content="Brian Anders"/>
        </a>
      </li>
  </ul>
</div>
