---
title: ""
description: ""
date: 2020-05-06
priority: 0.7
pageClasses:
  - 'thoughts'
  - 'interview-questions'
layout: base
styles:
  - 'main'
  - 'thoughts/interview-questions'
---

<a href="/example/float-no-vws-iphone/">Float, no VWs</a>

<a href="/example/float-iphone/">Float</a>

<a href="/example/flex-iphone/">Flex</a>

<a href="/example/grid-iphone/">Grid</a>