---
title: "Last.fm Scrobbles"
description: "Music is a major contributor to my life. I am constantly looking for my next favorite album. He’s one of those nuts that listens to the same thing over and over until he’s sick of it. I use Last.fm to keep track of my listening habits. Here are some of the albums that I have been listening to recently."
date: 2017-09-07
priority: 0.8
layout: base
pageClasses:
  - 'thoughts'
  - 'last-fm'
styles:
  - 'main'
  - 'thoughts/last-fm'
scripts:
  - 'thoughts/last-fm'
---

<blockquote>
  <p>To 'scrobble' a song means that when you listen to it, the name of the song is sent to a Web site (for example, Last.fm) and added to your music profile. Here’s how it works: Once you've signed up and downloaded Last.fm, you can scrobble songs you listen to on your computer or iPod automatically.</p>
  <cite>
    <%- externalLink('Netlingo.com', { href: "https://www.netlingo.com/word/scrobble.php" })%>
  </cite>
</blockquote>

<form class="content center p">
  <p>How far back do you want to see?</p>
  <select name="period" aria-label="Data period of time">
    <option value="7day">1 week</option>
    <option value="1month" selected>1 month</option>
    <option value="3month">3 months</option>
    <option value="6month">6 months</option>
    <option value="12month">1 year</option>
    <option value="overall">Forever</option>
  </select>
</form>

<section class="content">
  <h2>Top Albums</h2>
  <div class='last-fm-module p' data-type="albums" src="/images/thoughts/last-fm/default.webp">
    <% for (let i = 0; i < 10; i++) { %>
      <%- defaultLastFMModule() %>
    <% } %>
  </div>
</section>

<section class="content">
  <h2>Top Artists</h2>
  <div class='last-fm-module p' data-type="artists">
    <% for (let i = 0; i < 10; i++) { %>
      <%- defaultLastFMModule(false) %>
    <% } %>
  </div>
</section>