---
title: "Last-FM Scrobbles"
description: "Music is a core part of my being. I am constantly looking for my next favorite album. I'm one of those nuts that listens to the same thing over and over until I get sick of it. I use Last.fm to keep track of my listening habits. Here are some of the albums that I have been listening to recently. Check 'em out."
priority: 0.8
ember: true
layout: base
styles:
  - 'main'
  - 'thoughts/last-fm'
---

<blockquote>
  To 'scrobble' a song means that when you listen to it, the name of the song is sent to a Web site (for example, Last.fm) and added to your music profile. Here's how it works: Once you've signed up and downloaded Last.fm, you can scrobble songs you listen to on your computer or iPod automatically.

  <cite>
    <a href="http://www.netlingo.com/word/scrobble.php">Netlingo.com</a>
  </cite>
</blockquote>

<section id="ember-app" class=""></section>