---
title: "Line Circle Rotator"
description: "Line circle rotating animation"
date: 2022-01-14
priority: 0.8
pageClasses:
  - 'thoughts line-circle-rotator'
layout: base
styles:
  - 'main'
  - 'thoughts/line-circle-rotator'
scripts:
  - 'thoughts/line-circle-rotator'
---

<div class="circle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>