---
title: "Mandelbrot Set Fractals"
description: "I'm learning about how to make fractals"
date: 2018-11-06
priority: 0.8
pageClasses:
  - 'thoughts'
  - 'mandelbrot-set-fractals'
layout: base
styles:
  - 'main'
  - 'thoughts/mandelbrot-set-fractals'
---

<canvas></canvas>

<span class="magnification">
  <button value="-1">-</button>
  <button value="+1">+</button>
</span>

<span>
  <button value="up"   >up   </button>
  <button value="down" >down </button>
  <button value="left" >left </button>
  <button value="right">right</button>
</span>