---
title: "Moiré patterns: colors variation"
description: "In a previous post, I created a way to view a black and white moire pattern. This is an extension of that experience, but using red, green, and blue parallel lines."
date: 2022-06-24
priority: 0.8
pageClasses:
  - 'thoughts moire-pattern-colors'
layout: base
styles:
  - 'main'
  - 'thoughts/moire-pattern-colors'
scripts:
  - 'thoughts/moire-pattern-colors'
---

<section>
  <div class="container">
    <blockquote>
      <p>Moiré patterns or moiré fringes are large-scale interference patterns that can be produced when an opaque ruled pattern with transparent gaps is overlaid on another similar pattern. For the moiré interference pattern to appear, the two patterns must not be completely identical, but rather displaced, rotated, or have slightly different pitch.</p>
      <cite>
        <%- externalLink("Wikipedia.org", { href: "https://en.wikipedia.org/wiki/Moir%C3%A9_pattern" }) %>
      </cite>
    </blockquote>
  </div>
</section>

<div class="container form">
  <div data-controller="red">
    <button class="link play-pause">
      <img src="/images/icons/play.svg" class="play" />
      <img src="/images/icons/pause.svg" class="pause" />
    </button>
    Rotation (red): <span class="rotation-value">0.0</span>
    <input type="range" min="0" max="90" step="0.1" value="0" />
  </div>
  <div data-controller="green">
    <button class="link play-pause">
      <img src="/images/icons/play.svg" class="play" />
      <img src="/images/icons/pause.svg" class="pause" />
    </button>
    Rotation (green): <span class="rotation-value">0.0</span>
    <input type="range" min="0" max="90" step="0.1" value="0" />
  </div>
  <div data-controller="blue">
    <button class="link play-pause">
      <img src="/images/icons/play.svg" class="play" />
      <img src="/images/icons/pause.svg" class="pause" />
    </button>
    Rotation (blue): <span class="rotation-value">0.0</span>
    <input type="range" min="0" max="90" step="0.1" value="0" />
  </div>
</div>

<div class="canvas" id="canvas">
  <div id="variant-red"></div>
  <div id="variant-green"></div>
  <div id="variant-blue"></div>
</div>