---
title: "Git Tip: My favorite Git aliases"
description: "Git aliases that make my life easier. I don't like needing to remember long terminal commands."
date: 2018-11-04
priority: 0.8
pageClasses:
  - 'thoughts'
layout: base
styles:
  - 'main'
  - 'thoughts/code'
---

<article class="content" itemscope itemtype="http://schema.org/BlogPosting">

<%
  const explainShell = (cmd) => `https://explainshell.com/explain?cmd=${cmd}`;
  const co = "checkout";
  const cp = "cherry-pick";
  const klean = "git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d";
  const kleanD = "git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D";
  const pap = "git pull --rebase && git push";
  const update = "git fetch --all --prune && git pull --rebase";
%>

<%- code(
`[alias]
  # save some key strokes
  co = checkout
  cp = cherry-pick

  # remove branches that are not present in remote
  klean = !${klean}

  # remove branches that are not present in remote even if they have not been merged into master
  kleanD = !${kleanD}

  # pull and push - if you're
  pap = !${pap}

  # fetch remote, prune, and pull in one command
  update = !${update}

  # update misspell
  udpate = !${update}
`); %>

  <ul class="p">
    <li style="margin-bottom: 12px;">
      <a href="<%- explainShell(klean) %>" target="_blank" rel="noopener">git klean explanation</a>
    </li>
    <li>
      <a href="<%- explainShell(kleanD) %>" target="_blank" rel="noopener">git kleanD explanation</a>
    </li>
  </ul>

</article>