---
title: "Git Tip: My Git configuration (.gitconfig)"
description: "These are the things in my .gitconfig that help me the most. From avoiding those annoying pull commits, to key saving aliases."
date: 2018-11-04
priority: 0.8
pageClasses:
  - 'thoughts'
layout: base
styles:
  - 'main'
  - 'thoughts/code'
---

<article class="content" itemscope itemtype="https://schema.org/BlogPosting">

<%
  const explainShell = (cmd) => `https://explainshell.com/explain?cmd=${cmd}`;
  const co = "checkout";
  const cp = "cherry-pick";
  const klean = "git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d";
  const kleanD = "git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D";
  const pap = "git pull --rebase && git push";
  const update = "git fetch --all --prune && git pull --rebase";
  const udpate = "git fetch --all --prune && git pull --rebase";
%>

<%- code(
`[branch]
  # Avoid merge commits the result from git pull
  autosetuprebase = always
  autosetupmerge = always
  # Don’t fast forward commits during a merge
  mergeoptions = --no-ff

[fetch]
  # Before fetching, remove any remote-tracking references that no longer exist on the remote.
  prune = true

[merge]
  # Don’t fast forward commits during a merge
  ff = false

[mergetool]
  # Don’t prompt before each invocation of the merge resolution program.
  prompt = false

[alias]
  # save some key strokes
  co = checkout
  cp = cherry-pick

  # remove branches that are not present in remote
  klean = !${klean}

  # remove branches that are not present in remote even if they have not been merged into master
  kleanD = !${kleanD}

  # pull and push - if you're
  pap = !${pap}

  # fetch remote, prune, and pull in one command
  update = !${update}

  # update misspell
  udpate = !${update}
`); %>

  <ul class="p">
    <li style="margin-bottom: 12px;">
      <%- externalLink('git klean explanation', {
        href: explainShell(klean),
      }) %>
    </li>
    <li>
      <%- externalLink('git kleanD explanation', {
        href: explainShell(kleanD),
      }) %>
    </li>
  </ul>

</article>