---
title: "Drawing with Microsoft Paint"
description: "If you want a place to goof around and draw. Here's your place."
date: 2018-07-18
priority: 0.8
layout: base
styles:
  - 'main'
  - 'thoughts/paint'
---

<canvas id="canvas">
  Your browser does not support the canvas tag!
</canvas>

<div class="color-pallette">
  <main-color class="color" data-color="black"></main-color>
  <color-sample class="color" data-color="black"></color-sample>
  <color-sample class="color" data-color="white"></color-sample>
  <color-sample class="color" data-color="grey"></color-sample>
  <color-sample class="color" data-color="red"></color-sample>
  <color-sample class="color" data-color="orange"></color-sample>
  <color-sample class="color" data-color="yellow"></color-sample>
  <color-sample class="color" data-color="blue"></color-sample>
  <color-sample class="color" data-color="green"></color-sample>
  <color-sample class="color" data-color="indigo"></color-sample>
  <color-sample class="color" data-color="violet"></color-sample>
</div>

<div class="stroke-size-pallette">
  <main-stroke></main-stroke>
  <input id='stroke-slider' type="range" min="1" max="20" value="5" step="1">
</div>