---
title: "CSS Only: How Do You Change the Style of the Elements You're NOT Hovering Over?"
description: "This one is kind of a finicky CSS trick, but the solution is pretty simple."
date: 2022-07-03
priority: 0.8
pageClasses:
  - 'thoughts reverse-hover-state'
layout: base
styles:
  - 'main'
  - 'thoughts/reverse-hover-state'
---

<section>
  <div class="container">
    <header>
      <h2>Hover over any of these squares</h2>
    </header>
  </div>
  <div class="container cards-container">
    <% for(let i = 0; i < 21; i++) { %>
      <card></card>
    <% } %>
  </div>
</section>

<section>
  <div class="container">
    <header>
      <h2>The Code</h2>
    </header>
    <header>
      <h3>HTML</h3>
    </header>
    <%- code(`<div class="container">
  <div class="card" ></div>
  <div class="card" ></div>
  <div class="card" ></div>
  ...
</div>`, { language: 'html' }); %>
    <header>
      <h3>SCSS</h3>
    </header>
    <%- code(`.container {
  pointer-events: none;
}
.container:hover .card {
  /* unique-style */
  opacity: 0.2;
}
.card {
  pointer-events: all;
  /* default-style */
  opacity: 1;
}
.container:hover .card:hover {
  /* default-style */
  opacity: 1;
}`, { language: 'css' }); %>
  </div>
</section>
