---
title: "Sound Slider"
description: "Sound Slider"
date: 2018-12-06
priority: 0.8
layout: base
styles:
  - 'main'
  - 'thoughts/sound-slider'
scripts:
  - 'thoughts/sound-slider/index'
---

<script>
  window.soundSlider = `<div class="sound-slider">
    <button value="play" class="play-pause">â¯<span class='play'>Play</span><span class='pause'>Pause</span></button>
    <button value="remove">&times;</button>
    <input class="hertz-slider" type="range" min="0" max="20000" value="20" step="0.01" />
    <input class="hertz-input" type='number' min="0" max="20000" value="20" step="0.01"/>
  </div>`;
</script>

<div class="content">
  <p>
    Human Hearing is between 20 Hz and 20,000 Hz.
  </p>
</div>

<div class="content" id="slider-holder">
  <button value="add">+</button>
</div>