---
title: "Sticky Stacking Navigation Bars"
description: ""
date: 2022-01-30
priority: 0.8
pageClasses:
  - 'thoughts sticky-stacky'
layout: base
styles:
  - 'main'
---

<div class="sticky-container h3">
  <nav class="default-styles">What is sticky stacking behavior?</nav>
</div>

<section>
  <div class="content">
    <p></p>
  </div>
</section>

<div class="sticky-container h3">
  <nav class="default-styles">How does that work?</nav>
</div>

<section>
  <div class="content">
    <p>
      <%- lazyImage({
        src: '/images/thoughts/sticky-stacky/architecture.svg',
      }) %>
    </p>
  </div>
</section>

<div class="sticky-container h3">
  <nav class="default-styles">The markup</nav>
</div>

<section>
  <div class="content">
    <%- code(`<div class="sticky-container">
  <nav>Sticky Nav Element</nav>
</div>`, { language: 'html' }) %>
  </div>
</section>

<div class="sticky-container h3">
  <nav class="default-styles">CSS Styles</nav>
</div>

<section>
  <div class="content">
    <%- code(getFileContents('/styles/modules/_sticky-stacky.scss'), { language: 'css' }) %>
  </div>
</section>

<div class="sticky-container h3">
  <nav class="default-styles">Javascript functions</nav>
</div>

<section>
  <div class="content">
    <%- code(getFileContents('/js/_modules/sticky-stacky.js'), { language: 'javascript' }) %>
  </div>
</section>
</section>