---
title: "Sticky Stacking Navigation Bars"
description: ""
date: 2022-01-30
priority: 0.8
pageClasses:
  - 'thoughts sticky-stacky'
layout: base
styles:
  - 'main'
---

<div class="sticky-container h3">
  <nav class="default-styles">What is sticky stacking behavior?</nav>
</div>

<section>
  <div class="content">
    <p></p>
  </div>
</section>

<div class="sticky-container h3">
  <nav class="default-styles">How does that work?</nav>
</div>

<section>
  <div class="content">
    <p>
      <%- lazyImage({
        src: '/images/thoughts/sticky-stacky/architecture.svg',
      }) %>
    </p>
  </div>
</section>

<div class="sticky-container h3">
  <nav class="default-styles">Would it hurt to</nav>
</div>

<section>
  <div class="content">
    <p></p>
  </div>
</section>