---
title: "Ten Star Movies"
description: "I've been watching movies my whole life. I enjoy them quite a lot. I use IMDb to rate movies, so I use their ten star system. Here is a list of movies that I have rated at ten stars."
date: 2016-11-16
priority: 0.8
css: ['ten-star-movies']
layout: base
styles:
  - 'main'
  - 'thoughts/ten-star-movies'
---


<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
  <section id="interstellar" class="movie">
    <div class="content">
      <header>
        <h2>Interstellar</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/interstellar.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2014</li>
        <li>Rating: 8.6/10</li>
        <li>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</li>
        <li>Director: Christopher Nolan</li>
        <li>Writers: Jonathan Nolan, Christopher Nolan</li>
        <li>Stars: Matthew McConaughey, Anne Hathaway, Jessica Chastain</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0816692/"
         title="IMDB: Interstellar"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-shawshank-redemption" class="movie">
    <div class="content">
      <header>
        <h2>The Shawshank Redemption</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-shawshank-redemption.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 1994</li>
        <li>Rating: 9.3/10</li>
        <li>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</li>
        <li>Director: Frank Darabont</li>
        <li>Writers: Stephen King (short story "Rita Hayworth and Shawshank Redemption"), Frank Darabont (screenplay)</li>
        <li>Stars: Tim Robbins, Morgan Freeman, Bob Gunton</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0111161/"
         title="IMDB: The Shawshank Redemption"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="inception" class="movie">
    <div class="content">
      <header>
        <h2>Inception</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/inception.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2010</li>
        <li>Rating: 8.8/10</li>
        <li>A thief, who steals corporate secrets through use of dream-sharing technology, is given the inverse task of planting an idea into the mind of a CEO.</li>
        <li>Director: Christopher Nolan</li>
        Writer: Christopher Nolan
        <li>Stars: Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt1375666/"
         title="IMDB: Inception"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="fight-club" class="movie">
    <div class="content">
      <header>
        <h2>Fight Club</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/fight-club.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 1999</li>
        <li>Rating: 8.8/10</li>
        <li>An insomniac office worker, looking for a way to change his life, crosses paths with a devil-may-care soap maker, forming an underground fight club that evolves into something much, much more.</li>
        <li>Director: David Fincher</li>
        <li>Writers: Chuck Palahniuk (novel), Jim Uhls (screenplay)</li>
        <li>Stars: Brad Pitt, Edward Norton, Meat Loaf</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0137523/"
         title="IMDB: Fight Club"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="gone-girl" class="movie">
    <div class="content">
      <header>
        <h2>Gone Girl</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/gone-girl.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2014</li>
        <li>Rating: 8.1/10</li>
        <li>With his wife's disappearance having become the focus of an intense media circus, a man sees the spotlight turned on him when it's suspected that he may not be innocent.</li>
        <li>Director: David Fincher</li>
        <li>Writers: Gillian Flynn (screenplay), Gillian Flynn (novel)</li>
        <li>Stars: Ben Affleck, Rosamund Pike, Neil Patrick Harris</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt2267998/"
         title="IMDB: Gone Girl"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-matrix" class="movie">
    <div class="content">
      <header>
        <h2>The Matrix</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-matrix.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 1999</li>
        <li>Rating: 8.7/10</li>
        <li>A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.</li>
        <li>Directors: Lana Wachowski (as The Wachowski Brothers), Lilly Wachowski (as The Wachowski Brothers)</li>
        <li>Writers: Lilly Wachowski (as The Wachowski Brothers), Lana Wachowski (as The Wachowski Brothers)</li>
        <li>Stars: Keanu Reeves, Laurence Fishburne, Carrie-Anne Moss</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0133093/"
         title="IMDB: The Matrix"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="goodfellas" class="movie">
    <div class="content">
      <header>
        <h2>Goodfellas</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/goodfellas.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 1990</li>
        <li>Rating: 8.7/10</li>
        <li>Henry Hill and his friends work their way up through the mob hierarchy.</li>
        <li>Director: Martin Scorsese</li>
        <li>Writers: Nicholas Pileggi (book), Nicholas Pileggi (screenplay)</li>
        <li>Stars: Robert De Niro, Ray Liotta, Joe Pesci</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0099685/"
         title="IMDB: Goodfellas"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="star-wars-episode-i-v-a-new-hope" class="movie">
    <div class="content">
      <header>
        <h2>Star Wars: Episode IV - A New Hope</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/star-wars-episode-i-v-a-new-hope.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 1977</li>
        <li>Rating: 8.7/10</li>
        <li>Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a wookiee and two droids to save the galaxy from the Empire's world-destroying battle-station, while also attempting to rescue Princess Leia from the evil Darth Vader.</li>
        <li>Director: George Lucas</li>
        <li>Writer: George Lucas</li>
        <li>Stars: Mark Hamill, Harrison Ford, Carrie Fisher</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0076759/"
         title="IMDB: Star Wars: Episode IV - A New Hope"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="snatch" class="movie">
    <div class="content">
      <header>
        <h2>Snatch</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/snatch.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2000</li>
        <li>Rating: 8.3/10</li>
        <li>Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers, and supposedly Jewish jewelers fight to track down a priceless stolen diamond.</li>
        <li>Director: Guy Ritchie</li>
        <li>Writer: Guy Ritchie</li>
        <li>Stars: Jason Statham, Brad Pitt, Benicio Del Toro</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0208092/"
         title="IMDB: Snatch"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="avatar" class="movie">
    <div class="content">
      <header>
        <h2>Avatar</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/avatar.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2009</li>
        <li>Rating: 7.9/10</li>
        <li>A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.</li>
        <li>Director: James Cameron</li>
        <li>Writer: James Cameron</li>
        <li>Stars: Sam Worthington, Zoe Saldana, Sigourney Weaver</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0499549/"
         title="IMDB: Avatar"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="good-will-hunting" class="movie">
    <div class="content">
      <header>
        <h2>Good Will Hunting</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/good-will-hunting.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 1997</li>
        <li>Rating: 8.3/10</li>
        <li>Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life.</li>
        <li>Director: Gus Van Sant</li>
        <li>Writers: Matt Damon, Ben Affleck</li>
        <li>Stars: Robin Williams, Matt Damon, Ben Affleck</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0119217/"
         title="IMDB: Good Will Hunting"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="star-trek-into-darkness" class="movie">
    <div class="content">
      <header>
        <h2>Star Trek Into Darkness</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/star-trek-into-darkness.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
        <li>After the crew of the Enterprise find an unstoppable force of terror from within their own organization, Captain Kirk leads a manhunt to a war-zone world to capture a one-man weapon of mass destruction.</li>
        <li>Director: J.J. Abrams</li>
        <li>Writers: Roberto Orci, Alex Kurtzman</li>
        <li>Stars: Chris Pine, Zachary Quinto, Zoe Saldana</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Star Trek Into Darkness"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="saving-private-ryan" class="movie">
    <div class="content">
      <header>
        <h2>Saving Private Ryan</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/saving-private-ryan.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
        <li>Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.</li>
        <li>Director: Steven Spielberg</li>
        <li>Writer: Robert Rodat</li>
        <li>Stars: Tom Hanks, Matt Damon, Tom Sizemore</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Saving Private Ryan"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-green-mile" class="movie">
    <div class="content">
      <header>
        <h2>The Green Mile</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-green-mile.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
        <li>The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.</li>
        <li>Director: Frank Darabont</li>
        <li>Writers: Stephen King (novel), Frank Darabont (screenplay)</li>
        <li>Stars: Tom Hanks, Michael Clarke Duncan, David Morse</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Green Mile"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-theory-of-everything" class="movie">
    <div class="content">
      <header>
        <h2>The Theory of Everything</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-theory-of-everything.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
        <li>A look at the relationship between the famous physicist Stephen Hawking and his wife.</li>
        <li>Director: James Marsh</li>
        <li>Writers: Anthony McCarten (screenplay), Jane Hawking (book)</li>
        <li>Stars: Eddie Redmayne, Felicity Jones, Tom Prior</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Theory of Everything"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="drive" class="movie">
    <div class="content">
      <header>
        <h2>Drive</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/drive.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2011</li>
        <li>Rating: 7.8/10</li>
        <li>A mysterious Hollywood stuntman and mechanic moonlights as a getaway driver and finds himself trouble when he helps out his neighbor.</li>
        <li>Director: Nicolas Winding Refn</li>
        <li>Writers: Hossein Amini (screenplay), James Sallis (book)</li>
        <li>Stars: Ryan Gosling, Carey Mulligan, Bryan Cranston</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0780504/"
         title="IMDB: Drive"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="limitless" class="movie">
    <div class="content">
      <header>
        <h2>Limitless</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/limitless.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
        <li>With the help of a mysterious pill that enables the user to access 100 percent of his brain abilities, a struggling writer becomes a financial wizard, but it also puts him in a new world with lots of dangers.</li>
        <li>Director: Neil Burger</li>
        <li>Writers: Leslie Dixon (screenplay), Alan Glynn (novel)</li>
        <li>Stars: Bradley Cooper, Anna Friel, Abbie Cornish</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Limitless"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-girl-with-the-dragon-tattoo" class="movie">
    <div class="content">
      <header>
        <h2>The Girl with the Dragon Tattoo</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-girl-with-the-dragon-tattoo.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2011</li>
        <li>Rating: 7.8/10</li>
        <li>Journalist Mikael Blomkvist is aided in his search for a woman who has been missing for forty years by Lisbeth Salander, a young computer hacker.</li>
        <li>Director: David Fincher</li>
        <li>Writers: Steven Zaillian (screenplay), Stieg Larsson (novel)</li>
        <li>Stars: Daniel Craig, Rooney Mara, Christopher Plummer</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt1568346/"
         title="IMDB: The Girl with the Dragon Tattoo"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="jurassic-park" class="movie">
    <div class="content">
      <header>
        <h2>Jurassic Park</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/jurassic-park.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Jurassic Park"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="psycho" class="movie">
    <div class="content">
      <header>
        <h2>Psycho</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/psycho.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Psycho"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="shutter-island" class="movie">
    <div class="content">
      <header>
        <h2>Shutter Island</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/shutter-island.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Shutter Island"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="v-for-vendetta" class="movie">
    <div class="content">
      <header>
        <h2>V for Vendetta</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/v-for-vendetta.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: V for Vendetta"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-incredibles" class="movie">
    <div class="content">
      <header>
        <h2>The Incredibles</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-incredibles.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Incredibles"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="up" class="movie">
    <div class="content">
      <header>
        <h2>Up</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/up.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Up"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="catch-me-if-you-can" class="movie">
    <div class="content">
      <header>
        <h2>Catch Me If You Can</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/catch-me-if-you-can.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2002</li>
        <li>Rating: 8.0/10</li>
        <li>The true story of Frank Abagnale Jr. who, before his 19th birthday, successfully conned millions of dollars' worth of checks as a Pan Am pilot, doctor, and legal prosecutor.</li>
        <li>Director: Steven Spielberg</li>
        <li>Writers: Jeff Nathanson (screenplay), Frank Abagnale Jr. (book) (as Frank W. Abagnale)</li>
        <li>Stars: Leonardo DiCaprio, Tom Hanks, Christopher Walken</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0264464/"
         title="IMDB: Catch Me If You Can"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="star-wars-episode-v-i-return-of-the-jedi" class="movie">
    <div class="content">
      <header>
        <h2>Star Wars: Episode VI - Return of the Jedi</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/star-wars-episode-v-i-return-of-the-jedi.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Star Wars: Episode VI - Return of the Jedi"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="super-8" class="movie">
    <div class="content">
      <header>
        <h2>Super 8</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/super-8.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Super 8"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="star-wars-episode-v-the-empire-strikes-back" class="movie">
    <div class="content">
      <header>
        <h2>Star Wars: Episode V - The Empire Strikes Back</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/star-wars-episode-v-the-empire-strikes-back.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Star Wars: Episode V - The Empire Strikes Back"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="raiders-of-the-lost-ark" class="movie">
    <div class="content">
      <header>
        <h2>Raiders of the Lost Ark</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/raiders-of-the-lost-ark.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Raiders of the Lost Ark"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-pianist" class="movie">
    <div class="content">
      <header>
        <h2>The Pianist</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-pianist.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Pianist"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-secret-life-of-walter-mitty" class="movie">
    <div class="content">
      <header>
        <h2>The Secret Life of Walter Mitty</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-secret-life-of-walter-mitty.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Secret Life of Walter Mitty"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="indiana-jones-and-the-last-crusade" class="movie">
    <div class="content">
      <header>
        <h2>Indiana Jones and the Last Crusade</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/indiana-jones-and-the-last-crusade.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Indiana Jones and the Last Crusade"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="sherlock-holmes" class="movie">
    <div class="content">
      <header>
        <h2>Sherlock Holmes</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/sherlock-holmes.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Sherlock Holmes"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="t-r-o-n-legacy" class="movie">
    <div class="content">
      <header>
        <h2>TRON: Legacy</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/t-r-o-n-legacy.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: TRON: Legacy"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="minority-report" class="movie">
    <div class="content">
      <header>
        <h2>Minority Report</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/minority-report.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Minority Report"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="life-of-pi" class="movie">
    <div class="content">
      <header>
        <h2>Life of Pi</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/life-of-pi.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Life of Pi"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="wall-e" class="movie">
    <div class="content">
      <header>
        <h2>WALL·E</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/wall-e.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: WALL·E"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-king-s-speech" class="movie">
    <div class="content">
      <header>
        <h2>The King's Speech</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-king-s-speech.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The King's Speech"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="saving-mr-banks" class="movie">
    <div class="content">
      <header>
        <h2>Saving Mr. Banks</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/saving-mr-banks.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: Saving Mr. Banks"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-last-samurai" class="movie">
    <div class="content">
      <header>
        <h2>The Last Samurai</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-last-samurai.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Last Samurai"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="vanilla-sky" class="movie">
    <div class="content">
      <header>
        <h2>Vanilla Sky</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/vanilla-sky.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2001</li>
        <li>Rating: 6.9/10</li>
        <li>A self-indulgent and vain publishing magnate finds his privileged life upended after a vehicular accident with a resentful lover.</li>
        <li>Director: Cameron Crowe</li>
        <li>Writers: Alejandro Amenábar (film "Abre Los Ojos"), Mateo Gil (film "Abre Los Ojos")</li>
        <li>Stars: Tom Cruise, Penélope Cruz, Cameron Diaz</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0259711/"
         title="IMDB: Vanilla Sky"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-terminal" class="movie">
    <div class="content">
      <header>
        <h2>The Terminal</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-terminal.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Terminal"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="the-adventures-of-tintin" class="movie">
    <div class="content">
      <header>
        <h2>The Adventures of Tintin</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/the-adventures-of-tintin.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: </li>
        <li>Rating: /10</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/"
         title="IMDB: The Adventures of Tintin"
         target="blank">
        Learn more
      </a>
    </div>
  </section>




  <section id="spy-game" class="movie">
    <div class="content">
      <header>
        <h2>Spy Game</h2>
      </header>
      <img src="/images/thoughts/ten-star-movies/spy-game.jpg" />
      <ul>
        <h4>IMDB info</h4>
        <li>Year: 2001</li>
        <li>Rating: 7.0/10</li>
        <li>Retiring CIA agent Nathan Muir recalls his training of Tom Bishop while working against agency politics to free him from his Chinese captors.</li>
        <li>Director: Tony Scott</li>
        <li>Writers: Michael Frost Beckner (story), Michael Frost Beckner (screenplay)</li>
        <li>Stars: Robert Redford, Brad Pitt, Catherine McCormack</li>
      </ul>
      <a itemprop="url" href="http://www.imdb.com/title/tt0266987/"
         title="IMDB: Spy Game"
         target="blank">
        Learn more
      </a>
    </div>
  </section>
</article>