---
title: "Unique Stars"
description: "Have you ever wondered how many stars can be made with a certain number of points? I can answer that here, as well as how you can calculate it."
date: 2018-02-27
priority: 0.8
pageClasses:
  - 'thoughts'
  - 'unique-stars'
layout: base
styles:
  - 'main'
  - 'thoughts/unique-stars'
---

<div class="content">

  <p>First, we must define what a star is.</p>

  <p>A star is made up of lines that intersect when drawn between points to make a symmetrical geographic shape. There are a number of points (n) that are placed in a circle equidistant from a central point, and spaced evenly apart from each other. The lines are drawn, starting from the top-most point, in a circular pattern around the points, skipping the same number of points each time.</p>

  <p>For instance, to draw a traditional 5 pointed star, you start at the top. Drawing a line that 'corners' on every other point. Meaning, every second point is skipped. i.e. The points you connect, in order, are as follows: 1, 3, 5, 2, 4, 1.</p>

  <p>
    Here are the simple rules.
    <list>
      <item>
        1. The lines on a star must cross. A pentagon is not a star.
      </item>
      <item>
        2. Unique, means one-of-a-kind. So drawing a mirror image across the vertical plane, is not
      </item>
      <item>
        3. A star is made of one continuous line. You can draw it without picking up your pencil. So, in this case, the star of David is not a star as it is two triangles.
      </item>
    </list>
  </p>

  <p>Now, try some out! There are no stars with less than 5 points, and your computer will freeze if you try to calculate more than 20,000 point stars. The square brackets at the bottom will list the skip pattern you can follow to draw the various stars. Send me a picture of your 20,000 pointed star with a skip pattern of 9,999!</p>

  <form class="center">
    <span>Number of points (5 - 20,000):</span>
    <input id="n" type="number" value="5" min="5" max="20000" step="1" />
    <span id="up-and-down">
      <button type="button" value="1">&#x25B2;</button>
      <button type="button" value="-1">&#x25BC;</button>
    </span>
  </form>

  <p class="center">
    <answer></answer>
    <answer-array></answer-array>
  </p>

</div>

<canvas id='star'></canvas>
