---
title: 'Yahtzee'
description: 'I wanted to see if I could make a Yahtzee game that emulates truly random rolls.'
date: 2020-12-18
priority: 0.8
pageClasses:
  - 'thoughts yahtzee'
layout: base
styles:
  - 'main'
  - 'thoughts/yahtzee'
---

<div class="content">
  <p>
    I play a Yahtzee knock off on my phone, and it is clearly making adjustments because there are levels of difficulty. I like creating games (check out <a href="/thoughts/minesweeper/">minesweeper</a>) and this one seemed like a fun challenge. It's a dice game, and my focus was on getting the logic down. So, enjoy!
  </p>
  <p>
    According to <a href="https://en.wikipedia.org/wiki/Yahtzee">Wikipedia</a>, Yahtzee is owned by <a href="https://shop.hasbro.com/en-us">Hasbro</a> and they have an
    <a href="https://play.google.com/store/apps/details?id=com.scopely.yux&hl=en_US&gl=US">Android app</a> and an
    <a href="https://apps.apple.com/us/app/yahtzee-with-buddies-dice/id1206967173">iOS app</a>. Check out a higher quality gaming experience there.
  </p>
</div>

<div class="content game-container">
  <button type=button id=roll data-rolls-left=3>Roll</button>

  <div id=dice>
    <% for (let i = 0; i < 5; i++) { %>
      <button type="button" id="die-<%- i %>" value="0">0</button>
    <% } %>
  </div>

  <div id=score-board data-rolls-left=3>
    <div class="column">
      <div id=ones>
        <label title="Groups of Ones">Ones</label>
        <button type=button class=score>0</button>
      </div>
      <div id=twos>
        <label title="Groups of Twos">Twos</label>
        <button type=button class=score>0</button>
      </div>
      <div id=threes>
        <label title="Groups of Threes">Threes</label>
        <button type=button class=score>0</button>
      </div>
      <div id=fours>
        <label title="Groups of Fours">Fours</label>
        <button type=button class=score>0</button>
      </div>
      <div id=fives>
        <label title="Groups of Fives">Fives</label>
        <button type=button class=score>0</button>
      </div>
      <div id=sixes>
        <label title="Groups of Sixes">Sixes</label>
        <button type=button class=score>0</button>
      </div>
      <div id=kind-total>
        <label title="Total of the above">Total</label>
        <div class=score>0</div>
      </div>
      <div id=bonus>
        <label title="Extra 35 points if totals are greater than 62">Bonus</label>
        <div class=score>0</div>
      </div>
    </div>

    <div class="column">
      <div id=three-kind>
        <label title="3 or more of the same number">Three of a kind</label>
        <button type=button class=score>0</button>
      </div>
      <div id=four-kind>
        <label title="4 or more of the same number">Four of a kind</label>
        <button type=button class=score>0</button>
      </div>
      <div id=small-straight>
        <label title="4 sequential numbers">Small Straight</label>
        <button type=button class=score>0</button>
      </div>
      <div id=large-straight>
        <label title="5 sequential numbers">Large Straight</label>
        <button type=button class=score>0</button>
      </div>
      <div id=full-house>
        <label title="2 of one number, 3 of another number">Full House</label>
        <button type=button class=score>0</button>
      </div>
      <div id=wild>
        <label title="Any combination">Wild</label>
        <button type=button class=score>0</button>
      </div>
      <div id=yahtzee>
        <label title="5 of the same number">Yahtzee</label>
        <button type=button class=score>0</button>
      </div>
    </div>
  </div>

  <div id=total><label>Grand total:</label><span class=score>0</span></div>
</div>