main.index {
  @import "modules/thoughts-list";

  .last-fm-module {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .item {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 $s2 $s4;

    .name {
      display: block;
      @include font-size(6);
      font-family: $sans-serif;
      font-weight: 700;
      color: $black;
    }
  }
}
