main.index {
  @import "modules/thoughts-list";

  #ember-app {
    overflow: hidden;
  }

  ul {
    overflow: hidden;
  }

  .albums {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .album-tile {
    width: 100%;
    max-width: 320px;
    margin-bottom: $s8;
    text-align: center;
    margin: 0 $s2 $s8;
  }

  a.see-more {
    text-align: center;
    display: inline-block;
    padding: 0 $s6;
    border: 1px solid;
    text-decoration: none;
    line-height: 60px; // override
  }

  section.thoughts {
    margin-top: $s16;
  }
}
