#ember-app {
  overflow: hidden;
}

main.index {

  ul {
    overflow: hidden;
  }

  .album-tile,
  li.podcast,
  li.movie {
    width: 49%;
    float: left;
    margin-bottom: 30px;
    text-align: center;

    &:nth-child(2n+1) {
      clear: left;
      margin-right: 2%;
    }
  }

  a.see-more {
    text-align: center;
    display: inline-block;
    padding: 0 1em;
    border: 1px solid;
    line-height: 3;
    text-decoration: none;
  }
}