@import "system/utilities";
@import "./modules/youtube-modal";

$width: 560;
$height: 315;
$aspectRatio: $height / $width;

@keyframes logo-hue {
  0% {
    filter: hue-rotate(0deg);
  } 100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes logo-rotate {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}


.coyote-drums {
  &.main-header {
    margin-bottom: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .videos {
    position: relative;
    padding-bottom: $s6;

    &::after {
      background-image: url(/images/coyote-drums/logo.svg);
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.05;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .content.description {
    display: none;
  }

  .coyote-drums-logo {
    width: css-min(100%, 400px);
    margin: $s6 auto;

    animation-name: logo-hue;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    #drum {
      animation-name: logo-rotate;
      animation-duration: 40s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      transform-origin: center center;
    }

    body.no-animations &,
    body.no-animations & #drum {
      animation-delay: 100s;
    }
  }

  .video-container {
    margin-bottom: $s6;
    @include content-width;

    @include mq($content-max-width) {
      height: calc(var(--aspect-ratio) * #{$content-max-width});
      padding-top: 0 !important;
    }
  }

  .social-icon {
    margin-bottom: $s2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: $s3;
    box-shadow: inset 0 0 0 1px #{$palette--primary-text-color--dark}, 0 0 0 1px #{$palette--primary-color-text--white};
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .social-profile {
    @include block-link;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: $s2;
    width: 150px;
    padding-top: $s3;
  }

  .video-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;

    @include mq(700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &:not(.playlists) {
      @include mq(900px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .yt-modal-trigger {
    padding: $s2;
  }
}
