@import 'lib/_base-styles';

main.home {
  @import "modules/thoughts-list";

  header.content {
    display: none;
  }

  .intro {
    padding-top: 0;
    margin-top: 0;
  }

  .content header p {
    margin-bottom: $s6;
  }

  @import "thoughts/last-fm";

  .last-fm-module {
    margin-bottom: 48px;
  }
}
