@import 'system/utilities';
@import "./modules/contributions";

main.home {
  @import "modules/thoughts-list";
  @import "thoughts/last-fm";

  margin-top: $section-spacer;

  .last-fm-module {
    margin-top: $s5;
  }

  [data-card-id="google-store"] img {
    background-color: white;
  }

  .deck {
    margin-bottom: $paragraph-bottom;
  }
}
