@import "./lib/normalize";
@import "./lib/base-styles";

@import "./index";
@import "./four-oh-four";

@import "./modules/header";
@import "./modules/footer";

.clearfix {
  overflow: auto;
  clear: both;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  position: relative;
  font-family: $serif;
  color: $black;
  overflow-x: hidden;

  ::selection {
    background: $black;
    color: $cloud;
    @include text-shadow(none);
  }
  ::-moz-selection {
    background: $black;
    color: $cloud;
    @include text-shadow(none);
  }
}

body {
  line-height: 1.3;
  @include font-size(16);
  overflow-x: hidden;
  width: 100%;

  main {
    background-color: white;
    z-index: 1;
    position: relative;
    @include transition(right 0.2s ease);
    right: 0;
  }
}

main {
  overflow: hidden;
  margin: auto;
  padding-top: 30px;

  section {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
  }
}

section {
  max-width: 1280px;
}

.content {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;

  @include mq(768px) {
    padding: 0 30px;
    @include font-size(24);
  }
}

* {
  @include box-sizing(border-box);
}

h1, h2, h3 {
  font-weight: 700;
  font-family: $sans-serif;
  text-align: center;

  a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

a,
a:visited {
  color: $purple;

  &:hover,
  &:focus,
  &:active {
    color: inherit;

    img {
      @include filter(saturate(50%));
    }
  }

  img {
    @include filter(saturate(100%));
    transition: filter 0.2s ease;
    -webkit-transition: -webkit-filter 0.2s ease;
    -moz-transition: -moz-filter 0.2s ease;
    -o-transition: -o-filter 0.2s ease;
    -ms-transition: -ms-filter 0.2s ease;
  }
}

h1 {
  @include font-size(48);
  margin-bottom: 0.5em;
}

h2 {
  @include font-size(30);
  margin-bottom: 0.5em;
}

h3 {
  @include font-size(24);
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 1em;
  @include font-size(20);

  a {
    position: relative;
    text-decoration: none;
    color: $purple;

    &:before {
      position: absolute;
      bottom: 0;
      content: '';
      height: 1px;
      background: $purple;
      left: 51%;
      right: 51%;
      @include transition(left .2s ease, right .2s ease);
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        left: 0;
        right: 0;
      }
    }
  }
}

select {
  border-radius: 4px;
  background: $white;
  border: 1px solid $coin;
}

label {
  @include font-size(12);
  line-height: 25px;
  padding: 0 13px;
  font-family: $sans-serif;
}

button, select {
  font-family: $sans-serif;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $coin;
  @include font-size(12);
  line-height: 25px;
  padding: 0 13px;
  @include transition(background-color .2s ease);
}

select {
  @include appearance(menulist);
}

button {
  &:hover,
  &:focus,
  &:active {
    background-color: $flint;
  }
}

a, button, input, select, textarea {
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}

cite {
  float: right;

  &:before {
    display: inline;
    content: '-';
  }
}

blockquote {
  padding: 10px 10px;
  background-color: $cloud;
  overflow: hidden;
  max-width: 500px;
  margin: auto;

  &:after,
  &:before {
    content: '"';
  }
}

.center {
  text-align: center;
}

list {
  padding-left: 1em;
  margin-bottom: 1em;
}

list, item {
  display: block;
}

item {
  margin-top: 1em;
}