@import "./lib/normalize";
@import "./lib/base-styles";

@import "./index";
@import "./four-oh-four";

@import "./modules/header";
@import "./modules/footer";

.clearfix {
  overflow: auto;
  clear: both;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  position: relative;
  font-family: $serif;
  color: $black;
  overflow-x: hidden;

  ::selection {
    background: $black;
    color: $cloud;
    @include text-shadow(none);
  }
  ::-moz-selection {
    background: $black;
    color: $cloud;
    @include text-shadow(none);
  }
}

body {
  line-height: 1.3;
  @include font-size(13);
  overflow-x: hidden;
  width: 100%;

  .main-header,
  main {
    background-color: white;
    z-index: 1;
    position: relative;
    @include transition(right 0.2s ease);
    right: 0;
  }

  &.nav-active {
    overflow: hidden;
    height: 100vh;

    .main-header,
    main {
      right: 200px;
    }
  }
}

main {
  overflow: hidden;
  margin: auto;
  padding-top: 30px;

  section,
  header.content {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
  }
}

section {
  max-width: 1280px;
}

.content {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
  @include font-size(15);

  @include mq(768px) {
    padding: 0 30px;
    @include font-size(18);
  }
}

* {
  @include box-sizing(border-box);
  border-radius: 3px;
}

h1, h2, h3 {
  font-weight: 700;
  font-family: $sans-serif;
  text-align: center;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

a,
a:visited {
  color: $violet;

  &:hover {
    color: inherit;
  }
}

h1 {
  @include font-size(50);
  margin-bottom: 0.5em;
}

h2 {
  @include font-size(30);
  margin-bottom: 0.5em;
}

h3 {
  @include font-size(20);
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

p {
  max-width: 600px;
  margin: auto;
  text-align: justify;
  margin-bottom: 1em;
}

select {
  border-radius: 4px;
  background: $white;
  border: 1px solid $coin;
}

label {
  @include font-size(13);
  line-height: 25px;
  padding: 0 13px;
  font-family: $sans-serif;
}

button, select {
  font-family: $sans-serif;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $coin;
  @include font-size(13);
  line-height: 25px;
  padding: 0 13px;
  @include transition(background-color .2s ease);
}

select {
  @include appearance(menulist);
}

button {
  &:hover {
    background-color: $flint;
  }
}

a, button, input, select, textarea {
  cursor: pointer;
}

.error {
  color: red;
}
