@import "./lib/normalize";
@import "./lib/base-styles";

@import "./four-oh-four";

@import "./modules/header";
@import "./modules/footer";

.clearfix {
  overflow: auto;
  clear: both;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  position: relative;
  font-family: $serif;
  background-color: $google-white;
  color: $primary-text-color;
  overflow-x: hidden;

  @include dark-mode {
    background-color: $primary-text-color;
    color: $primary-color-text;
  }

  ::selection,
  ::-moz-selection {
    background-color: $primary-text-color;
    color: $primary-color-text;
    text-shadow: none;

    @include dark-mode {
      background-color: $google-white;
      color: $primary-text-color;
    }
  }
}

body {
  @include font-size();
  overflow-x: hidden;
  width: 100%;

  @include mq($tablet) {
    @include font-size(3);
  }

  main {
    z-index: 1;
    position: relative;
    transition-property: right;
    right: 0;
  }
}

main {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

section {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $s5;
  overflow: hidden;
  @include font-size(3);

  @include mq($tablet) {
    padding: 0 $s8;
    @include font-size(3);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: $bold;
  font-family: $sans-serif;
  text-align: center;

  a,
  a:visited {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

a,
a:visited,
.link {
  padding: 0 $s1;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition-property: color, background-color;
  color: $primary-color-text;
  background-color: var(--primary-color, #{$primary-color});

  @include dark-mode {
    background-color: var(--primary-color-dark, #{$primary-color-dark});
  }

  &::before {
    position: absolute;
    bottom: 0;
    height: 1px;
    content: "";
    left: 51%;
    right: 51%;
    transition-property: left, right;
    background-color: var(--primary-color, #{$primary-color});

    @include dark-mode {
      background-color: var(--primary-color-dark, #{$primary-color-dark});
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--primary-color-dark, #{$primary-color-dark});

    @include dark-mode {
      background-color: var(--primary-color, #{$primary-color});
    }

    &::before {
      left: 0;
      right: 0;
      transition-duration: $transition-speed;
      transition-timing-function: ease;
    }

    img {
      filter: hue-rotate(180deg);
      transform: scale(.98);
    }
  }

  img {
    filter: hue-rotate(0deg);
    transform: scale(1);
    transition-property: filter, transform;
  }

}

header.content {
  padding-bottom: $s6;

  p {
    margin-bottom: 0;
  }
}

a.button,
a:visited.button,
button.button {
  text-align: center;
  display: inline-block;
  padding: $s2 $s6;
  border-radius: $border-radius;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: $bold;
  transition-property: background-color;
  color: $primary-color-text;
  background-color: var(--primary-color, #{$primary-color});

  @include dark-mode {
    background-color: var(--primary-color-dark, #{$primary-color-dark});
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--primary-color-dark, #{$primary-color-dark});

    @include dark-mode {
      background-color: var(--primary-color, #{$primary-color});
    }
  }

  &::before {
    height: 0;
  }
}

h1 {
  @include font-size(5);
  margin-bottom: $s6;
}

h2 {
  @include font-size(5);
  margin-bottom: $s4;
}

h3 {
  @include font-size(4);
  margin-bottom: $s2;
}

img {
  max-width: 100%;
}

p,
.p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $s6;
  @include font-size(3);

  &:last-child {
    margin-bottom: 0;
  }
}

select {
  appearance: menulist;
  border-radius: $border-radius;
  background-color: $google-grey-50;
  border: 1px solid $divider-color;
}

date {
  text-align: right;
  display: block;
  font-weight: $bold;
}

label {
  @include font-size(3);
  padding: 0 $s3;
  font-family: $sans-serif;
}

button, select {
  font-family: $sans-serif;
  border-radius: $border-radius;
  color: $primary-text-color;
  border: 1px solid $divider-color;
  @include font-size(3);
  line-height: 25px; // override
  padding: 0 $s3;
}

button {
  color: $primary-color-text;
  background-color: var(--primary-color, #{$primary-color});

  &:hover,
  &:active,
  &:focus {
    background-color: var(--primary-color-dark, #{$primary-color-dark});
  }
}

a, button, input, select, textarea {
  cursor: pointer;
  text-decoration: none;
  outline-color: var(--accent-color, #{$accent-color});
  transition-duration: $transition-speed;
  transition-timing-function: ease;
}

input[type=number],
input[type=text] {
  border: none;
  box-shadow: inset 0 0 0 1px;
  font-size: inherit;
  line-height: inherit;
}

.error {
  color: red;
  text-align: center;
}

cite {
  float: right;

  &::before {
    display: inline;
    content: '-';
  }
}

blockquote {
  padding: $s5 $s5;
  overflow: hidden;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $s6;
  @include font-size(3);
  background-color: var(--primary-color-light, #{$primary-color-light});
  color: $primary-text-color;

  @include dark-mode {
    background-color: var(--primary-color-dark, #{$primary-color-dark});
    color: $primary-color-text;
  }

  &::after,
  &::before {
    content: '"';
  }

  cite a {
    @include font-size();
    text-decoration: none;
  }
}

.center {
  text-align: center;
  justify-content: center;
}

strong {
  font-weight: $bold;
}

list {
  padding-left: $s6;
  margin-bottom: $s6;
}

list, item {
  display: block;
}

item {
  margin-top: $s6;
}

@each $name, $pallette in $pallettes {
  @each $key, $value in $pallette {
    html.#{$name} {
      --#{$key}: #{$value};
    }
  }
};
