@import "./lib/normalize";
@import "./lib/base-styles";

@import "./index";
@import "./four-oh-four";

@import "./modules/header";
@import "./modules/footer";

.clearfix {
  overflow: auto;
  clear: both;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  position: relative;
  font-family: $serif;
  color: $black;
  overflow-x: hidden;
  background-color: $white;

  ::selection {
    background: $black;
    color: $cloud;
    @include text-shadow(none);
  }
  ::-moz-selection {
    background: $black;
    color: $cloud;
    @include text-shadow(none);
  }
}

body {
  @include font-size();
  overflow-x: hidden;
  width: 100%;

  @include mq($tablet) {
    @include font-size(5);
  }

  main {
    z-index: 1;
    position: relative;
    @include transition(right 0.2s ease);
    right: 0;
  }
}

main {
  overflow: hidden;
  margin: auto;
  padding-top: $s8

  section {
    padding-top: $s10;
    padding-bottom: $s10;
  }
}

section {
  max-width: 1280px;
  margin: auto;
}

.content {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 0 $s5;
  overflow: hidden;
  @include font-size(5);

  @include mq($tablet) {
    padding: 0 $s8;
    @include font-size(5);
  }
}

* {
  @include box-sizing(border-box);
}

h1, h2, h3 {
  font-weight: 700;
  font-family: $sans-serif;
  text-align: center;

  a,
  a:visited {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

a,
a:visited {
  color: $purple;

  &:hover,
  &:focus,
  &:active {
    color: inherit;

    img {
      @include filter(hue-rotate(180deg));
      @include transform(scale(1.05));
    }
  }

  img {
    @include filter(hue-rotate(0deg));
    @include transform(scale(1));
    transition: filter 0.2s ease, transform 0.2s ease;
    -webkit-transition: -webkit-filter 0.2s ease, -webkit-transform 0.2s ease;
    -moz-transition: -moz-filter 0.2s ease, -moz-transform 0.2s ease;
    -o-transition: -o-filter 0.2s ease, -o-transform 0.2s ease;
    -ms-transition: -ms-filter 0.2s ease, -ms-transform 0.2s ease;
  }
}

h1 {
  @include font-size(12);
  margin-bottom: $s3;
}

h2 {
  @include font-size(8);
  margin-bottom: $s3;
}

h3 {
  @include font-size(6);
  margin-bottom: $s3;
}

img {
  max-width: 100%;
}

p {
  max-width: 600px;
  margin: auto;
  margin-bottom: $s6;
  @include font-size(5);

  a,
  a:visited {
    position: relative;
    text-decoration: none;
    color: $purple;

    &:before {
      position: absolute;
      bottom: 0;
      content: '';
      height: 1px;
      background: $purple;
      left: 51%;
      right: 51%;
      @include transition(left .2s ease, right .2s ease);
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        left: 0;
        right: 0;
      }
    }
  }
}

select {
  border-radius: $base-unit;
  background: $white;
  border: 1px solid $coin;
}

label {
  @include font-size(4);
  padding: 0 $s3;
  font-family: $sans-serif;
}

button, select {
  font-family: $sans-serif;
  border-radius: $s1;
  background-color: $white;
  border: 1px solid $coin;
  @include font-size(4);
  line-height: 25px; // override
  padding: 0 $s3;
  @include transition(background-color .2s ease);
}

select {
  @include appearance(menulist);
}

button {
  &:hover,
  &:focus,
  &:active {
    background-color: $flint;
  }
}

a, button, input, select, textarea {
  cursor: pointer;
  text-decoration: none;
}

.error {
  color: red;
  text-align: center;
}

cite {
  float: right;

  &:before {
    display: inline;
    content: '-';
  }
}

blockquote {
  padding: $s2 $s2;
  background-color: $cloud;
  overflow: hidden;
  max-width: 500px;
  margin: auto;
  @include font-size(5);

  &:after,
  &:before {
    content: '"';
  }

  cite a {
    @include font-size();
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

list {
  padding-left: $s6;
  margin-bottom: $s6;
}

list, item {
  display: block;
}

item {
  margin-top: $s6;
}