@import "system/utilities";

$squareSize: 768;

canvas {
  width: $squareSize + px;
  height: $squareSize + px;
  margin: auto;
  border: 2px solid $palette--divider-color;
  max-width: 90vw;
  max-height: 90vw;
  display: block;
}

input {
  display: block;
  flex-grow: 1;
}

.form {
  display: flex;
  max-width: $squareSize + px;
  margin: $s10 auto 0;
  align-items: center;
}

#play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  padding-top: 0;

  img {
    border-radius: 0;
  }

  &.play {
    .play {
      display: none;
    }
  }

  &:not(.play) {
    .pause {
      display: none;
    }
  }
}
