@import "system/utilities";

@mixin ds-box-shadow {
  box-shadow: 0 0 12px black;
}

.palette {

  li {
    span {
      display: block;
      width: 50px;
      height: 50px;
      @include ds-box-shadow;
    }
  }

  .primary-white span {
    background-color: $palette--primary-white;
  }
  .primary-grey span {
    background-color: $palette--primary-grey;
  }
  .secondary-grey span {
    background-color: $palette--secondary-grey;
  }
  .hover-grey span {
    background-color: $palette--hover-grey;
  }
  .divider-color span {
    background-color: $palette--divider-color;
  }
  .error-color span {
    background-color: $palette--error;
  }
  .primary-color-dark span {
    background-color: $palette--primary-color-dark;
  }
  .primary-color-light span {
    background-color: $palette--primary-color-light;
  }
  .accent-color span {
    background-color: $palette--accent-color;
  }
  [class^="palette--"] {
    padding: $s1;
    @include ds-box-shadow;
  }
  .palette--base {
    @include palette--base;
  }
  .palette--base--inverted {
    @include palette--base--inverted;
  }
  .palette--primary {
    @include palette--primary;
  }
  .palette--header {
    @include palette--header;
  }
  .palette--orange-gradient {
    @include orange-gradient;
  }
}

.defaults {
  .container div {
    @include palette--base--inverted;
    @include ds-box-shadow;
    text-align: center;
    padding: $s1 0;
    margin: 0 auto $paragraph-bottom;
  }
  .content-max-width {
    width: css-min(100%, $content-max-width);
  }
  .full-bleed {
    width: css-min(100%, $full-bleed);
  }
  .full-width-small {
    width: css-min(100%, $full-width-small);
  }
  .full-width-medium {
    width: css-min(100%, $full-width-medium);
  }
}

.viewports {
  .container div {
    @include palette--base--inverted;
    @include ds-box-shadow;
    text-align: center;
    padding: $s1 0;
    margin: 0 auto $paragraph-bottom;
  }
  .small {
    width: css-min(100%, $small);
  }
  .medium {
    width: css-min(100%, $medium);
  }
  .large {
    width: css-min(100%, $large);
  }
}

.fonts {
  .serif-regular {
    @include type--regular-serif;
  }
  .serif-bold {
    @include type--bold-serif;
  }
  .sans-serif-regular {
    @include type--regular-sans-serif;
  }
  .sans-serif-bold {
    @include type--bold-sans-serif;
  }
}

.type {
  .type--headings {
    @include type--headings;
  }
  .type--title {
    @include type--title;
  }
  .type--heading-1 {
    @include type--heading-1;
  }
  .type--heading-2 {
    @include type--heading-2;
  }
  .type--heading-3 {
    @include type--heading-3;
  }
  .type--heading-4 {
    @include type--heading-4;
  }
  .type--heading-5 {
    @include type--heading-5;
  }
  .type--heading-6 {
    @include type--heading-6;
  }
  .type--body {
    @include type--body;
  }
  .type--body-small {
    @include type--body-small;
  }
  .type--body-tiny {
    @include type--body-tiny;
  }
  .italic {
    @include italic;
  }
}
