@import "system/utilities";

#bar {
  border: 1px solid white;
}

.more {
  margin: auto;
}

p {
  @include paragraph-margin;
}

.resources {
  a {
    margin-bottom: 4px;
  }
}

.year-selector-container {
  @include sixHundred;
  @include paragraph-margin;
}

#albums, #artists, #yearly-scrobbles {
  @include sixHundred;

  display: grid;
  gap: $s2;
}

#albums, #artists {
  gap: $s5;
  margin-bottom: $s10;
}
