@import "system/utilities";

.last-fm-module {
  display: grid;
  grid-gap: $s6;

  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $s1 / 2;
    grid-gap: $s3;
    border: none;
    padding: $s1;
    text-decoration: none;

    @include palette--base;

    &.album {
      grid-template-columns: 1fr 100px;
    }

    @include link-hover;
    @include link-focus;

    &:focus {
      border: none;
      box-shadow: 0 0 0 2px $palette--primary-grey, 0 0 0 4px $palette--secondary-grey;
    }

    .name {
      font-family: $sans-serif;
      font-weight: $bold;
    }

    .scrobbles {
      font-family: $serif;
    }

    bar {
      display: block;
      height: $s2;
      margin-top: $s1;
      transition-property: background-color;
      @include orange-gradient;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  .info {
    display: grid;
    position: relative;
  }
}
