@import "system/utilities";

.lissajous-curve-container {
  $a-color: #a55;
  $b-color: #5a5;

  position: relative;
  overflow: hidden;
  max-width: 90vw;
  max-height: 90vw;
  height: 90vh;
  width: 90vh;
  margin: auto;

  .ax-line, .ay-line, .bx-line, .by-line, .a-circle, .b-circle, .a-label, .b-label {
    position: absolute;
    z-index: 1;
    opacity: .1;
    transition: opacity $transition-speed $transition-timing;
  }

  &:hover {
    .ax-line, .ay-line, .bx-line, .by-line, .a-circle, .b-circle, .a-label, .b-label {
      opacity: .6;
    }
  }

  .ax-line,
  .bx-line {
    width: 1px;
  }

  .ax-line,
  .ay-line {
    background-color: $a-color;
  }

  .ay-line,
  .by-line {
    height: 1px;
  }

  .bx-line,
  .by-line {
    background-color: $b-color;
  }

  .a-circle, .b-circle {
    width: 40%;
    height: 40%;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
  }

  .a-circle {
    top: 5%;
    right: 5%;
    border-color: $a-color;
  }

  .b-circle {
    bottom: 5%;
    left: 5%;
    border-color: $b-color;
  }

  .a-label {
    top: 5%;
    right: 5%;
    color: $a-color;
  }

  .b-label {
    bottom: 5%;
    left: 5%;
    color: $b-color;
  }
}

canvas {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
