@import "system/utilities";


canvas {
  width: 100vw;
  height: calc(100vh - 100px);
  border: 2px solid $palette--divider-color;
}

form {
  &,
  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    margin-right: $s2;
  }
}
