@import "system/utilities";
@import "modules/code";

.cards-container {
  display: flex;
  pointer-events: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  card {
    display: block;
    width: 100px;
    height: 100px;
    background-color: $palette--primary-color-dark;
    margin: $s2;
    pointer-events: all;

    opacity: 1;
    transition-property: opacity;
    transition-duration: $transition-speed;
    transition-timing-function: $transition-timing;
  }

  &:hover {
    card {
      opacity: 0.2;

      &:hover {
        opacity: 1;
      }
    }
  }
}
