@import "system/utilities";

sound-pad {
  display: block;
}

pad-component {
  display: block;
  width: 100%;
  height: 400px;

  display: block;
  border: 2px solid $palette--divider-color;
  margin: $s6 auto 0;
}