@import "system/utilities";

.sound-slider {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: $s2;
  border: 1px solid;
  @include paragraph;

  + .sound-slider {
    border-top: 1px solid;
  }

  input[type=range] {
    width: 100%;
    margin: $s2 0;
  }
  input[type=number] {
    width: 150px;
  }

  button[value=remove] {
  }

  button[value=play] {
    span.pause {
      display: none;
    }
  }
  button[value=pause] {
    span.play {
      display: none;
    }
  }
}