@import "system/utilities";

button[value=add] {
  display: block;
  margin: auto;
  margin-bottom: $s6;
}

.sound-slider {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: $s2;
  border-radius: $border-radius;
  border: 2px solid $palette--divider-color;
  @include paragraph;

  input[type=range] {
    width: 100%;
    margin: $s2 0;
  }
  input[type=number] {
    width: 150px;
  }

  button[value=remove] {
    margin: 0;
  }

  button[value=play],
  button[value=pause] {
    margin: 0;

    span {
      margin-left: $s1;
    }
  }

  button[value=play] {
    span.pause {
      display: none;
    }
  }
  button[value=pause] {
    span.play {
      display: none;
    }
  }
}