@import "system/utilities";
@import "modules/code";
@import "modules/sticky-stacky";

.sticky-container {

  .sticky-stacky {
    width: 100%;

    &.default-styles {
      width: 100%;
      padding: $s1 $s2;
      @include palette--header;
      text-align: center;

      transition-duration: 0s;
    }
  }
}
