@import "system/utilities";

answer, answer-array {
  display: block;
  text-align: center;
  margin-top: $s6;
  margin-bottom: $s6;
}

answer-array {
  a:after {
    content: ',';
  }

  a:last-of-type:after {
    content: '';
  }
}

canvas#star {
  width: 90vh;
  max-width: 90vw;

  height: 90vw;
  max-height: 90vh;

  margin: auto;
  display: block;
  transform: rotate(-90deg);
}



form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    padding: 0 $s1;
  }

  span,
  label {
    display: inline-flex;
    align-items: center;
  }
}
