@import "system/utilities";

ul li {
  list-style: disc;
  margin-left: $s4;
}

.posts.yahtzee {
  display: grid;
  align-items: center;
  justify-content: center;

  .game-container {
    @include margin-center;
    display: grid;
    justify-content: center;
    grid-gap: $s2;
    margin-top: $s6;
    width: css-min(100%, 360px);

    label {
      @include type--body;
      padding: 0 $s2;
      width: 160px;
      margin-bottom: unset;
    }
  }

  button,
  .button {
    margin: unset;
  }

  #roll {
    width: 100%;
    height: 3em;

    &::before {
      content: attr(data-rolls-left);
      display: inline-flex;
      width: 1.5em;
      height: 1.5em;
      margin-left: 0.4em;
      margin-right: 0.5em;
      border: 2px solid;
      border-radius: 1em;
      align-items: center;
      justify-content: center;
    }

    &.locked {
      opacity: .7;
      pointer-events: none !important;
    }
  }

  #dice {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: $s2;

    button {
      @include button-link;
      height: 37px;
      padding: 0 $s2;
      margin: unset;
    }
  }

  [id^="die-"] {
    &[value="0"] {
      pointer-events: none !important;
    }
    &.locked {
      border-color: transparent !important;
    }
  }

  .locked button {
    pointer-events: none !important;
    border-color: transparent !important;
  }

  #score-board {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $s6;

    @include mq($medium) {
      grid-template-columns: 1fr 1fr;
    }
  }

  [data-rolls-left="3"] {
    button {
      pointer-events: none !important;
    }
  }

  .column {
    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: $s1;
      position: relative;
      align-items: center;
    }
  }
  .score {
    @include button-link;
    min-width: 72px;
    text-align: center;
    margin-left: $s2;
    display: inline-block;
    padding: 0 $s3;
    font-family: $sans-serif;
    margin: unset;
  }

  #total {
    display: flex;
    justify-content: space-between;
    padding-top: $s1;
    border-top: $s1/3 solid;

    @include mq($medium) {
      width: calc(50% - #{$s6});
    }
  }

  #kind-total,
  #bonus,
  #total {
    .score {
      pointer-events: none !important;
      border-color: transparent !important;
    }
  }
}
