---
title: "Where Does Green End and Blue Begin?"
description: "My wife and I grew up in different parts of the United States, and do not agree on where blue ends and green begins. We are going to explore that."
date: 2022-01-14
priority: 0.8
sitePalette: 'grey'
pageClasses:
  - 'posts blue-green'
layout: base
styles:
  - 'main'
  - 'posts/blue-green'
scripts:
  - 'posts/blue-green'
---

<p>Is this more blue or more green?</p>

<div id=canvas class=canvas ></div>

<div class=buttons>
  <button id=blue-button >More blue</button>
  <button id=green-button >More green</button>
  <button id=submit >I'm unsure</button>
</div>

<div class=reveal style="display: none;">
  <div class=chart id=chart >
    <span>Blue</span>
    <span>Green</span>
    <div class=blue ></div>
    <div class=green ></div>
  </div>
  <button id=reset >Try again</button>
</div>