---
title: "Canvas Static"
description: "I was curious to see what it would look like to have a random number generator render the coordinates of the random numbers, through a canvas to see if there's a pattern in the random numbers"
date: 2023-09-04
priority: 0.8
pageClasses:
  - 'posts canvas-static'
layout: base
styles:
  - 'main'
  - 'posts/canvas-static'
scripts:
  - 'posts/canvas-static'
---

<section>
  <div class="content">
    <canvas id="canvas"></canvas>
  </div>
</section>