---
title: "Optical Illusion: Circle Waves"
description: "I saw this cool optical illusion that I post would be fun to build. I was curious to see what this illusion would look like when it animated. Check it out."
date: 2022-06-26
priority: 0.8
pageClasses:
  - 'posts circle-wave-illusion'
layout: base
styles:
  - 'main'
  - 'posts/circle-wave-illusion'
scripts:
  - 'posts/circle-wave-illusion'
---

<div class="container form">
  <label>
    <span>Animate</span>
    <button id="animate-trigger" class="link">
      <%- img({ src: '/images/icons/play.svg', classes: ['play'] }); %>
      <%- img({ src: '/images/icons/pause.svg', classes: ['pause'] }); %>
    </button>
  </label>
  <label>
    <span>Animation Speed</span>
    <input type="range" min="1" max="60" step="1" value="15" />
  </label>
</div>

<div class="container circle-container">
  <%
    const squareSize = 30;
    for (let i = 0; i < (squareSize**2); i++) {
  %>
    <span class="circle"></span>
  <% } %>
</div>
