---
title: "Posts"
altTitle: "Posts__and__Experiments"
description: "This area of my website is intended to act somewhat like a blog. But none of these are really blog posts or articles. They are more like a collection of posts and experiments. Here you will find no seriousness, no professional tone, and no strict rules, just my own personal take on things."
date: 2016-09-01
priority: 0.9
pageClasses:
  - 'posts'
  - 'index'
layout: base
styles:
  - 'main'
  - 'posts/index'
---

<section>
  <div class="container">
    <%- partial('posts-list', Object.assign(locals, { headingLevel: 2 })); %>
  </div>
</section>
