---
title: "Line Circle Rotator"
description: "If you animate a ball moving from one side of a line to another and back again, and delay the animation just the right amount, you'll end up with an interesting effect."
date: 2022-01-16
priority: 0.8
pageClasses:
  - 'posts line-circle-rotator'
layout: base
styles:
  - 'main'
  - 'posts/line-circle-rotator'
scripts:
  - 'posts/line-circle-rotator'
---

<p>
  Use the dropdown selector below to choose the number of lines/balls used in the animation.
</p>

<select id=select ></select>

<div class="circle"></div>