---
title: "Code Tip: My Favorite Terminal Aliases"
description: "Here are a few aliases that make my life easier. Do you ever forget what the source command is?"
date: 2018-11-04
priority: 0.8
pageClasses:
  - 'posts'
layout: base
styles:
  - 'main'
  - 'posts/code'
---

<article class="content" itemscope itemtype="https://schema.org/BlogPosting">

<%
  const explainShell = (cmd) => `https://explainshell.com/explain?cmd=${cmd}`;
  const pruneRepo = 'git branch | grep -ve " master$" | xargs git branch -D';
%>

<%- code(
`alias push="git push -u origin HEAD"
alias src="source ~/.zshrc"
alias prune-repo='${pruneRepo}'
`); %>

  <p>
    <%- noWidows("After creating a new git branch, the best way to push the branch up to the remote location is with this <tag>push</tag> command."); %>
  </p>

  <p>
    <%- noWidows("If you need to reload your terminal settings because you made a change to your .zshrc or .bashrc file, it’s cumbersome to remember the source command. This <tag>src</tag> command saves some key strokes and you don’t have to remember anything."); %>
  </p>

  <p>
    <%- noWidows("Sometimes, when you have checked out many Git branches, those branches will eventually go stale. It can be a slow process to checkout a branch that is thousands of commits behind master locally, when you know the remote branch is closer to, or even ahead of master. <tag>prune-git</tag> will delete all branches that are not <tag>master</tag>. Then, when you checkout any remote branch, you will get exactly what is in the remote."); %>
  </p>

</article>