---
title: "Canvas: Raining Paint"
description: "Another canvas experiment to relax your brain. Balls of color dripping down the canvas and painting the background."
date: 2018-05-28
priority: 0.8
layout: base
styles:
  - 'main'
  - 'posts/raining-paint'
scripts:
  - 'posts/raining-paint'
---

<form class="p">
  <label>
    <input id=color type="checkbox" name="color" checked/>&nbsp;Color
  </label>
</form>

<canvas id="canvas"></canvas>