---
title: ""
description: ""
date: 2023-11-06
priority: 0.8
pageClasses:
  - 'posts sound-pad'
layout: base
styles:
  - 'main'
  - 'posts/sound-pad'
scripts:
  - 'posts/sound-pad'
---

<sound-pad>
  <pad-component></pad-component>
  <select>
    <option value="sine">Sine</option>
    <option value="sawtooth">Sawtooth</option>
    <option value="square">Square</option>
    <option value="triangle">Triangle</option>
  </select>
</sound-pad>

<div>Volume: <span id="volume"></span></div>
<div>Frequency: <span id="frequency"></span> Hz</div>