---
title: "Wordscapes Solver"
description: "Sometimes I play the game Wordscapes on my phone or tablet, and I think to myself that the making a solver would not be that hard. Here's what I've come up with."
date: 2022-12-24
priority: 0.8
pageClasses:
  - 'posts wordscapes-solver'
layout: base
styles:
  - 'main'
  - 'posts/wordscapes-solver'
scripts:
  - 'posts/wordscapes-solver'
---

<div class="container section">
  <h2>
    How to play Wordscapes
  </h2>

  <p>
    Wordscapes is a word puzzle game in which you have to form words using letters on a grid. The objective of the game is to find all the words hidden in the grid to progress to the next level.
  </p>

  <p>
    Here's how to play Wordscapes:
  </p>

  <ol>
    <li>
      The game will display a grid of letters and a list of words that you need to find. The words are related to a specific theme for that level.
    </li>

    <li>
      To form a word, you must select adjacent letters in the grid by swiping your finger or clicking on them with a mouse. You can select letters in any direction: horizontally, vertically, or diagonally.
    </li>

    <li>
      Once you have formed a word, it will be highlighted on the list of words and the letters in the grid will disappear.
    </li>

    <li>
      Once you've found all the words in the list, you will advance to the next level.
    </li>
  </ol>
</div>

<div class="container section">
  <h2>
    My solver's dictionary
  </h2>
  <p>
    The dictionary that I am using does include a copy of Webster's English dictionary, as noted below it is the 2009 version provided by the Gutenberg project and has known errors and omissions. Finally, Wordscapes ignores some valid words from the dictionary. As such, the results provided here should cover all of the answers in the game, but may include some words that the game will reject.
  </p>
</div>

<section>
  <div class="container">
    <header>
      <h2>
        What are the letters?
      </h2>
    </header>

    <form id="form" class="p">

      <input type="text" id="input" />

      <button id="button" >Solve</button>

    </form>
  </div>
</section>


<section>
  <div class="container">
    <header>
      <h2>
        The calculated results
      </h2>
    </header>

    <div id="results" class="p">

    </div>
  </div>
</section>


<section>
  <div class="container">
    <header>
      <h2>
        Citations
      </h2>
    </header>
    <ol class="p">
      <li>
        Wordscapes:
        <%- inlineLink('Google Play Store', {
          href: 'https://play.google.com/store/apps/details?id=com.peoplefun.wordcross&hl=en_US&gl=US',
        }); %>
        or
        <%- inlineLink('Apple App Store', {
          href: 'https://apps.apple.com/us/app/wordscapes/id1207472156',
        }); %>
      </li>
      <li>
        Dictionary: <%- inlineLink('Github', {
          href: 'https://github.com/matthewreagan/WebstersEnglishDictionary',
        }); %>
      </li>
    </ol>
  </div>
</section>
