<!DOCTYPE html>
<html>
<head>
  {{> meta }}
</head>
<body>
  {{> header }}
  <main {{#if pageClass}} class="{{pageClass}}" {{/if}}>
    <header class="content">
      {{#unless altTitle}}
        {{#if title}}
          <h1>{{ title }}</h1>
        {{/if}}
      {{else}}
        <h1>{{ altTitle }}</h1>
      {{/unless}}

      {{#if description}}
        <p class="description">
          {{ description }}
        </p>
      {{/if}}
    </header>

		{{{ contents }}}

  </main>
  {{> footer }}
  <script src="/js/anders.js"></script>
</body>
</html>
