@import "system/variables/colors";


$palette--primary-white:  $color--white;
$palette--primary-grey:   $color--grey-900;
$palette--hover-grey:   $color--grey-800;
$palette--secondary-grey: $color--grey-600;
$palette--divider-color:  $color--yellow-900;
$palette--error: $color--red-400;

$palette--primary-color-dark:  darken($color--orange-900, 5);
$palette--primary-color-light: $color--yellow-900;
$palette--accent-color:        $color--green-a200;
