@import "./colors";


$palette--primary-color-text--white:   $color--white;
$palette--primary-text-color--dark:   $color--grey-900;
$palette--secondary-text-color: $color--grey-600;
$palette--divider-color:        $color--grey-400;

$palette--primary-color-dark: $color--green-800;
$palette--primary-color: $color--green-600;
$palette--primary-color-light: $color--green-100;
$palette--accent-color: $color--red-a200;
