@import "./defaults";

$s1:  $base-unit *  1;
$s2:  $base-unit *  2;
$s3:  $base-unit *  3;
$s4:  $base-unit *  4;
$s5:  $base-unit *  5;
$s6:  $base-unit *  6;
$s7:  $base-unit *  7;
$s8:  $base-unit *  8;
$s9:  $base-unit *  9;
$s10: $base-unit * 10;
$s11: $base-unit * 11;
$s12: $base-unit * 12;
$s13: $base-unit * 13;
$s14: $base-unit * 14;
$s15: $base-unit * 15;
$s16: $base-unit * 16;
$s17: $base-unit * 17;
$s18: $base-unit * 18;
$s19: $base-unit * 19;
$s20: $base-unit * 20;

$section-spacer: $s20;
$paragraph-bottom: $s6;
$content-max-width: 170 * $s1;
