<style><%- inlineScss('/styles/modules/footer.scss'); %></style>

<footer class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>" role="navigation" aria-label="Site footer">
  <ul class="content">
    <li>
      <% const date = new Date(); %>
      &copy; <%- date.getFullYear(); %>
    </li>
    <li>
      <% const contactLinks = [
          { copy: 'Twitter', url: locals.twitter, },
          { copy: 'Last.fm', url: locals.lastfm, },
          { copy: 'Github', url: locals.github, },
          { copy: 'LinkedIn', url: locals.linkedin, },
        ].map(item => {
          return externalLink(item.copy, {
            href: item.url,
          });
        });
      %>
      <%- contactLinks.join(' - '); %>
    </li>
  </ul>
</footer>
