<footer class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
  <ul class="content">
    <li>
      <% const date = new Date(); %>
      &copy; <%- date.getFullYear(); %>
    </li>
    <li>
      <% const contactLinks = [
          { copy: 'Twitter', url: locals.twitter, },
          { copy: 'Last.fm', url: locals.lastfm, },
          { copy: 'Github', url: locals.github, },
          { copy: 'LinkedIn', url: locals.linkedin, },
        ].map(item => {
          return `
          <a href="${item.url}"
            itemprop="url"
            target="blank"
            rel="noopener">
            ${item.copy}
          </a>`;
        });
      %>
      <%- contactLinks.join(' - ') %>
    </li>
  </ul>
</footer>
