<footer>
  <div class="content">
    <p>
      &copy; 2016 <a itemprop="url" href="{{ contact }}" title="{{ author }}">
        <span itemprop="author">{{ author }}</span>
      </a>
    </p>

    <p>
      <a itemprop="url" href="https://github.com/briananders/metalsmith-briananders.net"
         title="Github repo for this site"
         target="blank">
        Github repo for this site
      </a>
    </p>

    <p class="siteinfo">{{#if devBuild}}Development{{else}}Production{{/if}} build, version {{ version }}, {{ template }} template</p>
  </div>
</footer>
