<%- partial('head/styles', {...locals, path: 'modules/footer' }); %>

<footer class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>" role="navigation" aria-label="Site footer">
  <ul class="content">
    <li>
      <% const date = new Date(); %>
      &copy; <%- date.getFullYear(); %>
    </li>
    <li>
      <% const contactLinks = [
          { copy: 'Bat Lessons',  href: locals.batLessons          },
          { copy: 'Coyote Drums', href: locals.coyoteDrums.path    },
          { copy: 'Github',       href: locals.github              },
          { copy: 'Instagram',    href: locals.instagram           },
          { copy: 'Last.fm',      href: locals.lastfm              },
          { copy: 'LinkedIn',     href: locals.linkedin            },
          { copy: 'Mastodon',     href: locals.mastodon,           rel: 'me' },
          { copy: 'Twitter',      href: locals.twitter             },
          { copy: 'YouTube',      href: locals.coyoteDrums.youtube },
        ].map(item => {
          return externalLink(item.copy, item);
        });
      %>
      <%- contactLinks.join(' - '); %>
    </li>
  </ul>
</footer>
