<footer class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
  <ul class="content">
    <li>
      <% const date = new Date(); %>
      &copy; <%- date.getFullYear(); %>
    </li>

    <li>
      <a itemprop="url" href="https://github.com/briananders/briananders.net"
         target="blank">
        Github
      </a>
    </li>

    <li>
      <a itemprop="url" href="https://www.last.fm/user/iBrianAnders"
         target="blank">
        Last.fm
      </a>
    </li>
  </ul>
</footer>
