<header class="main-header">
  <div class="faces"></div>
  <div class="brian-anders">
    <a itemprop="url" href="/">
      <span itemprop="name"><%- locals.name %></span>
    </a>
  </div>
</header>
<aside id="nav-aside">
  <button type="button" id="menu-open">menu</button>
  <%- partial('nav', locals) %>
</aside>
