<%- partial('nav', locals) %>
<header class="main-header">
  <h1 itemprop="title" class="name content">
    <% if (locals.altTitle !== undefined) { %>
      <%- locals.altTitle %>
    <% } else if (locals.title !== undefined) { %>
      <%- locals.title %>
    <% } %>
  </h1>
</header>
