<link rel="stylesheet" media="all" href="/styles/modules/header.css">

<div id="skip-nav" tabindex="-1" data-state=inactive>
  <a href="#skip-to-main">Skip navigation</a>
</div>
<%- partial('nav', locals); %>
<% if(!locals.homepage) { %>
  <header class="main-header <%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
    <h1 itemprop="title" class="name content">
      <% if (locals.altTitle !== undefined) { %>
        <%- noWidows(locals.altTitle) %>
      <% } else if (locals.title !== undefined) { %>
        <%- noWidows(locals.title) %>
      <% } %>
    </h1>
  </header>
<% } %>
