<% const imageString = img({
      src: '/images/logo.svg',
      alt: 'Brian Anders logo',
      width: '200',
      height: '68',
    }) %>
<nav class="nav main" role="navigation" aria-label="Main navigation">
  <div class="content">
    <%- link(imageString, {
      href: '/',
      class: 'brand',
      'aria-label': 'Brian Anders home page',
    }) %>
    <button id="activate-menu" class="menu link" aria-expanded="false" aria-controls="nav-tray">
      Menu
    </button>
    <div aria-hidden="true" role="menu" id="nav-tray">
      <%- link('Main', {
        href: '/',
        class: 'nav-link',
        role: 'menuitem',
      }) %>
      <%
        let basePages = getChildPages('');
        basePages.forEach(({ url, data }) => {
      %>
        <%- link(data.title, {
          href: `/${url}`,
          class: 'nav-link',
          role: 'menuitem',
        }) %>
      <% }); %>
    </div>
  </div>
</nav>
