<nav class="nav main" aria-label="Main navigation">
  <div class="content">
    <%- link(locals.name, { class: "brand", href: "/", title: locals.name, }) %>
    <button id="activate-menu" class="menu link" aria-expanded="false" aria-controls="mobile-nav-tray">
      Menu
    </button>
    <div class="mobile-nav-tray" id="mobile-nav-tray" aria-hidden="true" role="menu" style="display: none;">
      <%- link('Main', { href: '/', role: 'menuitem', }) %>
      <%
        var basePages = getChildPages('');
        for(var i = 0; i < basePages.length; i++) {
          var page = basePages[i];
      %>
        <%- link(page.data.title, { href: `/${page.url}`, role: 'menuitem', }) %>
      <% } %>
    </div>
  </div>
</nav>