<nav class="nav main" role="menu">
  <a itemprop="url" role="menuitem" href="/">Home</a>
  <a itemprop="url" role="menuitem" href="/experience/">Experience</a>
  <a itemprop="url" role="menuitem" href="/thoughts/">Thoughts</a>
</nav>