@import "system/utilities";

.example.ssr {

  .square {
    width: 20px;
    height: 20px;
    background-color: magenta;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  .container {
    overflow: hidden;
  }
}
