---
title: "Lit Experiment: Variation Server Side Render"
description: ""
date: 2023-09-15
robots: false
pageClasses:
  - 'example ssr'
layout: base
styles:
  - 'main'
  - 'example/ssr-csr-performance-experiement/ssr'
scripts:
  - 'example/ssr-csr-performance-experiement/ssr'
---

<div class="container">
<%
  function randomColor() {
    const randomRed = Math.floor(Math.random() * 256);
    const randomGreen = Math.floor(Math.random() * 256);
    const randomBlue = Math.floor(Math.random() * 256);

    return `rgb(${randomRed},${randomGreen},${randomBlue})`;
  }

  for (var x = 0; x < 1000; x++) {
%>

  <div class="square" style="background-color: <%- randomColor() %>;"></div>

<%
  }
%>
</div>