main.main.index {

  li.podcast,
  li.movie {
    width: 50%;
    float: left;
    margin-bottom: 30px;

    &:nth-child(2n+1) {
      clear: left;
    }
  }

  .center {
    text-align: center;
  }

  a.see-more {
    text-align: center;
    display: inline-block;
    padding: 0 1em;
    border: 1px solid;
    line-height: 3;
    text-decoration: none;
  }
}