@import "lib/normalize";
@import "lib/base-styles";

@import "index";
@import "four-oh-four";
@import "experience/all";
@import "thoughts/all";

@import "modules/header";
@import "modules/footer";

.clearfix {
  overflow: auto;
  clear: both;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  color: $black;

  ::selection {
    background: $off-white; /* Safari */
    color: $grey;
    @include text-shadow(none);
  }
  ::-moz-selection {
    background: $off-white; /* Firefox */
    color: $grey;
    @include text-shadow(none);
  }
}

body {
  line-height: 1.3;
}

.content {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  @include font-size(15);

  @include mq(768px) {
    padding: 0 30px;
    @include font-size(18);
  }
}

* {
  @include box-sizing(border-box);
}

h1, h2, h3 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  @include font-size(50);
  margin-bottom: 0.5em;
}

h2 {
  @include font-size(30);
  margin-bottom: 0.5em;
}

h3 {
  @include font-size(20);
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

p {
  max-width: 600px;
  margin: auto;
  text-align: justify;
  margin-bottom: 1em;
}

section {
  padding-top: 40px;
  max-width: 1280px;
}
