@import "../variables/all";

@mixin pallette--base {
  background-color: $pallette--primary-text-color--dark;
  color: $pallette--primary-color-text--white;
}

@mixin pallette--base--inverted {
  background-color: $color--white;
  color: $pallette--primary-text-color--dark;
}

@mixin pallette--primary {
  color: $pallette--primary-color-text--white;
  background-color: var(--primary-color-dark, #{$pallette--primary-color-dark});
}

@mixin pallette--primary--active {
  color: $pallette--primary-color-text--white;
  background-color: var(--primary-color, #{$pallette--primary-color});
}

@mixin pallette--header {
  color: $pallette--primary-color-text;
  background-color: var(--primary-color-dark, #{$pallette--primary-color-dark});
}