@import "../variables/all";

@mixin palette--base {
  background-color: $palette--primary-text-color--dark;
  color: $palette--primary-color-text--white;
}

@mixin palette--base--inverted {
  background-color: $color--white;
  color: $palette--primary-text-color--dark;
}

@mixin palette--primary {
  color: $palette--primary-color-text--white;
  background-color: $palette--primary-color-dark;
}

@mixin palette--primary--active {
  color: $palette--primary-color-text--white;
  background-color: $palette--primary-color;
}

@mixin palette--header {
  color: $palette--primary-color-text--white;
  background-color: var(--primary-color-dark, #{$palette--primary-color-dark});
}
