@import "../variables/all";

@mixin html {
  min-height: 100%;
  font-size: 62.5%;
  position: relative;
  @include type--regular-serif;
  @include font-size;
  overflow-x: hidden;
  @include pallette--base;
}

@mixin selection {
  ::selection,
  ::-moz-selection {
    text-shadow: none;
    @include pallette--base--inverted;
  }
}

@mixin section {
  max-width: $grid--max-width;
  @include margin-center;
  margin-bottom: $section-spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin input {
  min-width: $s10;
}

@mixin link-focus {
  transition-property: color, background-color;

  &:focus {
    color: $color--white;
    background-color: $color--grey-800 !important;
  }
}

@mixin link-hover {
  transition-property: color, background-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-radius: $border-radius;
    left: -$s1;
    top: -$s1;
    width: calc(100% + #{$s2});
    height: calc(100% + #{$s2});
    opacity: 0;
    transition-property: opacity;
    transition-duration: $transition-speed;
    z-index: 1000;

    box-shadow: 0 0 0 2px var(--primary-text-color, #{$pallette--primary-text-color});

    @include dark-mode {
      box-shadow: 0 0 0 2px var(--primary-color-text, #{$pallette--primary-color-text});
    }
  }

  &:hover::after {
    opacity: 1;
  }
}

@mixin inline-link {
  padding: 0 $s1;
  display: inline-block;
  text-decoration: none;
  @include pallette--primary;
}

@mixin block-link {
  padding: 0 $s1;
  display: inline-block;
  text-decoration: none;
  @include pallette--base;

  &:focus {
    background-color: $color--grey-200 !important;

    @include dark-mode {
      background-color: $color--grey-800 !important;
    }
  }
}

@mixin interactive {
  cursor: pointer;
  text-decoration: none;
  @include interactive-outline;
  transition-duration: $transition-speed;
  transition-timing-function: ease;
  @include link-hover;
  @include link-focus;
}

@mixin interactive-outline {
  outline-color: var(--accent-color, #{$pallette--accent-color});
}

@mixin interactive-border {
  border: 2px solid var(--primary-color-dark, #{$pallette--primary-color-dark});
}

@mixin button {
  text-align: center;
  display: inline-block;
  padding: $s2 $s6;
  border-radius: $border-radius;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: $bold;
  transition-property: background-color;
  color: $pallette--primary-color-text;
  background-color: var(--primary-color-dark, #{$pallette--primary-color-dark});
  border: 2px solid var(--primary-color-dark, #{$pallette--primary-color-dark});

  @include dark-mode {
    background-color: transparent;
  }

  &::before {
    height: 0;
  }
}

@mixin content-width {
  max-width: $content-max-width;
  @include margin-center;
}

@mixin content {
  @include content-width;
  position: relative;
  padding: 0 $s2;

  @include mq($medium) {
    padding: 0 $s5;
  }
}

@mixin paragraph {
  width: 100%;
  max-width: $grid--copy-max-width;
  @include margin-center;
  margin-bottom: $paragraph-bottom;
  @include font-size(3);

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin paragraph-margin {
  &,
  &:last-child {
    margin-bottom: $paragraph-bottom;
  }
}

@mixin citation {
  float: right;

  &::before {
    display: inline;
    content: '-';
  }

  a {
    @include font-size;
    text-decoration: none;
  }
}

@mixin quotation {
  padding: $s5 $s5;
  overflow: hidden;
  max-width: 500px;
  @include margin-center;
  margin-bottom: $s6;
  @include font-size(3);
  background-color: var(--primary-color-light, #{$pallette--primary-color-light});
  color: $pallette--primary-text-color;

  @include dark-mode {
    background-color: transparent;
    border: 2px solid var(--primary-color-dark, #{$pallette--primary-color-dark});
    color: $pallette--primary-color-text;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }

    &::after,
    &::before {
      content: '"';
    }
  }
}

@mixin label {
  @include font-size(3);
  padding: 0 $s3;
  @include type--regular-sans-serif;
}

@mixin list {
  @include paragraph;
}

@mixin list-item {
  margin-bottom: $s3;
  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin button-select {
  @include font-size;
}

@mixin mega-button {
  padding: $s2 $s4;
}
