@import "system/variables/all";

@mixin html {
  min-height: 100%;
  font-size: 62.5%;
  position: relative;
  @include type--regular-serif;
  @include font-size;
  overflow-x: hidden;
  @include palette--base;

  --palette--primary-white: #{$palette--primary-white};
  --palette--primary-grey: #{$palette--primary-grey};
  --palette--secondary-grey: #{$palette--secondary-grey};
  --palette--divider-color: #{$palette--divider-color};
  --palette--error: #{$palette--error};
  --palette--primary-color-dark: #{$palette--primary-color-dark};
  --palette--primary-color-light: #{$palette--primary-color-light};
  --palette--accent-color: #{$palette--accent-color};
}

@mixin selection {
  ::selection,
  ::-moz-selection {
    text-shadow: none;
    @include palette--base--inverted;
    background: red;
  }
}

@mixin section {
  max-width: $grid--max-width;
  @include margin-center;
  margin-bottom: $section-spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin input {
  min-width: $s12;
}

@mixin link-focus {
  transition-property: color, background-color;

  &:focus {
    color: $palette--primary-white;
    background-color: $color--grey-800 !important;
  }
}

@mixin link-hover {
  transition-property: color, background-color;
  position: relative;
  transition-property: opacity;
  transition-duration: $transition-speed;

  &:hover {
    border-radius: $border-radius;
    box-shadow: 0px 0px 0px 6px $palette--primary-grey, 0px 0px 0px 8px $palette--primary-color-light;
  }
}

@mixin inline-link {
  padding: 2px $s1 0px;
  display: inline-block;
  text-decoration: none;
  position: relative;

  &:not(.block) {
    @include palette--primary;
  }

  &::before {
    content: '';
    min-height: 48px;
    min-width: 48px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }
}

@mixin block-link {
  padding: 0 $s1;
  display: inline-block;
  text-decoration: none;
  @include palette--base;

  &:focus {
    background-color: $color--grey-800 !important;
  }
}

@mixin interactive {
  cursor: pointer;
  text-decoration: none;
  @include interactive-outline;
  transition-duration: $transition-speed;
  transition-timing-function: $transition-timing;
  @include link-hover;
  @include link-focus;
}

@mixin interactive-outline {
  outline-color: $palette--accent-color;
}

@mixin interactive-border {
  border: 2px solid $palette--divider-color;;
}

@mixin button {
  text-align: center;
  display: inline-block;
  padding: $s2 $s6;
  margin: $s2;
  border-radius: $border-radius;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: $bold;
  transition-property: background-color;
  color: $palette--primary-white;
  border: 2px solid $palette--divider-color;
  background-color: transparent;

  &::before {
    height: 0;
  }
}

@mixin content-width {
  max-width: $content-max-width;
  @include margin-center;
}

@mixin content {
  @include content-width;
  position: relative;
  padding: 0 $s2;

  @include mq($medium) {
    padding: 0 $s6;
  }
}

@mixin paragraph {
  width: 100%;
  @include sixHundred;
  margin-bottom: $paragraph-bottom;
  @include type--body;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin paragraph-margin {
  &,
  &:last-child {
    margin-bottom: $paragraph-bottom;
  }
}

@mixin citation {
  float: right;

  &::before {
    display: inline;
    content: '-';
  }

  a {
    @include font-size;
    text-decoration: none;
  }
}

@mixin quotation {
  padding: $s6 $s6;
  overflow: hidden;
  max-width: 500px;
  @include margin-center;
  margin-bottom: $s6;
  @include type--heading-4;
  background-color: transparent;
  border: 2px solid $palette--divider-color;;
  color: $palette--primary-white;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }

    &::after,
    &::before {
      content: '"';
    }
  }
}

@mixin label {
  @include type--heading-4;
  padding: 0 $s3;
  @include type--regular-sans-serif;
}

@mixin list {
  @include paragraph;
}

@mixin list-item {
  margin-bottom: $s3;
  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin button-select {
  @include font-size;
}

@mixin mega-button {
  padding: $s2 $s4;
}
