<div class="overflow-hidden">
  <h2>Top Albums</h2>
  {{album-scrobbles-section length=12 showDescription=true}}
</div>

<div class="overflow-hidden">
  <h2>Top Artists</h2>
  {{artist-scrobbles-section length=12 showDescription=true}}
</div>
