@import "system/utilities";
@import "modules/youtube-modal";
@import "modules/contributions";

.experience-content {
  position: relative;
  @include margin-center;
  padding: 0 $s2;
  max-width: 624px;
}

section {
  h2[lazy] {
    width: 100%;
    height: 0;
    padding-top: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;
    color: transparent;

    a,
    a:visited {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: transparent !important;
      background-color: transparent !important;

      &::before {
        height: 0;
      }
    }
  }
}


section.resources {
  ul {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    display: block;
    margin-bottom: $s2;
    margin-right: $s2;
  }
}
