@import "lib/base-styles";


section {
  padding-bottom: 0;

  a {
    color: inherit;
    font-weight: 700;
  }

  &.nest {
    background-color: #2FC9EF;
    color: $white;

    p a {
      color: $white;
    }
    h2 {
      background-color: #2FC9EF;
      background-image: url('/images/work/nest.png');
    }
  }
  &.principal {
    background-color: #FFFFFF;

    h2 {
      background-color: #FFFFFF;
      background-image: url('/images/work/principal.jpg');
      @include retina() {
        background-image: url('/images/work/principal_2x.jpg');
      }
    }
  }
  &.smith {
    background-color: #EFEFEF;

    h2 {
      background-color: #EFEFEF;
      background-image: url('/images/work/smith.png');
      background-size: auto 70%;
    }
  }
  &.graceland {
    background-color: #FFFFFF;

    h2 {
      background-color: #FFFFFF;
      background-image: url('/images/work/graceland.jpg');
    }
  }
  &.anders-crane {
    background-color: #F5B547;

    // a:visited {
    //   color: $black;
    // }
    h2 {
      background-color: #F5B547;
      background-image: url('/images/work/anders.png');
    }
  }

  h2 {
    width: 100%;
    height: 0;
    padding-top: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;
    color: transparent;

    a {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: transparent;
    }
  }
}







section.resources {
  ul {
    text-align: center;
  }
  li {
    margin: auto;
    display: inline-block;
    background: $cloud;
    margin-bottom: 4px;

    a,
    a:visited {
      display: inline-block;
      padding: 10px;
      position: relative;
      text-decoration: none;
      color: $green;
      @include transition(color .2s ease-out);

      &:before {
        position: absolute;
        bottom: 0;
        height: 5px;
        background: $green;
        content: "";
        left: 51%;
        right: 51%;
        @include transition(left .2s ease-out, right .2s ease-out);
      }

      &:hover,
      &:focus,
      &:active {
        color: $black;

        &:before {
          left: 0;
          right: 0;
        }
      }
    }
  }
}