@import "system/utilities";
@import "../modules/youtube-modal";
@import "../modules/contributions";


section {
  &.google-store {
    h2[lazy] {
      background-color: #FFFFFF;
      --background-image: url('/images/experience/google-store.svg');
    }
  }
  &.nest {
    h2[lazy] {
      background-color: #2FC9EF;
      --background-image: url('/images/experience/nest.webp');
    }
  }
  &.principal {
    h2[lazy] {
      background-color: #FFFFFF;
      --background-image: url('/images/experience/principal_2x.webp');
    }
  }
  &.smith {
    h2[lazy] {
      background-color: #fafafa;
      --background-image: url('/images/experience/smith.webp');
      background-size: auto 70%;
    }
  }
  &.graceland {
    h2[lazy] {
      background-color: #FFFFFF;
      --background-image: url('/images/experience/graceland.webp');
    }
  }
  &.anders-crane {
    h2[lazy] {
      background-color: #F5B547;
      --background-image: url('/images/experience/anders.webp');
    }
  }

  h2[lazy] {
    width: 100%;
    height: 0;
    padding-top: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;
    color: transparent;

    a,
    a:visited {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: transparent !important;
      background-color: transparent !important;

      &::before {
        height: 0;
      }
    }
  }
}


section.resources {
  ul {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    display: block;
    margin-bottom: $s2;
    margin-right: $s2;
  }
}