<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
  <script>
    function setSitePallette() {
      var pallettes = [
        'red',
        'pink',
        'purple',
        'deep-purple',
        'indigo',
        'blue',
        'light-blue',
        'cyan',
        'teal',
        'green',
        'light-green',
        'orange',
        'deep-orange',
        'brown',
        'grey',
        'blue-grey',
      ];
      var palletteIndex = Math.floor(Math.random() * pallettes.length);
      var pallette = pallettes[palletteIndex];
      var palletteRegex = new RegExp('pallette=([a-zA-Z\-]+)&?');
      var urlParams = new URLSearchParams(window.location.search);

      if (urlParams.has('pallette')) {
        pallette = urlParams.get('pallette');
      }

      document.documentElement.classList.add(pallette);
    }
    setSitePallette();
  </script>
  <%- partial('meta', locals); %>
  <script>
    window.onerror = function (msg, url, lineNo, columnNo, error) {
      var string = msg.toLowerCase();
      var message = [
        'Message: ' + msg,
        'URL: ' + url,
        'Line: ' + lineNo,
        'Column: ' + columnNo,
        'Error object: ' + JSON.stringify(error)
      ].join(' - ');

      dataLayer.push({
        event: 'gaEvent',
        gaCategory: 'javascript error',
        gaAction: message,
      });
    };
  </script>
</head>
<body>
  <%- content %>
</body>
</html>
